{
  "openapi": "3.0.4",
  "info": {
    "title": "Compliance Events",
    "description": "We are making updates to our collections. If you run into any issues pulling the latest changes, simply fork the collection again.\n\nLinkedIn provides Compliance API Guides for all monitoring, archiving, and management of communications for enterprises in regulated industries. The APIs will help your social interactions remain effective while ensuring compliance with corporate governance policies and major regulations.\n\nThe Compliance Events API allows applications to archive all LinkedIn activities from the past 30 days of a regulated, authenticated member. It returns each monitored activity as an individual event record to provide ease of archive and remediation if necessary.\n\nAll the variables used in this collection are defined in the `Compliance Events` environment.\n\nTo know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/compliance/).",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.linkedin.com"
    }
  ],
  "paths": {
    "/v2/memberComplianceAuthorizations": {
      "post": {
        "summary": "Opt in a member to be regulated",
        "operationId": "OptInAMemberToBeRegulated",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "get": {
        "summary": "Check a member's regulation status",
        "operationId": "CheckAMemberSRegulationStatus",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v2/memberComplianceAuthorizations/developerApplication=urn:li:developerApplication:%7Bdeveloper_application_id%7D&member=urn:li:person:%7Bperson_id%7D": {
      "delete": {
        "summary": "Opt out a member from being regulated",
        "description": "Opt out a member from being regulated on LinkedIn.\n\n**Note:** A member will not opt out of Compliance authorization due to access token expiration. The only ways an opt out can happen are:\n* Application invokes the DELETE API mentioned above\n* The regulated member removes the application's authorization through LinkedIn's Privacy Setting page. This can be found under the [Third Parties section](https://www.linkedin.com/psettings/permitted-services).\n\n\nTo know more, please [refer](https://docs.microsoft.com/en-us/linkedin/compliance/integrations/compliance-events/?context=linkedin/compliance/context#sample-get-response).",
        "operationId": "OptOutAMemberFromBeingRegulated",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v2/complianceEvents": {
      "get": {
        "summary": "Retrieve compliance events for a regulated member",
        "description": "Once the member has authorized to be regulated, the compliance events for the member can be retrieved using the `/v2/complianceEvents` API. \n\nTo know more on the response schema, refer [here](https://docs.microsoft.com/en-us/linkedin/compliance/integrations/compliance-events/?context=linkedin/compliance/context#compliance-events-schema).\n\nTo know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/compliance/integrations/compliance-events/?context=linkedin/compliance/context#compliance-events).",
        "operationId": "RetrieveComplianceEventsForARegulatedMember",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projection",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startTime",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    }
  },
  "components": { }
}