{
  "openapi": "3.0.4",
  "info": {
    "title": "Pages Data Portability",
    "description": "See our [online documentation](https://learn.microsoft.com/en-us/linkedin/dma/) to learn more about getting access and view API documentation.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.linkedin.com"
    }
  ],
  "paths": {
    "/rest/dmaOrganizations": {
      "get": {
        "summary": "dmaOrganizations BATCH_GET",
        "operationId": "dmaOrganizationsBATCHGET",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LinkedIn-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Restli-Protocol-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "results",
                    "statuses",
                    "errors"
                  ],
                  "type": "object",
                  "properties": {
                    "results": {
                      "required": [
                        "10002687"
                      ],
                      "type": "object",
                      "properties": {
                        "10002687": {
                          "required": [
                            "competitorOrganizationUrns",
                            "description",
                            "industriesV2",
                            "callToAction",
                            "alternativeNames",
                            "specialties",
                            "staffCountRange",
                            "localizedSpecialties",
                            "organizationalPage",
                            "primaryOrganizationType",
                            "id",
                            "localizedDescription",
                            "autoCreated",
                            "logoV2",
                            "vanityName",
                            "settings",
                            "localizedName",
                            "foundedOn",
                            "created",
                            "localizedTagline",
                            "organizationFieldStates",
                            "lastModifiedByAdmin",
                            "primaryPhoneNumber",
                            "coverPhotoV2",
                            "defaultLocale",
                            "organizationType",
                            "leadGenFormEntryPoint",
                            "entityStatus",
                            "name",
                            "tagline",
                            "parentCareersUsed",
                            "locations",
                            "revenueRecords",
                            "lastModified"
                          ],
                          "type": "object",
                          "properties": {
                            "competitorOrganizationUrns": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "description": {
                              "required": [
                                "localized",
                                "preferredLocale"
                              ],
                              "type": "object",
                              "properties": {
                                "localized": {
                                  "required": [
                                    "fr_FR",
                                    "en_US"
                                  ],
                                  "type": "object",
                                  "properties": {
                                    "fr_FR": {
                                      "type": "string"
                                    },
                                    "en_US": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "preferredLocale": {
                                  "required": [
                                    "country",
                                    "language"
                                  ],
                                  "type": "object",
                                  "properties": {
                                    "country": {
                                      "type": "string"
                                    },
                                    "language": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            },
                            "industriesV2": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "callToAction": {
                              "required": [
                                "active",
                                "redirectUrl",
                                "ctaType"
                              ],
                              "type": "object",
                              "properties": {
                                "active": {
                                  "type": "boolean"
                                },
                                "redirectUrl": {
                                  "type": "string"
                                },
                                "ctaType": {
                                  "type": "string"
                                }
                              }
                            },
                            "alternativeNames": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "specialties": {
                              "type": "array",
                              "items": {
                                "required": [
                                  "locale",
                                  "tags"
                                ],
                                "type": "object",
                                "properties": {
                                  "locale": {
                                    "required": [
                                      "country",
                                      "language"
                                    ],
                                    "type": "object",
                                    "properties": {
                                      "country": {
                                        "type": "string"
                                      },
                                      "language": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "tags": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            },
                            "staffCountRange": {
                              "type": "string"
                            },
                            "localizedSpecialties": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "organizationalPage": {
                              "type": "string"
                            },
                            "primaryOrganizationType": {
                              "type": "string"
                            },
                            "id": {
                              "type": "integer"
                            },
                            "localizedDescription": {
                              "type": "string"
                            },
                            "autoCreated": {
                              "type": "boolean"
                            },
                            "logoV2": {
                              "required": [
                                "cropped",
                                "cropInfo",
                                "original"
                              ],
                              "type": "object",
                              "properties": {
                                "cropped": {
                                  "required": [
                                    "downloadUrl",
                                    "downloadUrlExpiresAt",
                                    "status"
                                  ],
                                  "type": "object",
                                  "properties": {
                                    "downloadUrl": {
                                      "type": "string"
                                    },
                                    "downloadUrlExpiresAt": {
                                      "type": "integer"
                                    },
                                    "status": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "cropInfo": {
                                  "required": [
                                    "x",
                                    "width",
                                    "y",
                                    "height"
                                  ],
                                  "type": "object",
                                  "properties": {
                                    "x": {
                                      "type": "integer"
                                    },
                                    "width": {
                                      "type": "integer"
                                    },
                                    "y": {
                                      "type": "integer"
                                    },
                                    "height": {
                                      "type": "integer"
                                    }
                                  }
                                },
                                "original": {
                                  "required": [
                                    "downloadUrl",
                                    "downloadUrlExpiresAt",
                                    "status"
                                  ],
                                  "type": "object",
                                  "properties": {
                                    "downloadUrl": {
                                      "type": "string"
                                    },
                                    "downloadUrlExpiresAt": {
                                      "type": "integer"
                                    },
                                    "status": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            },
                            "vanityName": {
                              "type": "string"
                            },
                            "settings": {
                              "required": [
                                "employeeExperienceSettingsV2",
                                "premiumPageSettings",
                                "adSetting"
                              ],
                              "type": "object",
                              "properties": {
                                "employeeExperienceSettingsV2": {
                                  "required": [
                                    "myCompanyEmployeeVerificationRequired",
                                    "trendingContentVisibility"
                                  ],
                                  "type": "object",
                                  "properties": {
                                    "myCompanyEmployeeVerificationRequired": {
                                      "type": "boolean"
                                    },
                                    "trendingContentVisibility": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "premiumPageSettings": {
                                  "required": [
                                    "enhancedCtaVisibility"
                                  ],
                                  "type": "object",
                                  "properties": {
                                    "enhancedCtaVisibility": {
                                      "type": "boolean"
                                    }
                                  }
                                },
                                "adSetting": {
                                  "type": "string"
                                }
                              }
                            },
                            "localizedName": {
                              "type": "string"
                            },
                            "foundedOn": {
                              "required": [
                                "year"
                              ],
                              "type": "object",
                              "properties": {
                                "year": {
                                  "type": "integer"
                                }
                              }
                            },
                            "created": {
                              "required": [
                                "time"
                              ],
                              "type": "object",
                              "properties": {
                                "time": {
                                  "type": "integer"
                                }
                              }
                            },
                            "localizedTagline": {
                              "type": "string"
                            },
                            "organizationFieldStates": {
                              "required": [
                                "websiteFieldState"
                              ],
                              "type": "object",
                              "properties": {
                                "websiteFieldState": {
                                  "type": "string"
                                }
                              }
                            },
                            "lastModifiedByAdmin": {
                              "required": [
                                "time"
                              ],
                              "type": "object",
                              "properties": {
                                "time": {
                                  "type": "integer"
                                }
                              }
                            },
                            "primaryPhoneNumber": {
                              "required": [
                                "number"
                              ],
                              "type": "object",
                              "properties": {
                                "number": {
                                  "type": "integer"
                                }
                              }
                            },
                            "coverPhotoV2": {
                              "required": [
                                "cropped",
                                "cropInfo",
                                "original"
                              ],
                              "type": "object",
                              "properties": {
                                "cropped": {
                                  "required": [
                                    "downloadUrl",
                                    "downloadUrlExpiresAt",
                                    "status"
                                  ],
                                  "type": "object",
                                  "properties": {
                                    "downloadUrl": {
                                      "type": "string"
                                    },
                                    "downloadUrlExpiresAt": {
                                      "type": "integer"
                                    },
                                    "status": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "cropInfo": {
                                  "required": [
                                    "x",
                                    "width",
                                    "y",
                                    "height"
                                  ],
                                  "type": "object",
                                  "properties": {
                                    "x": {
                                      "type": "integer"
                                    },
                                    "width": {
                                      "type": "integer"
                                    },
                                    "y": {
                                      "type": "integer"
                                    },
                                    "height": {
                                      "type": "integer"
                                    }
                                  }
                                },
                                "original": {
                                  "required": [
                                    "downloadUrl",
                                    "downloadUrlExpiresAt",
                                    "status"
                                  ],
                                  "type": "object",
                                  "properties": {
                                    "downloadUrl": {
                                      "type": "string"
                                    },
                                    "downloadUrlExpiresAt": {
                                      "type": "integer"
                                    },
                                    "status": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            },
                            "defaultLocale": {
                              "required": [
                                "country",
                                "language"
                              ],
                              "type": "object",
                              "properties": {
                                "country": {
                                  "type": "string"
                                },
                                "language": {
                                  "type": "string"
                                }
                              }
                            },
                            "organizationType": {
                              "type": "string"
                            },
                            "leadGenFormEntryPoint": {
                              "required": [
                                "visible",
                                "ctaType",
                                "body",
                                "headline",
                                "leadGenFormUrn"
                              ],
                              "type": "object",
                              "properties": {
                                "visible": {
                                  "type": "boolean"
                                },
                                "ctaType": {
                                  "type": "string"
                                },
                                "body": {
                                  "type": "string"
                                },
                                "headline": {
                                  "type": "string"
                                },
                                "leadGenFormUrn": {
                                  "type": "string"
                                }
                              }
                            },
                            "entityStatus": {
                              "type": "string"
                            },
                            "name": {
                              "required": [
                                "localized",
                                "preferredLocale"
                              ],
                              "type": "object",
                              "properties": {
                                "localized": {
                                  "required": [
                                    "en_US"
                                  ],
                                  "type": "object",
                                  "properties": {
                                    "en_US": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "preferredLocale": {
                                  "required": [
                                    "country",
                                    "language"
                                  ],
                                  "type": "object",
                                  "properties": {
                                    "country": {
                                      "type": "string"
                                    },
                                    "language": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            },
                            "tagline": {
                              "required": [
                                "localized",
                                "preferredLocale"
                              ],
                              "type": "object",
                              "properties": {
                                "localized": {
                                  "required": [
                                    "en_US"
                                  ],
                                  "type": "object",
                                  "properties": {
                                    "en_US": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "preferredLocale": {
                                  "required": [
                                    "country",
                                    "language"
                                  ],
                                  "type": "object",
                                  "properties": {
                                    "country": {
                                      "type": "string"
                                    },
                                    "language": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            },
                            "parentCareersUsed": {
                              "type": "boolean"
                            },
                            "locations": {
                              "type": "array",
                              "items": {
                                "required": [
                                  "address",
                                  "geoLocation",
                                  "staffCountRange",
                                  "description",
                                  "locationType",
                                  "localizedDescription",
                                  "streetAddressFieldState"
                                ],
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "required": [
                                      "geographicArea",
                                      "country",
                                      "city",
                                      "line1",
                                      "postalCode"
                                    ],
                                    "type": "object",
                                    "properties": {
                                      "geographicArea": {
                                        "type": "string"
                                      },
                                      "country": {
                                        "type": "string"
                                      },
                                      "city": {
                                        "type": "string"
                                      },
                                      "line1": {
                                        "type": "string"
                                      },
                                      "postalCode": {
                                        "type": "integer"
                                      }
                                    }
                                  },
                                  "geoLocation": {
                                    "type": "string"
                                  },
                                  "staffCountRange": {
                                    "type": "string"
                                  },
                                  "description": {
                                    "required": [
                                      "localized",
                                      "preferredLocale"
                                    ],
                                    "type": "object",
                                    "properties": {
                                      "localized": {
                                        "required": [
                                          "en_US"
                                        ],
                                        "type": "object",
                                        "properties": {
                                          "en_US": {
                                            "type": "string"
                                          }
                                        }
                                      },
                                      "preferredLocale": {
                                        "required": [
                                          "country",
                                          "language"
                                        ],
                                        "type": "object",
                                        "properties": {
                                          "country": {
                                            "type": "string"
                                          },
                                          "language": {
                                            "type": "string"
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "locationType": {
                                    "type": "string"
                                  },
                                  "localizedDescription": {
                                    "type": "string"
                                  },
                                  "streetAddressFieldState": {
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "revenueRecords": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "lastModified": {
                              "required": [
                                "time"
                              ],
                              "type": "object",
                              "properties": {
                                "time": {
                                  "type": "integer"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "statuses": {
                      "required": [
                        "1612748",
                        "10002687"
                      ],
                      "type": "object",
                      "properties": {
                        "1612748": {
                          "type": "integer"
                        },
                        "10002687": {
                          "type": "integer"
                        }
                      }
                    },
                    "errors": {
                      "required": [
                        "1612748"
                      ],
                      "type": "object",
                      "properties": {
                        "1612748": {
                          "required": [
                            "code",
                            "message",
                            "status"
                          ],
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string"
                            },
                            "message": {
                              "type": "string"
                            },
                            "status": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rest/dmaOrganizations/%7BorganizationId%7D": {
      "get": {
        "summary": "dmaOrganizations GET",
        "operationId": "dmaOrganizationsGET",
        "parameters": [
          {
            "name": "LinkedIn-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Restli-Protocol-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "competitorOrganizationUrns",
                    "description",
                    "industriesV2",
                    "alternativeNames",
                    "specialties",
                    "staffCountRange",
                    "localizedSpecialties",
                    "organizationalPage",
                    "primaryOrganizationType",
                    "id",
                    "localizedDescription",
                    "autoCreated",
                    "localizedWebsite",
                    "logoV2",
                    "vanityName",
                    "localizedName",
                    "website",
                    "foundedOn",
                    "created",
                    "localizedTagline",
                    "organizationFieldStates",
                    "lastModifiedByAdmin",
                    "coverPhotoV2",
                    "defaultLocale",
                    "organizationType",
                    "leadGenFormEntryPoint",
                    "entityStatus",
                    "name",
                    "tagline",
                    "parentCareersUsed",
                    "locations",
                    "revenueRecords",
                    "lastModified"
                  ],
                  "type": "object",
                  "properties": {
                    "competitorOrganizationUrns": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "description": {
                      "required": [
                        "localized",
                        "preferredLocale"
                      ],
                      "type": "object",
                      "properties": {
                        "localized": {
                          "required": [
                            "fr_FR",
                            "en_US"
                          ],
                          "type": "object",
                          "properties": {
                            "fr_FR": {
                              "type": "string"
                            },
                            "en_US": {
                              "type": "string"
                            }
                          }
                        },
                        "preferredLocale": {
                          "required": [
                            "country",
                            "language"
                          ],
                          "type": "object",
                          "properties": {
                            "country": {
                              "type": "string"
                            },
                            "language": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "industriesV2": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "alternativeNames": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "specialties": {
                      "type": "array",
                      "items": {
                        "required": [
                          "locale",
                          "tags"
                        ],
                        "type": "object",
                        "properties": {
                          "locale": {
                            "required": [
                              "country",
                              "language"
                            ],
                            "type": "object",
                            "properties": {
                              "country": {
                                "type": "string"
                              },
                              "language": {
                                "type": "string"
                              }
                            }
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "staffCountRange": {
                      "type": "string"
                    },
                    "localizedSpecialties": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "organizationalPage": {
                      "type": "string"
                    },
                    "primaryOrganizationType": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "localizedDescription": {
                      "type": "string"
                    },
                    "autoCreated": {
                      "type": "boolean"
                    },
                    "localizedWebsite": {
                      "type": "string"
                    },
                    "logoV2": {
                      "required": [
                        "cropped",
                        "cropInfo",
                        "original"
                      ],
                      "type": "object",
                      "properties": {
                        "cropped": {
                          "required": [
                            "downloadUrl",
                            "downloadUrlExpiresAt",
                            "status"
                          ],
                          "type": "object",
                          "properties": {
                            "downloadUrl": {
                              "type": "string"
                            },
                            "downloadUrlExpiresAt": {
                              "type": "integer"
                            },
                            "status": {
                              "type": "string"
                            }
                          }
                        },
                        "cropInfo": {
                          "required": [
                            "x",
                            "width",
                            "y",
                            "height"
                          ],
                          "type": "object",
                          "properties": {
                            "x": {
                              "type": "integer"
                            },
                            "width": {
                              "type": "integer"
                            },
                            "y": {
                              "type": "integer"
                            },
                            "height": {
                              "type": "integer"
                            }
                          }
                        },
                        "original": {
                          "required": [
                            "downloadUrl",
                            "downloadUrlExpiresAt",
                            "status"
                          ],
                          "type": "object",
                          "properties": {
                            "downloadUrl": {
                              "type": "string"
                            },
                            "downloadUrlExpiresAt": {
                              "type": "integer"
                            },
                            "status": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "vanityName": {
                      "type": "string"
                    },
                    "localizedName": {
                      "type": "string"
                    },
                    "website": {
                      "required": [
                        "localized",
                        "preferredLocale"
                      ],
                      "type": "object",
                      "properties": {
                        "localized": {
                          "required": [
                            "en_US"
                          ],
                          "type": "object",
                          "properties": {
                            "en_US": {
                              "type": "string"
                            }
                          }
                        },
                        "preferredLocale": {
                          "required": [
                            "country",
                            "language"
                          ],
                          "type": "object",
                          "properties": {
                            "country": {
                              "type": "string"
                            },
                            "language": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "foundedOn": {
                      "required": [
                        "year"
                      ],
                      "type": "object",
                      "properties": {
                        "year": {
                          "type": "integer"
                        }
                      }
                    },
                    "created": {
                      "required": [
                        "time"
                      ],
                      "type": "object",
                      "properties": {
                        "time": {
                          "type": "integer"
                        }
                      }
                    },
                    "localizedTagline": {
                      "type": "string"
                    },
                    "organizationFieldStates": {
                      "required": [
                        "websiteFieldState"
                      ],
                      "type": "object",
                      "properties": {
                        "websiteFieldState": {
                          "type": "string"
                        }
                      }
                    },
                    "lastModifiedByAdmin": {
                      "required": [
                        "time"
                      ],
                      "type": "object",
                      "properties": {
                        "time": {
                          "type": "integer"
                        }
                      }
                    },
                    "coverPhotoV2": {
                      "required": [
                        "cropped",
                        "cropInfo",
                        "original"
                      ],
                      "type": "object",
                      "properties": {
                        "cropped": {
                          "required": [
                            "downloadUrl",
                            "downloadUrlExpiresAt",
                            "status"
                          ],
                          "type": "object",
                          "properties": {
                            "downloadUrl": {
                              "type": "string"
                            },
                            "downloadUrlExpiresAt": {
                              "type": "integer"
                            },
                            "status": {
                              "type": "string"
                            }
                          }
                        },
                        "cropInfo": {
                          "required": [
                            "x",
                            "width",
                            "y",
                            "height"
                          ],
                          "type": "object",
                          "properties": {
                            "x": {
                              "type": "integer"
                            },
                            "width": {
                              "type": "integer"
                            },
                            "y": {
                              "type": "integer"
                            },
                            "height": {
                              "type": "integer"
                            }
                          }
                        },
                        "original": {
                          "required": [
                            "downloadUrl",
                            "downloadUrlExpiresAt",
                            "status"
                          ],
                          "type": "object",
                          "properties": {
                            "downloadUrl": {
                              "type": "string"
                            },
                            "downloadUrlExpiresAt": {
                              "type": "integer"
                            },
                            "status": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "defaultLocale": {
                      "required": [
                        "country",
                        "language"
                      ],
                      "type": "object",
                      "properties": {
                        "country": {
                          "type": "string"
                        },
                        "language": {
                          "type": "string"
                        }
                      }
                    },
                    "organizationType": {
                      "type": "string"
                    },
                    "leadGenFormEntryPoint": {
                      "required": [
                        "visible",
                        "ctaType",
                        "body",
                        "headline",
                        "leadGenFormUrn"
                      ],
                      "type": "object",
                      "properties": {
                        "visible": {
                          "type": "boolean"
                        },
                        "ctaType": {
                          "type": "string"
                        },
                        "body": {
                          "type": "string"
                        },
                        "headline": {
                          "type": "string"
                        },
                        "leadGenFormUrn": {
                          "type": "string"
                        }
                      }
                    },
                    "entityStatus": {
                      "type": "string"
                    },
                    "name": {
                      "required": [
                        "localized",
                        "preferredLocale"
                      ],
                      "type": "object",
                      "properties": {
                        "localized": {
                          "required": [
                            "en_US"
                          ],
                          "type": "object",
                          "properties": {
                            "en_US": {
                              "type": "string"
                            }
                          }
                        },
                        "preferredLocale": {
                          "required": [
                            "country",
                            "language"
                          ],
                          "type": "object",
                          "properties": {
                            "country": {
                              "type": "string"
                            },
                            "language": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "tagline": {
                      "required": [
                        "localized",
                        "preferredLocale"
                      ],
                      "type": "object",
                      "properties": {
                        "localized": {
                          "required": [
                            "en_US"
                          ],
                          "type": "object",
                          "properties": {
                            "en_US": {
                              "type": "string"
                            }
                          }
                        },
                        "preferredLocale": {
                          "required": [
                            "country",
                            "language"
                          ],
                          "type": "object",
                          "properties": {
                            "country": {
                              "type": "string"
                            },
                            "language": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "parentCareersUsed": {
                      "type": "boolean"
                    },
                    "locations": {
                      "type": "array",
                      "items": {
                        "required": [
                          "description",
                          "locationType",
                          "address",
                          "localizedDescription",
                          "streetAddressFieldState",
                          "geoLocation"
                        ],
                        "type": "object",
                        "properties": {
                          "description": {
                            "required": [
                              "localized",
                              "preferredLocale"
                            ],
                            "type": "object",
                            "properties": {
                              "localized": {
                                "required": [
                                  "en_US"
                                ],
                                "type": "object",
                                "properties": {
                                  "en_US": {
                                    "type": "string"
                                  }
                                }
                              },
                              "preferredLocale": {
                                "required": [
                                  "country",
                                  "language"
                                ],
                                "type": "object",
                                "properties": {
                                  "country": {
                                    "type": "string"
                                  },
                                  "language": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          },
                          "locationType": {
                            "type": "string"
                          },
                          "address": {
                            "required": [
                              "geographicArea",
                              "country",
                              "city",
                              "line1",
                              "postalCode"
                            ],
                            "type": "object",
                            "properties": {
                              "geographicArea": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "city": {
                                "type": "string"
                              },
                              "line1": {
                                "type": "string"
                              },
                              "postalCode": {
                                "type": "integer"
                              }
                            }
                          },
                          "localizedDescription": {
                            "type": "string"
                          },
                          "streetAddressFieldState": {
                            "type": "string"
                          },
                          "geoLocation": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "revenueRecords": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "lastModified": {
                      "required": [
                        "time"
                      ],
                      "type": "object",
                      "properties": {
                        "time": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rest/dmaOrganizationAcls": {
      "get": {
        "summary": "dmaOrganizationAcls FINDER roleAssignee",
        "operationId": "dmaOrganizationAclsFINDERRoleAssignee",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "role",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "LinkedIn-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Restli-Protocol-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "paging",
                    "elements"
                  ],
                  "type": "object",
                  "properties": {
                    "paging": {
                      "required": [
                        "start",
                        "count",
                        "links"
                      ],
                      "type": "object",
                      "properties": {
                        "start": {
                          "type": "integer"
                        },
                        "count": {
                          "type": "integer"
                        },
                        "links": {
                          "type": "array",
                          "items": {
                            "required": [
                              "type",
                              "rel",
                              "href"
                            ],
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string"
                              },
                              "rel": {
                                "type": "string"
                              },
                              "href": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "elements": {
                      "type": "array",
                      "items": {
                        "required": [
                          "state",
                          "lastModified",
                          "key",
                          "created"
                        ],
                        "type": "object",
                        "properties": {
                          "state": {
                            "type": "string"
                          },
                          "lastModified": {
                            "required": [
                              "time"
                            ],
                            "type": "object",
                            "properties": {
                              "time": {
                                "type": "integer"
                              }
                            }
                          },
                          "key": {
                            "required": [
                              "organization",
                              "role"
                            ],
                            "type": "object",
                            "properties": {
                              "organization": {
                                "type": "string"
                              },
                              "role": {
                                "type": "string"
                              }
                            }
                          },
                          "created": {
                            "required": [
                              "time"
                            ],
                            "type": "object",
                            "properties": {
                              "time": {
                                "type": "integer"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rest/dmaOrganizationAuthorizations": {
      "get": {
        "summary": "dmaOrganizationAuthorizations BATCH_GET",
        "operationId": "dmaOrganizationAuthorizationsBATCHGET",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LinkedIn-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Restli-Protocol-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "results",
                    "statuses",
                    "errors"
                  ],
                  "type": "object",
                  "properties": {
                    "results": {
                      "required": [
                        "(action:(organizationRoleAuthorizationAction:(actionType:ADMINISTRATOR_READ)),impersonation:(scope:(value:()),subject:(value:(member:urn%3Ali%3Aperson%3AsyabJjcceP))),organization:urn%3Ali%3Aorganization%3A10002683)",
                        "(action:(organizationRoleAuthorizationAction:(actionType:ADMINISTRATOR_WRITE)),impersonation:(scope:(value:()),subject:(value:(member:urn%3Ali%3Aperson%3AsyabJjcceP))),organization:urn%3Ali%3Aorganization%3A10002683)"
                      ],
                      "type": "object",
                      "properties": {
                        "(action:(organizationRoleAuthorizationAction:(actionType:ADMINISTRATOR_READ)),impersonation:(scope:(value:()),subject:(value:(member:urn%3Ali%3Aperson%3AsyabJjcceP))),organization:urn%3Ali%3Aorganization%3A10002683)": {
                          "required": [
                            "action",
                            "impersonation",
                            "status",
                            "organization"
                          ],
                          "type": "object",
                          "properties": {
                            "action": {
                              "required": [
                                "organizationRoleAuthorizationAction"
                              ],
                              "type": "object",
                              "properties": {
                                "organizationRoleAuthorizationAction": {
                                  "required": [
                                    "actionType"
                                  ],
                                  "type": "object",
                                  "properties": {
                                    "actionType": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            },
                            "impersonation": {
                              "required": [
                                "subject",
                                "scope"
                              ],
                              "type": "object",
                              "properties": {
                                "subject": {
                                  "required": [
                                    "value"
                                  ],
                                  "type": "object",
                                  "properties": {
                                    "value": {
                                      "required": [
                                        "member"
                                      ],
                                      "type": "object",
                                      "properties": {
                                        "member": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  }
                                },
                                "scope": {
                                  "required": [
                                    "value"
                                  ],
                                  "type": "object",
                                  "properties": {
                                    "value": {
                                      "type": "object"
                                    }
                                  }
                                }
                              }
                            },
                            "status": {
                              "required": [
                                "denied"
                              ],
                              "type": "object",
                              "properties": {
                                "denied": {
                                  "required": [
                                    "reasons"
                                  ],
                                  "type": "object",
                                  "properties": {
                                    "reasons": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "organization": {
                              "type": "string"
                            }
                          }
                        },
                        "(action:(organizationRoleAuthorizationAction:(actionType:ADMINISTRATOR_WRITE)),impersonation:(scope:(value:()),subject:(value:(member:urn%3Ali%3Aperson%3AsyabJjcceP))),organization:urn%3Ali%3Aorganization%3A10002683)": {
                          "required": [
                            "action",
                            "impersonation",
                            "status",
                            "organization"
                          ],
                          "type": "object",
                          "properties": {
                            "action": {
                              "required": [
                                "organizationRoleAuthorizationAction"
                              ],
                              "type": "object",
                              "properties": {
                                "organizationRoleAuthorizationAction": {
                                  "required": [
                                    "actionType"
                                  ],
                                  "type": "object",
                                  "properties": {
                                    "actionType": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            },
                            "impersonation": {
                              "required": [
                                "subject",
                                "scope"
                              ],
                              "type": "object",
                              "properties": {
                                "subject": {
                                  "required": [
                                    "value"
                                  ],
                                  "type": "object",
                                  "properties": {
                                    "value": {
                                      "required": [
                                        "member"
                                      ],
                                      "type": "object",
                                      "properties": {
                                        "member": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  }
                                },
                                "scope": {
                                  "required": [
                                    "value"
                                  ],
                                  "type": "object",
                                  "properties": {
                                    "value": {
                                      "type": "object"
                                    }
                                  }
                                }
                              }
                            },
                            "status": {
                              "required": [
                                "denied"
                              ],
                              "type": "object",
                              "properties": {
                                "denied": {
                                  "required": [
                                    "reasons"
                                  ],
                                  "type": "object",
                                  "properties": {
                                    "reasons": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "organization": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "statuses": {
                      "type": "object"
                    },
                    "errors": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rest/dmaOrganizationAuthorizations/(action:(organizationRoleAuthorizationAction:(actionType:ADMINISTRATOR_READ)),organization:%7Borganization_id%7D,impersonation:(subject:(value:(member:%7BpersonUrn%7D))))": {
      "get": {
        "summary": "dmaOrganizationAuthorizations GET",
        "operationId": "dmaOrganizationAuthorizationsGET",
        "parameters": [
          {
            "name": "LinkedIn-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Restli-Protocol-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "action",
                    "impersonation",
                    "status",
                    "organization"
                  ],
                  "type": "object",
                  "properties": {
                    "action": {
                      "required": [
                        "organizationRoleAuthorizationAction"
                      ],
                      "type": "object",
                      "properties": {
                        "organizationRoleAuthorizationAction": {
                          "required": [
                            "actionType"
                          ],
                          "type": "object",
                          "properties": {
                            "actionType": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "impersonation": {
                      "required": [
                        "subject",
                        "scope"
                      ],
                      "type": "object",
                      "properties": {
                        "subject": {
                          "required": [
                            "value"
                          ],
                          "type": "object",
                          "properties": {
                            "value": {
                              "required": [
                                "member"
                              ],
                              "type": "object",
                              "properties": {
                                "member": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        },
                        "scope": {
                          "required": [
                            "value"
                          ],
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "object"
                            }
                          }
                        }
                      }
                    },
                    "status": {
                      "required": [
                        "denied"
                      ],
                      "type": "object",
                      "properties": {
                        "denied": {
                          "required": [
                            "reasons"
                          ],
                          "type": "object",
                          "properties": {
                            "reasons": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "organization": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rest/dmaOrganizationSearchAppearance": {
      "get": {
        "summary": "dmaOrganizationSearchAppearance FINDER",
        "operationId": "dmaOrganizationSearchAppearanceFINDER",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LinkedIn-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Restli-Protocol-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "paging",
                    "elements"
                  ],
                  "type": "object",
                  "properties": {
                    "paging": {
                      "required": [
                        "start",
                        "count",
                        "links"
                      ],
                      "type": "object",
                      "properties": {
                        "start": {
                          "type": "integer"
                        },
                        "count": {
                          "type": "integer"
                        },
                        "links": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "elements": {
                      "type": "array",
                      "items": {
                        "required": [
                          "totalCount",
                          "percentChange",
                          "organization"
                        ],
                        "type": "object",
                        "properties": {
                          "totalCount": {
                            "type": "integer"
                          },
                          "percentChange": {
                            "type": "number"
                          },
                          "organization": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rest/dmaOrganizationalPageContentAnalytics": {
      "get": {
        "summary": "dmaOrganizationalPageContentAnalytics",
        "operationId": "dmaOrganizationalPageContentAnalytics2",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourcePostEntity",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metricType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LinkedIn-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Restli-Protocol-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "paging",
                    "metadata",
                    "elements"
                  ],
                  "type": "object",
                  "properties": {
                    "paging": {
                      "required": [
                        "start",
                        "count",
                        "links",
                        "total"
                      ],
                      "type": "object",
                      "properties": {
                        "start": {
                          "type": "integer"
                        },
                        "count": {
                          "type": "integer"
                        },
                        "links": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "total": {
                          "type": "integer"
                        }
                      }
                    },
                    "metadata": {
                      "type": "object"
                    },
                    "elements": {
                      "type": "array",
                      "items": {
                        "required": [
                          "type",
                          "gesture",
                          "sourceEntity"
                        ],
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "gesture": {
                            "required": [
                              "type"
                            ],
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string"
                              }
                            }
                          },
                          "sourceEntity": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rest/dmaOrganizationalPageEmailDomainMapping": {
      "get": {
        "summary": "Email Domain Mappings Resource GET",
        "operationId": "EmailDomainMappingsResourceGET",
        "parameters": [
          {
            "name": "organizationalPageUrn",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "LinkedIn-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Restli-Protocol-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "paging",
                    "elements"
                  ],
                  "type": "object",
                  "properties": {
                    "paging": {
                      "required": [
                        "start",
                        "count",
                        "links"
                      ],
                      "type": "object",
                      "properties": {
                        "start": {
                          "type": "integer"
                        },
                        "count": {
                          "type": "integer"
                        },
                        "links": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "elements": {
                      "type": "array",
                      "items": {
                        "required": [
                          "verificationTier",
                          "lastModified",
                          "emailVerificationDuration",
                          "key",
                          "created"
                        ],
                        "type": "object",
                        "properties": {
                          "verificationTier": {
                            "type": "string"
                          },
                          "lastModified": {
                            "required": [
                              "time"
                            ],
                            "type": "object",
                            "properties": {
                              "time": {
                                "type": "integer"
                              }
                            }
                          },
                          "emailVerificationDuration": {
                            "type": "integer"
                          },
                          "key": {
                            "required": [
                              "useCase",
                              "emailDomain",
                              "organizationalPageUrn"
                            ],
                            "type": "object",
                            "properties": {
                              "useCase": {
                                "type": "string"
                              },
                              "emailDomain": {
                                "type": "string"
                              },
                              "organizationalPageUrn": {
                                "type": "string"
                              }
                            }
                          },
                          "created": {
                            "required": [
                              "time"
                            ],
                            "type": "object",
                            "properties": {
                              "time": {
                                "type": "integer"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rest/dmaOrganizationalPageFollows": {
      "get": {
        "summary": "dmaOrganizationalPageFollows FINDER follower",
        "operationId": "dmaOrganizationalPageFollowsFINDERFollower",
        "parameters": [
          {
            "name": "follower",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxPaginationCount",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LinkedIn-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Restli-Protocol-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "paging",
                    "metadata",
                    "elements"
                  ],
                  "type": "object",
                  "properties": {
                    "paging": {
                      "required": [
                        "start",
                        "count",
                        "links",
                        "total"
                      ],
                      "type": "object",
                      "properties": {
                        "start": {
                          "type": "integer"
                        },
                        "count": {
                          "type": "integer"
                        },
                        "links": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "total": {
                          "type": "integer"
                        }
                      }
                    },
                    "metadata": {
                      "required": [
                        "nextPaginationCursor"
                      ],
                      "type": "object",
                      "properties": {
                        "nextPaginationCursor": {
                          "type": "string"
                        }
                      }
                    },
                    "elements": {
                      "type": "array",
                      "items": {
                        "required": [
                          "lastModifiedAt",
                          "follower",
                          "followee",
                          "edgeType"
                        ],
                        "type": "object",
                        "properties": {
                          "lastModifiedAt": {
                            "type": "integer"
                          },
                          "follower": {
                            "type": "string"
                          },
                          "followee": {
                            "type": "string"
                          },
                          "edgeType": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rest/dmaOrganizationalPageEdgeAnalytics": {
      "get": {
        "summary": "dmaOrganizationalPageEdgeAnalytics FINDER Visitor Dimension INDUSTRY",
        "operationId": "dmaOrganizationalPageEdgeAnalyticsFINDERVisitorDimensionINDUSTRY",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dimensionType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "analyticsType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationalPage",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LinkedIn-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Restli-Protocol-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "paging",
                    "metadata",
                    "elements"
                  ],
                  "type": "object",
                  "properties": {
                    "paging": {
                      "required": [
                        "start",
                        "count",
                        "links",
                        "total"
                      ],
                      "type": "object",
                      "properties": {
                        "start": {
                          "type": "integer"
                        },
                        "count": {
                          "type": "integer"
                        },
                        "links": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "total": {
                          "type": "integer"
                        }
                      }
                    },
                    "metadata": {
                      "type": "object"
                    },
                    "elements": {
                      "type": "array",
                      "items": {
                        "required": [
                          "type",
                          "value",
                          "dimension",
                          "organizationalPage"
                        ],
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "value": {
                            "required": [
                              "totalCount",
                              "typeSpecificValue"
                            ],
                            "type": "object",
                            "properties": {
                              "totalCount": {
                                "required": [
                                  "long"
                                ],
                                "type": "object",
                                "properties": {
                                  "long": {
                                    "type": "integer"
                                  }
                                }
                              },
                              "typeSpecificValue": {
                                "required": [
                                  "visitorEdgeAnalyticsValue"
                                ],
                                "type": "object",
                                "properties": {
                                  "visitorEdgeAnalyticsValue": {
                                    "type": "object"
                                  }
                                }
                              }
                            }
                          },
                          "dimension": {
                            "required": [
                              "type",
                              "value"
                            ],
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string"
                              },
                              "value": {
                                "required": [
                                  "urn"
                                ],
                                "type": "object",
                                "properties": {
                                  "urn": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          },
                          "organizationalPage": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rest/dmaOrganizationProducts": {
      "get": {
        "summary": "dmaOrganizationProducts BATCH_GET",
        "operationId": "dmaOrganizationProductsBATCHGET",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LinkedIn-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Restli-Protocol-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "results",
                    "statuses",
                    "errors"
                  ],
                  "type": "object",
                  "properties": {
                    "results": {
                      "required": [
                        "1315691"
                      ],
                      "type": "object",
                      "properties": {
                        "1315691": {
                          "required": [
                            "vanityName",
                            "website",
                            "organizationsUsingProduct",
                            "created",
                            "lastModifiedByAdmin",
                            "productCategoryAdminSuggestions",
                            "description",
                            "mediaSections",
                            "standardizedSkills",
                            "callToAction",
                            "defaultLocale",
                            "productCategories",
                            "productIntegrations",
                            "organizationalPage",
                            "organization",
                            "name",
                            "rolesUsingProduct",
                            "pendingClaimByAdmin",
                            "id",
                            "state",
                            "lastModified",
                            "logoV2"
                          ],
                          "type": "object",
                          "properties": {
                            "vanityName": {
                              "type": "string"
                            },
                            "website": {
                              "required": [
                                "localized",
                                "preferredLocale"
                              ],
                              "type": "object",
                              "properties": {
                                "localized": {
                                  "required": [
                                    "en_US"
                                  ],
                                  "type": "object",
                                  "properties": {
                                    "en_US": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "preferredLocale": {
                                  "required": [
                                    "country",
                                    "language"
                                  ],
                                  "type": "object",
                                  "properties": {
                                    "country": {
                                      "type": "string"
[...]
