{
  "openapi": "3.0.4",
  "info": {
    "title": "Recruiter System Connect (Versioned)",
    "version": "1.0.0"
  },
  "paths": {
    "/rest/integrations": {
      "get": {
        "tags": [
          "Module 1 - Configure Customer Middleware Integrations (Partner Only ) - Not Available / Configure Customer Middleware Integrations / Update Customer's ATSIntegration (Mandatory)"
        ],
        "summary": "Verify Customer's  ATSIntegrations",
        "operationId": "VerifyCustomerSATSIntegrations",
        "parameters": [
          {
            "name": "ids[0].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "urn:li:organization:{{org_id}}"
              }
            }
          },
          {
            "name": "ids[0].integrationType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "IN_ATS_INDICATOR"
              }
            }
          },
          {
            "name": "ids[0].tenantType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "RECRUITER"
              }
            }
          },
          {
            "name": "ids[0].dataProvider",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "ATS"
              }
            }
          },
          {
            "name": "ids[1].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "urn:li:organization:{{org_id}}"
              }
            }
          },
          {
            "name": "ids[1].integrationType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "PROFILE_PLUGIN"
              }
            }
          },
          {
            "name": "ids[1].tenantType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "RECRUITER"
              }
            }
          },
          {
            "name": "ids[1].dataProvider",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "ATS"
              }
            }
          },
          {
            "name": "ids[2].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "urn:li:organization:{{org_id}}"
              }
            }
          },
          {
            "name": "ids[2].integrationType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "ONE_CLICK_EXPORT"
              }
            }
          },
          {
            "name": "ids[2].tenantType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "RECRUITER"
              }
            }
          },
          {
            "name": "ids[2].dataProvider",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "ATS"
              }
            }
          },
          {
            "name": "ids[3].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "urn:li:contract:{{contract_id}}"
              }
            }
          },
          {
            "name": "ids[3].integrationType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "CSA_API"
              }
            }
          },
          {
            "name": "ids[3].tenantType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "RECRUITER"
              }
            }
          },
          {
            "name": "ids[3].dataProvider",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "ATS"
              }
            }
          },
          {
            "name": "LinkedIn-Version",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "{{linkedin_version}}"
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No response examples were saved in the Postman collection; status codes and response schemas are unknown."
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ],
        "servers": [
          {
            "url": "https://api.linkedin.com"
          }
        ],
        "x-postman-warnings": [
          "No saved responses: status codes and response schemas cannot be inferred."
        ],
        "x-postman-variants": [
          {
            "name": "Verify Customer's  ATSIntegrations",
            "id": "ba7501f5-3e48-49aa-9cc0-032ac53c4737",
            "request": {
              "auth": {
                "type": "bearer",
                "bearer": {
                  "token": "{{customer_access_token}}"
                }
              },
              "method": "GET",
              "header": [
                {
                  "key": "LinkedIn-Version",
                  "value": "{{linkedin_version}}"
                }
              ],
              "url": {
                "raw": "https://api.linkedin.com/rest/integrations?ids[0].integrationContext=urn:li:organization:{{org_id}}&ids[0].integrationType=IN_ATS_INDICATOR&ids[0].tenantType=RECRUITER&ids[0].dataProvider=ATS&ids[1].integrationContext=urn:li:organization:{{org_id}}&ids[1].integrationType=PROFILE_PLUGIN&ids[1].tenantType=RECRUITER&ids[1].dataProvider=ATS&ids[2].integrationContext=urn:li:organization:{{org_id}}&ids[2].integrationType=ONE_CLICK_EXPORT&ids[2].tenantType=RECRUITER&ids[2].dataProvider=ATS&ids[3].integrationContext=urn:li:contract:{{contract_id}}&ids[3].integrationType=CSA_API&ids[3].tenantType=RECRUITER&ids[3].dataProvider=ATS",
                "protocol": "https",
                "host": [
                  "api",
                  "linkedin",
                  "com"
                ],
                "path": [
                  "rest",
                  "integrations"
                ],
                "query": [
                  {
                    "key": "ids[0].integrationContext",
                    "value": "urn:li:organization:{{org_id}}"
                  },
                  {
                    "key": "ids[0].integrationType",
                    "value": "IN_ATS_INDICATOR"
                  },
                  {
                    "key": "ids[0].tenantType",
                    "value": "RECRUITER"
                  },
                  {
                    "key": "ids[0].dataProvider",
                    "value": "ATS"
                  },
                  {
                    "key": "ids[1].integrationContext",
                    "value": "urn:li:organization:{{org_id}}"
                  },
                  {
                    "key": "ids[1].integrationType",
                    "value": "PROFILE_PLUGIN"
                  },
                  {
                    "key": "ids[1].tenantType",
                    "value": "RECRUITER"
                  },
                  {
                    "key": "ids[1].dataProvider",
                    "value": "ATS"
                  },
                  {
                    "key": "ids[2].integrationContext",
                    "value": "urn:li:organization:{{org_id}}"
                  },
                  {
                    "key": "ids[2].integrationType",
                    "value": "ONE_CLICK_EXPORT"
                  },
                  {
                    "key": "ids[2].tenantType",
                    "value": "RECRUITER"
                  },
                  {
                    "key": "ids[2].dataProvider",
                    "value": "ATS"
                  },
                  {
                    "key": "ids[3].integrationContext",
                    "value": "urn:li:contract:{{contract_id}}"
                  },
                  {
                    "key": "ids[3].integrationType",
                    "value": "CSA_API"
                  },
                  {
                    "key": "ids[3].tenantType",
                    "value": "RECRUITER"
                  },
                  {
                    "key": "ids[3].dataProvider",
                    "value": "ATS"
                  }
                ]
              }
            },
            "response": [ ],
            "folders": [
              "Module 1 - Configure Customer Middleware Integrations (Partner Only ) - Not Available",
              "Configure Customer Middleware Integrations",
              "Update Customer's ATSIntegration (Mandatory)"
            ],
            "effectiveAuth": {
              "type": "bearer",
              "bearer": {
                "token": "{{customer_access_token}}"
              }
            },
            "protocolProfileBehavior": {
              "disableBodyPruning": true
            }
          }
        ]
      },
      "post": {
        "tags": [
          "Module 1 - Configure Customer Middleware Integrations (Partner Only ) - Not Available / Configure Customer Middleware Integrations / Update Customer's ATSIntegration (Mandatory)"
        ],
        "summary": "Update Customer ATSIntegration - ONE_CLICK_EXPORT",
        "description": "`/atsIntegrations` used to update the customer Integration. To enable `ONE_CLICK_EXPORT`, use `integrationType=ONE_CLICK_EXPORT` in the request body. Partner can update other RSC Integrations by changing `integrationType`.`ONE_CLICK_EXPORT` is Company level Integration. To know more , please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/rsc-customer-configuration#sample-request)\n\n`/atsIntegrations` used to update the customer Integration. To enable `IN_ATS_INDICATOR `, use `integrationType= IN_ATS_INDICATOR ` in the request body. Partner can update other RSC Integrations by changing `integrationType`.`IN_ATS_INDICATOR ` is Company level Integration To know more , please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/rsc-customer-configuration#sample-request)\n\n`/atsIntegrations` used to update the customer Integration. To enable `PROFILE_PLUGIN `, use `integrationType= PROFILE_PLUGIN ` in the request body. Partner can update other RSC Integrations by changing `integrationType`.`PROFILE_PLUGIN ` is Company level Integration. To know more , please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/rsc-customer-configuration#sample-request)\n\n`/atsIntegrations` used to update the customer Integration. To enable `CSA_API `, use `integrationType= CSA_API ` in the request body. Partner can update other RSC Integrations by changing `integrationType`.`CSA_API ` is Contract level Integration. To know more , please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/rsc-customer-configuration#sample-request)",
        "operationId": "UpdateCustomerATSIntegrationONECLICKEXPORT",
        "parameters": [
          {
            "name": "ids[0].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "urn:li:organization:{{org_id}}"
              },
              "example1_2": {
                "summary": "example1",
                "value": "urn:li:organization:{{org_id}}"
              },
              "example1_3": {
                "summary": "example1",
                "value": "urn:li:organization:{{org_id}}"
              },
              "example1_4": {
                "summary": "example1",
                "value": "urn:li:contract:{{contract_id}}"
              }
            }
          },
          {
            "name": "ids[0].integrationType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "ONE_CLICK_EXPORT"
              },
              "example1_2": {
                "summary": "example1",
                "value": "IN_ATS_INDICATOR"
              },
              "example1_3": {
                "summary": "example1",
                "value": "PROFILE_PLUGIN"
              },
              "example1_4": {
                "summary": "example1",
                "value": "CSA_API"
              }
            }
          },
          {
            "name": "ids[0].tenantType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "RECRUITER"
              },
              "example1_2": {
                "summary": "example1",
                "value": "RECRUITER"
              },
              "example1_3": {
                "summary": "example1",
                "value": "RECRUITER"
              },
              "example1_4": {
                "summary": "example1",
                "value": "RECRUITER"
              }
            }
          },
          {
            "name": "x-restli-method",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "batch_partial_update"
              },
              "example1_2": {
                "summary": "example1",
                "value": "batch_partial_update"
              },
              "example1_3": {
                "summary": "example1",
                "value": "batch_partial_update"
              },
              "example1_4": {
                "summary": "example1",
                "value": "batch_partial_update"
              }
            }
          },
          {
            "name": "LinkedIn-Version",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "{{linkedin_version}}"
              },
              "example1_2": {
                "summary": "example1",
                "value": "{{linkedin_version}}"
              },
              "example1_3": {
                "summary": "example1",
                "value": "{{linkedin_version}}"
              },
              "example1_4": {
                "summary": "example1",
                "value": "{{linkedin_version}}"
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "entities": {
                    "type": "object",
                    "properties": {
                      "integrationContext=urn:li:organization:{{org_id}}&integrationType=ONE_CLICK_EXPORT&tenantType=RECRUITER": {
                        "type": "object",
                        "properties": {
                          "patch": {
                            "type": "object",
                            "properties": {
                              "$set": {
                                "type": "object",
                                "properties": {
                                  "integrationName": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "integrationContext=urn:li:organization:{{org_id}}&integrationType=IN_ATS_INDICATOR&tenantType=RECRUITER": {
                        "type": "object",
                        "properties": {
                          "patch": {
                            "type": "object",
                            "properties": {
                              "$set": {
                                "type": "object",
                                "properties": {
                                  "integrationName": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "integrationContext=urn:li:organization:{{org_id}}&integrationType=PROFILE_PLUGIN&tenantType=RECRUITER": {
                        "type": "object",
                        "properties": {
                          "patch": {
                            "type": "object",
                            "properties": {
                              "$set": {
                                "type": "object",
                                "properties": {
                                  "integrationName": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "integrationContext=urn:li:contract:{{contract_id}}&integrationType=CSA_API&tenantType=RECRUITER": {
                        "type": "object",
                        "properties": {
                          "patch": {
                            "type": "object",
                            "properties": {
                              "$set": {
                                "type": "object",
                                "properties": {
                                  "integrationName": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "example1": {
                  "value": {
                    "entities": {
                      "integrationContext=urn:li:organization:{{org_id}}&integrationType=ONE_CLICK_EXPORT&tenantType=RECRUITER": {
                        "patch": {
                          "$set": {
                            "integrationName": "{{customer_name}} LinkedIn Recruiter One-Click Export Integration"
                          }
                        }
                      }
                    }
                  }
                },
                "example1_2": {
                  "summary": "example1",
                  "value": {
                    "entities": {
                      "integrationContext=urn:li:organization:{{org_id}}&integrationType=IN_ATS_INDICATOR&tenantType=RECRUITER": {
                        "patch": {
                          "$set": {
                            "integrationName": "{{customer_name}} LinkedIn Recruiter ATS Indicator Integration"
                          }
                        }
                      }
                    }
                  }
                },
                "example1_3": {
                  "summary": "example1",
                  "value": {
                    "entities": {
                      "integrationContext=urn:li:organization:{{org_id}}&integrationType=PROFILE_PLUGIN&tenantType=RECRUITER": {
                        "patch": {
                          "$set": {
                            "integrationName": "{{customer_name}} LinkedIn Recruiter Profile Plugin Integration"
                          }
                        }
                      }
                    }
                  }
                },
                "example1_4": {
                  "summary": "example1",
                  "value": {
                    "entities": {
                      "integrationContext=urn:li:contract:{{contract_id}}&integrationType=CSA_API&tenantType=RECRUITER": {
                        "patch": {
                          "$set": {
                            "integrationName": "{{customer_name}} LinkedIn Recruiter CSA_API Integration"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "No response examples were saved in the Postman collection; status codes and response schemas are unknown."
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ],
        "servers": [
          {
            "url": "https://api.linkedin.com"
          }
        ],
        "x-postman-warnings": [
          "No saved responses: status codes and response schemas cannot be inferred.",
          "Multiple Postman requests share this method and path. Inputs and responses are combined; x-postman-variants retains each source request and its correlations."
        ],
        "x-postman-variants": [
          {
            "name": "Update Customer ATSIntegration - ONE_CLICK_EXPORT",
            "id": "e9efcb2e-bd5e-43ae-be08-4766530e86aa",
            "request": {
              "auth": {
                "type": "bearer",
                "bearer": {
                  "token": "{{customer_access_token}}"
                }
              },
              "method": "POST",
              "header": [
                {
                  "key": "x-restli-method",
                  "value": "batch_partial_update"
                },
                {
                  "key": "Content-Type",
                  "value": "application/json"
                },
                {
                  "key": "LinkedIn-Version",
                  "value": "{{linkedin_version}}"
                }
              ],
              "body": {
                "mode": "raw",
                "raw": "{\n  \"entities\": {\n    \"integrationContext=urn:li:organization:{{org_id}}&integrationType=ONE_CLICK_EXPORT&tenantType=RECRUITER\": {\n      \"patch\": {\n        \"$set\": {\n          \"integrationName\": \"{{customer_name}} LinkedIn Recruiter One-Click Export Integration\"\n        }\n      }\n    }\n  }\n}"
              },
              "url": {
                "raw": "https://api.linkedin.com/rest/integrations?ids[0].integrationContext=urn:li:organization:{{org_id}}&ids[0].integrationType=ONE_CLICK_EXPORT&ids[0].tenantType=RECRUITER",
                "protocol": "https",
                "host": [
                  "api",
                  "linkedin",
                  "com"
                ],
                "path": [
                  "rest",
                  "integrations"
                ],
                "query": [
                  {
                    "key": "ids[0].integrationContext",
                    "value": "urn:li:organization:{{org_id}}"
                  },
                  {
                    "key": "ids[0].integrationType",
                    "value": "ONE_CLICK_EXPORT"
                  },
                  {
                    "key": "ids[0].tenantType",
                    "value": "RECRUITER"
                  }
                ]
              },
              "description": "`/atsIntegrations` used to update the customer Integration. To enable `ONE_CLICK_EXPORT`, use `integrationType=ONE_CLICK_EXPORT` in the request body. Partner can update other RSC Integrations by changing `integrationType`.`ONE_CLICK_EXPORT` is Company level Integration. To know more , please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/rsc-customer-configuration#sample-request)"
            },
            "response": [ ],
            "folders": [
              "Module 1 - Configure Customer Middleware Integrations (Partner Only ) - Not Available",
              "Configure Customer Middleware Integrations",
              "Update Customer's ATSIntegration (Mandatory)"
            ],
            "effectiveAuth": {
              "type": "bearer",
              "bearer": {
                "token": "{{customer_access_token}}"
              }
            },
            "protocolProfileBehavior": {
              "disableBodyPruning": true
            }
          },
          {
            "name": "Update Customer ATSIntegration - IN_ATS_INDICATOR",
            "id": "b1dabd9f-82d5-4e1b-8b62-07f254cbe5fa",
            "request": {
              "auth": {
                "type": "bearer",
                "bearer": {
                  "token": "{{customer_access_token}}"
                }
              },
              "method": "POST",
              "header": [
                {
                  "key": "x-restli-method",
                  "value": "batch_partial_update"
                },
                {
                  "key": "Content-Type",
                  "value": "application/json"
                },
                {
                  "key": "LinkedIn-Version",
                  "value": "{{linkedin_version}}"
                }
              ],
              "body": {
                "mode": "raw",
                "raw": "{\n  \"entities\": {\n    \"integrationContext=urn:li:organization:{{org_id}}&integrationType=IN_ATS_INDICATOR&tenantType=RECRUITER\": {\n      \"patch\": {\n        \"$set\": {\n          \"integrationName\": \"{{customer_name}} LinkedIn Recruiter ATS Indicator Integration\"\n        }\n      }\n    }\n  }\n}"
              },
              "url": {
                "raw": "https://api.linkedin.com/rest/integrations?ids[0].integrationContext=urn:li:organization:{{org_id}}&ids[0].integrationType=IN_ATS_INDICATOR&ids[0].tenantType=RECRUITER",
                "protocol": "https",
                "host": [
                  "api",
                  "linkedin",
                  "com"
                ],
                "path": [
                  "rest",
                  "integrations"
                ],
                "query": [
                  {
                    "key": "ids[0].integrationContext",
                    "value": "urn:li:organization:{{org_id}}"
                  },
                  {
                    "key": "ids[0].integrationType",
                    "value": "IN_ATS_INDICATOR"
                  },
                  {
                    "key": "ids[0].tenantType",
                    "value": "RECRUITER"
                  }
                ]
              },
              "description": "`/atsIntegrations` used to update the customer Integration. To enable `IN_ATS_INDICATOR `, use `integrationType= IN_ATS_INDICATOR ` in the request body. Partner can update other RSC Integrations by changing `integrationType`.`IN_ATS_INDICATOR ` is Company level Integration To know more , please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/rsc-customer-configuration#sample-request)"
            },
            "response": [ ],
            "folders": [
              "Module 1 - Configure Customer Middleware Integrations (Partner Only ) - Not Available",
              "Configure Customer Middleware Integrations",
              "Update Customer's ATSIntegration (Mandatory)"
            ],
            "effectiveAuth": {
              "type": "bearer",
              "bearer": {
                "token": "{{customer_access_token}}"
              }
            },
            "protocolProfileBehavior": {
              "disableBodyPruning": true
            }
          },
          {
            "name": "Update Customer ATSIntegration - PROFILE_PLUGIN",
            "id": "a3c6db24-4b9a-44f2-bfb6-81bbcc10fc0c",
            "request": {
              "auth": {
                "type": "bearer",
                "bearer": {
                  "token": "{{customer_access_token}}"
                }
              },
              "method": "POST",
              "header": [
                {
                  "key": "x-restli-method",
                  "value": "batch_partial_update"
                },
                {
                  "key": "Content-Type",
                  "value": "application/json"
                },
                {
                  "key": "LinkedIn-Version",
                  "value": "{{linkedin_version}}"
                }
              ],
              "body": {
                "mode": "raw",
                "raw": "{\n  \"entities\": {\n    \"integrationContext=urn:li:organization:{{org_id}}&integrationType=PROFILE_PLUGIN&tenantType=RECRUITER\": {\n      \"patch\": {\n        \"$set\": {\n          \"integrationName\": \"{{customer_name}} LinkedIn Recruiter Profile Plugin Integration\"\n        }\n      }\n    }\n  }\n}"
              },
              "url": {
                "raw": "https://api.linkedin.com/rest/integrations?ids[0].integrationContext=urn:li:organization:{{org_id}}&ids[0].integrationType=PROFILE_PLUGIN&ids[0].tenantType=RECRUITER",
                "protocol": "https",
                "host": [
                  "api",
                  "linkedin",
                  "com"
                ],
                "path": [
                  "rest",
                  "integrations"
                ],
                "query": [
                  {
                    "key": "ids[0].integrationContext",
                    "value": "urn:li:organization:{{org_id}}"
                  },
                  {
                    "key": "ids[0].integrationType",
                    "value": "PROFILE_PLUGIN"
                  },
                  {
                    "key": "ids[0].tenantType",
                    "value": "RECRUITER"
                  }
                ]
              },
              "description": "`/atsIntegrations` used to update the customer Integration. To enable `PROFILE_PLUGIN `, use `integrationType= PROFILE_PLUGIN ` in the request body. Partner can update other RSC Integrations by changing `integrationType`.`PROFILE_PLUGIN ` is Company level Integration. To know more , please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/rsc-customer-configuration#sample-request)"
            },
            "response": [ ],
            "folders": [
              "Module 1 - Configure Customer Middleware Integrations (Partner Only ) - Not Available",
              "Configure Customer Middleware Integrations",
              "Update Customer's ATSIntegration (Mandatory)"
            ],
            "effectiveAuth": {
              "type": "bearer",
              "bearer": {
                "token": "{{customer_access_token}}"
              }
            },
            "protocolProfileBehavior": {
              "disableBodyPruning": true
            }
          },
          {
            "name": "Update Customer ATSIntegration - CSA_API",
            "id": "b8ce47fc-1ee8-49d0-98f2-2dc2d5c1cedf",
            "request": {
              "auth": {
                "type": "bearer",
                "bearer": {
                  "token": "{{customer_access_token}}"
                }
              },
              "method": "POST",
              "header": [
                {
                  "key": "x-restli-method",
                  "value": "batch_partial_update"
                },
                {
                  "key": "Content-Type",
                  "value": "application/json"
                },
                {
                  "key": "LinkedIn-Version",
                  "value": "{{linkedin_version}}"
                }
              ],
              "body": {
                "mode": "raw",
                "raw": "{\n  \"entities\": {\n    \"integrationContext=urn:li:contract:{{contract_id}}&integrationType=CSA_API&tenantType=RECRUITER\": {\n      \"patch\": {\n        \"$set\": {\n          \"integrationName\": \"{{customer_name}} LinkedIn Recruiter CSA_API Integration\"\n        }\n      }\n    }\n  }\n}"
              },
              "url": {
                "raw": "https://api.linkedin.com/rest/integrations?ids[0].integrationContext=urn:li:contract:{{contract_id}}&ids[0].integrationType=CSA_API&ids[0].tenantType=RECRUITER",
                "protocol": "https",
                "host": [
                  "api",
                  "linkedin",
                  "com"
                ],
                "path": [
                  "rest",
                  "integrations"
                ],
                "query": [
                  {
                    "key": "ids[0].integrationContext",
                    "value": "urn:li:contract:{{contract_id}}"
                  },
                  {
                    "key": "ids[0].integrationType",
                    "value": "CSA_API"
                  },
                  {
                    "key": "ids[0].tenantType",
                    "value": "RECRUITER"
                  }
                ]
              },
              "description": "`/atsIntegrations` used to update the customer Integration. To enable `CSA_API `, use `integrationType= CSA_API ` in the request body. Partner can update other RSC Integrations by changing `integrationType`.`CSA_API ` is Contract level Integration. To know more , please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/rsc-customer-configuration#sample-request)"
            },
            "response": [ ],
            "folders": [
              "Module 1 - Configure Customer Middleware Integrations (Partner Only ) - Not Available",
              "Configure Customer Middleware Integrations",
              "Update Customer's ATSIntegration (Mandatory)"
            ],
            "effectiveAuth": {
              "type": "bearer",
              "bearer": {
                "token": "{{customer_access_token}}"
              }
            },
            "protocolProfileBehavior": {
              "disableBodyPruning": true
            }
          }
        ]
      },
      "delete": {
        "tags": [
          "Module 1 - Configure Customer Middleware Integrations (Partner Only ) - Not Available / Configure Customer Middleware Integrations / Delete ATS Integrations for Development App"
        ],
        "summary": "Delete ATS Integration ONE_CLICK_EXPORT",
        "operationId": "DeleteATSIntegrationONECLICKEXPORT",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "List((integrationContext:urn%3Ali%company%3A{{org_id}},integrationType:ONE_CLICK_EXPORT,tenantType:RECRUITER))"
              },
              "example1_2": {
                "summary": "example1",
                "value": "List((integrationContext:urn%3Ali%company%3A{{org_id}},integrationType:IN_ATS_INDICATOR,tenantType:RECRUITER))"
              },
              "example1_3": {
                "summary": "example1",
                "value": "List((integrationContext:urn%3Ali%company%3A{{org_id}},integrationType:PROFILE_PLUGIN,tenantType:RECRUITER))"
              },
              "example1_4": {
                "summary": "example1",
                "value": "List((integrationContext:urn%3Ali%3Acontract%3A{{contract_id}},integrationType:CSA_API,tenantType:RECRUITER))"
              }
            }
          },
          {
            "name": "X-Restli-Protocol-Version",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "2.0.0"
              },
              "example1_2": {
                "summary": "example1",
                "value": "2.0.0"
              },
              "example1_3": {
                "summary": "example1",
                "value": "2.0.0"
              },
              "example1_4": {
                "summary": "example1",
                "value": "2.0.0"
              }
            }
          },
          {
            "name": "LinkedIn-Version",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "{{linkedin_version}}"
              },
              "example1_2": {
                "summary": "example1",
                "value": "{{linkedin_version}}"
              },
              "example1_3": {
                "summary": "example1",
                "value": "{{linkedin_version}}"
              },
              "example1_4": {
                "summary": "example1",
                "value": "{{linkedin_version}}"
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No response examples were saved in the Postman collection; status codes and response schemas are unknown."
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ],
        "servers": [
          {
            "url": "https://api.linkedin.com"
          }
        ],
        "x-postman-warnings": [
          "No saved responses: status codes and response schemas cannot be inferred.",
          "Multiple Postman requests share this method and path. Inputs and responses are combined; x-postman-variants retains each source request and its correlations."
        ],
        "x-postman-variants": [
          {
            "name": "Delete ATS Integration ONE_CLICK_EXPORT",
            "id": "607dbcd7-c90f-40ef-944f-da7cce80a163",
            "request": {
              "method": "DELETE",
              "header": [
                {
                  "key": "Content-Type",
                  "value": "application/json"
                },
                {
                  "key": "X-Restli-Protocol-Version",
                  "value": "2.0.0"
                },
                {
                  "key": "LinkedIn-Version",
                  "value": "{{linkedin_version}}"
                }
              ],
              "url": {
                "raw": "https://api.linkedin.com/rest/integrations?ids=List((integrationContext:urn%3Ali%company%3A{{org_id}},integrationType:ONE_CLICK_EXPORT,tenantType:RECRUITER))",
                "protocol": "https",
                "host": [
                  "api",
                  "linkedin",
                  "com"
                ],
                "path": [
                  "rest",
                  "integrations"
                ],
                "query": [
                  {
                    "key": "ids",
                    "value": "List((integrationContext:urn%3Ali%company%3A{{org_id}},integrationType:ONE_CLICK_EXPORT,tenantType:RECRUITER))"
                  }
                ]
              }
            },
            "response": [ ],
            "folders": [
              "Module 1 - Configure Customer Middleware Integrations (Partner Only ) - Not Available",
              "Configure Customer Middleware Integrations",
              "Delete ATS Integrations for Development App"
            ],
            "effectiveAuth": {
              "type": "bearer",
              "bearer": {
                "token": "{{customer_access_token}}"
              }
            },
            "protocolProfileBehavior": {
              "disableBodyPruning": true
            }
          },
          {
            "name": "Delete ATS Integration IN_ATS_INDICATOR",
            "id": "66a85811-d269-4526-b4e0-182b29c24127",
            "request": {
              "method": "DELETE",
              "header": [
                {
                  "key": "LinkedIn-Version",
                  "value": "{{linkedin_version}}"
                },
                {
                  "key": "X-Restli-Protocol-Version",
                  "value": "2.0.0"
                },
                {
                  "key": "Content-Type",
                  "value": "application/json"
                }
              ],
              "url": {
                "raw": "https://api.linkedin.com/rest/integrations?ids=List((integrationContext:urn%3Ali%company%3A{{org_id}},integrationType:IN_ATS_INDICATOR,tenantType:RECRUITER))",
                "protocol": "https",
                "host": [
                  "api",
                  "linkedin",
                  "com"
                ],
                "path": [
                  "rest",
                  "integrations"
                ],
                "query": [
                  {
                    "key": "ids",
                    "value": "List((integrationContext:urn%3Ali%company%3A{{org_id}},integrationType:IN_ATS_INDICATOR,tenantType:RECRUITER))"
                  }
                ]
              }
            },
            "response": [ ],
            "folders": [
              "Module 1 - Configure Customer Middleware Integrations (Partner Only ) - Not Available",
              "Configure Customer Middleware Integrations",
              "Delete ATS Integrations for Development App"
            ],
            "effectiveAuth": {
              "type": "bearer",
              "bearer": {
                "token": "{{customer_access_token}}"
              }
            },
            "protocolProfileBehavior": {
              "disableBodyPruning": true
            }
          },
          {
            "name": "Delete ATS Integration PROFILE_PLUGIN",
            "id": "a58007e5-f491-42d9-9b79-c1a76d0b2743",
            "request": {
              "method": "DELETE",
              "header": [
                {
                  "key": "LinkedIn-Version",
                  "value": "{{linkedin_version}}"
                },
                {
                  "key": "X-Restli-Protocol-Version",
                  "value": "2.0.0"
                },
                {
                  "key": "Content-Type",
                  "value": "application/json"
                }
              ],
              "url": {
                "raw": "https://api.linkedin.com/rest/integrations?ids=List((integrationContext:urn%3Ali%company%3A{{org_id}},integrationType:PROFILE_PLUGIN,tenantType:RECRUITER))",
                "protocol": "https",
                "host": [
                  "api",
                  "linkedin",
                  "com"
                ],
                "path": [
                  "rest",
                  "integrations"
                ],
                "query": [
                  {
                    "key": "ids",
                    "value": "List((integrationContext:urn%3Ali%company%3A{{org_id}},integrationType:PROFILE_PLUGIN,tenantType:RECRUITER))"
                  }
                ]
              }
            },
            "response": [ ],
            "folders": [
              "Module 1 - Configure Customer Middleware Integrations (Partner Only ) - Not Available",
              "Configure Customer Middleware Integrations",
              "Delete ATS Integrations for Development App"
            ],
            "effectiveAuth": {
              "type": "bearer",
              "bearer": {
                "token": "{{customer_access_token}}"
              }
            },
            "protocolProfileBehavior": {
              "disableBodyPruning": true
            }
          },
          {
            "name": "Delete ATS Integration CSA_API",
            "id": "eca13566-778f-4fbc-ae12-389e985d15d7",
            "request": {
              "method": "DELETE",
              "header": [
                {
                  "key": "LinkedIn-Version",
                  "value": "{{linkedin_version}}"
                },
                {
                  "key": "X-Restli-Protocol-Version",
                  "value": "2.0.0"
                },
                {
                  "key": "Content-Type",
                  "value": "application/json"
                }
              ],
              "url": {
                "raw": "https://api.linkedin.com/rest/integrations?ids=List((integrationContext:urn%3Ali%3Acontract%3A{{contract_id}},integrationType:CSA_API,tenantType:RECRUITER))",
                "protocol": "https",
                "host": [
                  "api",
                  "linkedin",
                  "com"
                ],
                "path": [
                  "rest",
                  "integrations"
                ],
                "query": [
                  {
                    "key": "ids",
                    "value": "List((integrationContext:urn%3Ali%3Acontract%3A{{contract_id}},integrationType:CSA_API,tenantType:RECRUITER))"
                  }
                ]
              }
            },
            "response": [ ],
            "folders": [
              "Module 1 - Configure Customer Middleware Integrations (Partner Only ) - Not Available",
              "Configure Customer Middleware Integrations",
              "Delete ATS Integrations for Development App"
            ],
            "effectiveAuth": {
              "type": "bearer",
              "bearer": {
                "token": "{{customer_access_token}}"
              }
            },
            "protocolProfileBehavior": {
              "disableBodyPruning": true
            }
          }
        ]
      }
    },
    "/ret/integrations": {
      "post": {
        "tags": [
          "Module 1 - Configure Customer Middleware Integrations (Partner Only ) - Not Available / Configure Customer Middleware Integrations / Update Customer's ATSIntegration (Mandatory)"
        ],
        "summary": "Update Customer ATSIntegration",
        "description": "`/atsIntegrations` used to update the customer Integration. To enable `ONE_CLICK_EXPORT`, use `integrationType=ONE_CLICK_EXPORT` in the request body. Partner can update other RSC Integrations by changing `integrationType`.`ONE_CLICK_EXPORT` is Company level Integration. To know more , please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/rsc-customer-configuration#sample-request)",
        "operationId": "UpdateCustomerATSIntegration",
        "parameters": [
          {
            "name": "ids[0].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "urn:li:organization:{{org_id}}"
              }
            }
          },
          {
            "name": "ids[0].integrationType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "ONE_CLICK_EXPORT"
              }
            }
          },
          {
            "name": "ids[0].tenantType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "RECRUITER"
              }
            }
          },
          {
            "name": "ids[1].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "urn:li:organization:{{org_id}}"
              }
            }
          },
          {
            "name": "ids[1].integrationType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "PROFILE_PLUGIN"
              }
            }
          },
          {
            "name": "ids[1].tenantType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "RECRUITER"
              }
            }
          },
          {
            "name": "ids[2].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "urn:li:organization:{{org_id}}"
              }
            }
          },
          {
            "name": "ids[2].integrationType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "IN_ATS_INDICATOR"
              }
            }
          },
          {
            "name": "ids[2].tenantType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "RECRUITER"
              }
            }
          },
          {
            "name": "ids[3].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "urn:li:contract:{{contract_id}}"
              }
            }
          },
          {
            "name": "ids[3].integrationType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "CSA_API"
              }
            }
          },
          {
            "name": "ids[3].tenantType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "RECRUITER"
              }
            }
          },
          {
            "name": "x-restli-method",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "batch_partial_update"
              }
            }
          },
          {
            "name": "LinkedIn-Version",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "{{linkedin_version}}"
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "entities": {
                    "type": "object",
                    "properties": {
                      "integrationContext=urn:li:organization:{{org_id}}&integrationType=ONE_CLICK_EXPORT&tenantType=RECRUITER": {
                        "type": "object",
                        "properties": {
                          "patch": {
                            "type": "object",
                            "properties": {
                              "$set": {
                                "type": "object",
                                "properties": {
                                  "integrationName": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "integrationContext=urn:li:organization:{{org_id}}&integrationType=IN_ATS_INDICATOR&tenantType=RECRUITER": {
                        "type": "object",
                        "properties": {
                          "patch": {
                            "type": "object",
                            "properties": {
                              "$set": {
                                "type": "object",
                                "properties": {
                                  "integrationName": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "integrationContext=urn:li:organization:{{org_id}}&integrationType=PROFILE_PLUGIN&tenantType=RECRUITER": {
                        "type": "object",
                        "properties": {
                          "patch": {
                            "type": "object",
                            "properties": {
                              "$set": {
                                "type": "object",
                                "properties": {
                                  "integrationName": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "integrationContext=urn:li:contract:{{contract_id}}&integrationType=CSA_API&tenantType=RECRUITER": {
                        "type": "object",
                        "properties": {
                          "patch": {
                            "type": "object",
                            "properties": {
                              "$set": {
                                "type": "object",
                                "properties": {
                                  "integrationName": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "example1": {
                  "value": {
                    "entities": {
                      "integrationContext=urn:li:organization:{{org_id}}&integrationType=ONE_CLICK_EXPORT&tenantType=RECRUITER": {
                        "patch": {
                          "$set": {
                            "integrationName": "{{customer_name}} LinkedIn Recruiter One-Click Export Integration"
                          }
                        }
                      },
                      "integrationContext=urn:li:organization:{{org_id}}&integrationType=IN_ATS_INDICATOR&tenantType=RECRUITER": {
                        "patch": {
                          "$set": {
                            "integrationName": "{{customer_name}} LinkedIn Recruiter ATS Indicator Integration"
                          }
                        }
                      },
                      "integrationContext=urn:li:organization:{{org_id}}&integrationType=PROFILE_PLUGIN&tenantType=RECRUITER": {
                        "patch": {
                          "$set": {
                            "integrationName": "{{customer_name}} LinkedIn Recruiter Profile Plugin Integration"
                          }
                        }
                      },
                      "integrationContext=urn:li:contract:{{contract_id}}&integrationType=CSA_API&tenantType=RECRUITER": {
                        "patch": {
                          "$set": {
                            "integrationName": "{{customer_name}} LinkedIn Recruiter CSA_API Integration"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "No response examples were saved in the Postman collection; status codes and response schemas are unknown."
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ],
        "servers": [
          {
            "url": "https://api.linkedin.com"
          }
        ],
        "x-postman-warnings": [
          "No saved responses: status codes and response schemas cannot be inferred."
        ],
        "x-postman-variants": [
          {
            "name": "Update Customer ATSIntegration",
            "id": "d3d8bafe-fb8c-40e6-b17b-feb132587aad",
            "request": {
              "auth": {
                "type": "bearer",
                "bearer": {
                  "token": "{{customer_access_token}}"
                }
              },
              "method": "POST",
              "header": [
                {
                  "key": "x-restli-method",
                  "value": "batch_partial_update"
                },
                {
                  "key": "Content-Type",
                  "value": "application/json"
                },
                {
                  "key": "LinkedIn-Version",
                  "value": "{{linkedin_version}}"
                }
              ],
              "body": {
                "mode": "raw",
                "raw": "{\n  \"entities\": {\n    \"integrationContext=urn:li:organization:{{org_id}}&integrationType=ONE_CLICK_EXPORT&tenantType=RECRUITER\": {\n      \"patch\": {\n        \"$set\": {\n          \"integrationName\": \"{{customer_name}} LinkedIn Recruiter One-Click Export Integration\"\n        }\n      }\n    },\n     \"integrationContext=urn:li:organization:{{org_id}}&integrationType=IN_ATS_INDICATOR&tenantType=RECRUITER\": {\n      \"patch\": {\n        \"$set\": {\n          \"integrationName\": \"{{customer_name}} LinkedIn Recruiter ATS Indicator Integration\"\n        }\n      }\n    },\n     \"integrationContext=urn:li:organization:{{org_id}}&integrationType=PROFILE_PLUGIN&tenantType=RECRUITER\": {\n      \"patch\": {\n        \"$set\": {\n          \"integrationName\": \"{{customer_name}} LinkedIn Recruiter Profile Plugin Integration\"\n        }\n      }\n    },\n     \"integrationContext=urn:li:contract:{{contract_id}}&integrationType=CSA_API&tenantType=RECRUITER\": {\n      \"patch\": {\n        \"$set\": {\n          \"integrationName\": \"{{customer_name}} LinkedIn Recruiter CSA_API Integration\"\n        }\n      }\n    }\n  }\n}"
              },
              "url": {
                "raw": "https://api.linkedin.com/ret/integrations?ids[0].integrationContext=urn:li:organization:{{org_id}}&ids[0].integrationType=ONE_CLICK_EXPORT&ids[0].tenantType=RECRUITER&ids[1].integrationContext=urn:li:organization:{{org_id}}&ids[1].integrationType=PROFILE_PLUGIN&ids[1].tenantType=RECRUITER&ids[2].integrationContext=urn:li:organization:{{org_id}}&ids[2].integrationType=IN_ATS_INDICATOR&ids[2].tenantType=RECRUITER&ids[3].integrationContext=urn:li:contract:{{contract_id}}&ids[3].integrationType=CSA_API&ids[3].tenantType=RECRUITER",
                "protocol": "https",
                "host": [
                  "api",
                  "linkedin",
                  "com"
                ],
                "path": [
                  "ret",
                  "integrations"
                ],
                "query": [
                  {
                    "key": "ids[0].integrationContext",
                    "value": "urn:li:organization:{{org_id}}"
                  },
                  {
                    "key": "ids[0].integrationType",
                    "value": "ONE_CLICK_EXPORT"
                  },
                  {
                    "key": "ids[0].tenantType",
                    "value": "RECRUITER"
                  },
                  {
                    "key": "ids[0].dataProvider",
                    "value": "ATS",
                    "disabled": true
                  },
                  {
                    "key": "ids[1].integrationContext",
                    "value": "urn:li:organization:{{org_id}}"
                  },
                  {
                    "key": "ids[1].integrationType",
                    "value": "PROFILE_PLUGIN"
                  },
                  {
                    "key": "ids[1].tenantType",
                    "value": "RECRUITER"
                  },
                  {
                    "key": "ids[1].dataProvider",
                    "value": "ATS",
                    "disabled": true
                  },
                  {
                    "key": "ids[2].integrationContext",
                    "value": "urn:li:organization:{{org_id}}"
                  },
                  {
                    "key": "ids[2].integrationType",
                    "value": "IN_ATS_INDICATOR"
                  },
                  {
                    "key": "ids[2].tenantType",
                    "value": "RECRUITER"
                  },
                  {
                    "key": "ids[2].dataProvider",
                    "value": "ATS",
                    "disabled": true
                  },
                  {
                    "key": "ids[3].integrationContext",
                    "value": "urn:li:contract:{{contract_id}}"
                  },
                  {
                    "key": "ids[3].integrationType",
                    "value": "CSA_API"
                  },
                  {
                    "key": "ids[3].tenantType",
                    "value": "RECRUITER"
                  },
                  {
                    "key": "ids[3].dataProvider",
                    "value": "ATS",
                    "disabled": true
                  }
                ]
              },
              "description": "`/atsIntegrations` used to update the customer Integration. To enable `ONE_CLICK_EXPORT`, use `integrationType=ONE_CLICK_EXPORT` in the request body. Partner can update other RSC Integrations by changing `integrationType`.`ONE_CLICK_EXPORT` is Company level Integration. To know more , please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/rsc-customer-configuration#sample-request)"
            },
            "response": [ ],
            "folders": [
              "Module 1 - Configure Customer Middleware Integrations (Partner Only ) - Not Available",
              "Configure Customer Middleware Integrations",
              "Update Customer's ATSIntegration (Mandatory)"
            ],
            "effectiveAuth": {
              "type": "bearer",
              "bearer": {
                "token": "{{customer_access_token}}"
              }
            },
            "protocolProfileBehavior": {
              "disableBodyPruning": true
            }
          }
        ]
      }
    },
    "/rest/integrationConfigurations": {
      "put": {
        "tags": [
          "Module 1 - Configure Customer Middleware Integrations (Partner Only ) - Not Available / Configure Customer Middleware Integrations / Sync Integration Configurations (Mandatory)"
        ],
        "summary": "Sync Integration Configuration - Callback URL (Mandatory)",
        "description": "Once a customer creates an integration requiring configuration, you must create the configuration using this API before they can enable the integration.`Callback URL` is mandatory for enabling Integration.To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/integration-types#upsert-integration-configurations)\n\nAPI governs who may view job postings within the One-Click Export drop-down.Customers can use this API, if they are not using ACL's.To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/integration-types#integration-configuration-keys)\n\nAPI governs who may view job-related data (Interview Feedback, Notes, Applications, and Stages) within the In-ATS indicator.To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/integration-types#integration-configuration-keys)",
        "operationId": "SyncIntegrationConfigurationCallbackURLMandatory",
        "parameters": [
          {
            "name": "ids[0].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "urn%3Ali%3Aorganization%3A{{org_id}}"
              },
              "example1_2": {
                "summary": "example1",
                "value": "urn%3Ali%3Aorganization%3A{{org_id}}"
              },
              "example1_3": {
                "summary": "example1",
                "value": "urn%3Ali%3Aorganization%3A{{org_id}}"
              }
            }
          },
          {
            "name": "ids[0].integrationType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "ONE_CLICK_EXPORT"
              },
              "example1_2": {
                "summary": "example1",
                "value": "ONE_CLICK_EXPORT"
              },
              "example1_3": {
                "summary": "example1",
                "value": "ONE_CLICK_EXPORT"
              }
            }
          },
          {
            "name": "ids[0].tenantType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "RECRUITER"
              },
              "example1_2": {
                "summary": "example1",
                "value": "RECRUITER"
              },
              "example1_3": {
                "summary": "example1",
                "value": "RECRUITER"
              }
            }
          },
          {
            "name": "ids[0].configurationName",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "CALLBACK_URL"
              },
              "example1_2": {
                "summary": "example1",
                "value": "JOB_POSTING_VIEWERS"
              },
              "example1_3": {
                "summary": "example1",
                "value": "APPLICATION_VIEWERS"
              }
            }
          },
          {
            "name": "x-restli-method",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "batch_update"
              },
              "example1_2": {
                "summary": "example1",
                "value": "batch_update"
              },
              "example1_3": {
                "summary": "example1",
                "value": "batch_update"
              }
            }
          },
          {
            "name": "LinkedIn-Version",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "{{linkedin_version}}"
              },
              "example1_2": {
                "summary": "example1",
                "value": "{{linkedin_version}}"
              },
              "example1_3": {
                "summary": "example1",
                "value": "{{linkedin_version}}"
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "entities": {
                    "type": "object",
                    "properties": {
                      "integrationContext=urn%3Ali%3Aorganization%3a{{org_id}}&integrationType=ONE_CLICK_EXPORT&tenantType=RECRUITER&configurationName=CALLBACK_URL": {
                        "type": "object",
                        "properties": {
                          "configurationValue": {
                            "type": "object",
                            "properties": {
                              "string": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      },
                      "integrationContext=urn%3Ali%3Aorganization%3a{{org_id}}&integrationType=ONE_CLICK_EXPORT&tenantType=RECRUITER&configurationName=JOB_POSTING_VIEWERS": {
                        "type": "object",
                        "properties": {
                          "configurationValue": {
                            "type": "object",
                            "properties": {
                              "string": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      },
                      "integrationContext=urn%3Ali%3Aorganization%3a{{org_id}}&integrationType=ONE_CLICK_EXPORT&tenantType=RECRUITER&configurationName=APPLICATION_VIEWERS": {
                        "type": "object",
                        "properties": {
                          "configurationValue": {
                            "type": "object",
                            "properties": {
                              "string": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "example1": {
                  "value": {
                    "entities": {
                      "integrationContext=urn%3Ali%3Aorganization%3a{{org_id}}&integrationType=ONE_CLICK_EXPORT&tenantType=RECRUITER&configurationName=CALLBACK_URL": {
                        "configurationValue": {
                          "string": "https://www.linkedin.com/search"
                        }
                      }
                    }
                  }
                },
                "example1_2": {
                  "summary": "example1",
                  "value": {
                    "entities": {
                      "integrationContext=urn%3Ali%3Aorganization%3a{{org_id}}&integrationType=ONE_CLICK_EXPORT&tenantType=RECRUITER&configurationName=JOB_POSTING_VIEWERS": {
                        "configurationValue": {
                          "string": "ALL_PRODUCT_USERS"
                        }
                      }
                    }
                  }
                },
                "example1_3": {
                  "summary": "example1",
                  "value": {
                    "entities": {
                      "integrationContext=urn%3Ali%3Aorganization%3a{{org_id}}&integrationType=ONE_CLICK_EXPORT&tenantType=RECRUITER&configurationName=APPLICATION_VIEWERS": {
                        "configurationValue": {
                          "string": "ALL_PRODUCT_USERS"
                        }
                      }
                    }
                  }
                }
              },
              "x-postman-raw-body": "{\n  \"entities\": {\n    \"integrationContext=urn%3Ali%3Aorganization%3a{{org_id}}&integrationType=ONE_CLICK_EXPORT&tenantType=RECRUITER&configurationName=CALLBACK_URL\": {\n      \"configurationValue\": {\n        \"string\": \"https://www.linkedin.com/search\"\n      }\n    }\n  }\n}\n// https://uncontingent-caridad-inequivalve.ngrok-free.dev/api/v1/TalentTek/LinkedInWebhook?ClientKey=urn%3Ali%3AdeveloperApplication%3A225450413"
            }
          }
        },
        "responses": {
          "default": {
            "description": "No response examples were saved in the Postman collection; status codes and response schemas are unknown."
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ],
        "servers": [
          {
            "url": "https://api.linkedin.com"
          }
        ],
        "x-postman-warnings": [
          "JSON body contains template variables or nonstandard JSON syntax. Its raw text is preserved; unresolved values have unconstrained schemas.",
          "No saved responses: status codes and response schemas cannot be inferred.",
          "Multiple Postman requests share this method and path. Inputs and responses are combined; x-postman-variants retains each source request and its correlations."
        ],
        "x-postman-variants": [
          {
            "name": "Sync Integration Configuration - Callback URL (Mandatory)",
            "id": "4d03b0da-9432-47c9-afa0-f880b9606a4b",
            "request": {
              "auth": {
                "type": "bearer",
                "bearer": {
                  "token": "{{customer_access_token}}"
                }
              },
              "method": "PUT",
              "header": [
                {
                  "key": "x-restli-method",
                  "value": "batch_update"
                },
                {
                  "key": "Content-Type",
                  "value": "application/json"
                },
                {
                  "key": "LinkedIn-Version",
                  "value": "{{linkedin_version}}"
                }
              ],
              "body": {
                "mode": "raw",
                "raw": "{\n  \"entities\": {\n    \"integrationContext=urn%3Ali%3Aorganization%3a{{org_id}}&integrationType=ONE_CLICK_EXPORT&tenantType=RECRUITER&configurationName=CALLBACK_URL\": {\n      \"configurationValue\": {\n        \"string\": \"https://www.linkedin.com/search\"\n      }\n    }\n  }\n}\n// https://uncontingent-caridad-inequivalve.ngrok-free.dev/api/v1/TalentTek/LinkedInWebhook?ClientKey=urn%3Ali%3AdeveloperApplication%3A225450413"
              },
              "url": {
                "raw": "https://api.linkedin.com/rest/integrationConfigurations?ids[0].integrationContext=urn%3Ali%3Aorganization%3A{{org_id}}&ids[0].integrationType=ONE_CLICK_EXPORT&ids[0].tenantType=RECRUITER&ids[0].configurationName=CALLBACK_URL",
                "protocol": "https",
                "host": [
                  "api",
                  "linkedin",
                  "com"
                ],
                "path": [
                  "rest",
                  "integrationConfigurations"
                ],
                "query": [
                  {
                    "key": "ids[0].integrationContext",
                    "value": "urn%3Ali%3Aorganization%3A{{org_id}}"
                  },
                  {
                    "key": "ids[0].integrationType",
                    "value": "ONE_CLICK_EXPORT"
                  },
                  {
                    "key": "ids[0].tenantType",
                    "value": "RECRUITER"
                  },
                  {
                    "key": "ids[0].configurationName",
                    "value": "CALLBACK_URL"
                  }
                ]
              },
              "description": "Once a customer creates an integration requiring configuration, you must create the configuration using this API before they can enable the integration.`Callback URL` is mandatory for enabling Integration.To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/integration-types#upsert-integration-configurations)"
            },
            "response": [ ],
            "folders": [
              "Module 1 - Configure Customer Middleware Integrations (Partner Only ) - Not Available",
              "Configure Customer Middleware Integrations",
              "Sync Integration Configurations (Mandatory)"
            ],
            "effectiveAuth": {
              "type": "bearer",
              "bearer": {
                "token": "{{customer_access_token}}"
              }
            },
            "protocolProfileBehavior": {
              "disableBodyPruning": true
            }
          },
          {
            "name": "Sync Integration Configuration - Job Posting Viewers (Optional)",
            "id": "e3ac2016-477b-4e9c-9e20-deddc296404c",
            "request": {
              "auth": {
                "type": "bearer",
                "bearer": {
                  "token": "{{customer_access_token}}"
                }
              },
              "method": "PUT",
              "header": [
                {
                  "key": "x-restli-method",
                  "value": "batch_update"
                },
                {
                  "key": "Content-Type",
                  "value": "application/json"
                },
                {
                  "key": "LinkedIn-Version",
                  "value": "{{linkedin_version}}"
                }
              ],
              "body": {
                "mode": "raw",
                "raw": "{\n  \"entities\": {\n    \"integrationContext=urn%3Ali%3Aorganization%3a{{org_id}}&integrationType=ONE_CLICK_EXPORT&tenantType=RECRUITER&configurationName=JOB_POSTING_VIEWERS\": {\n      \"configurationValue\": {\n        \"string\": \"ALL_PRODUCT_USERS\"\n      }\n    }\n  }\n}"
              },
              "url": {
                "raw": "https://api.linkedin.com/rest/integrationConfigurations?ids[0].integrationContext=urn%3Ali%3Aorganization%3A{{org_id}}&ids[0].integrationType=ONE_CLICK_EXPORT&ids[0].tenantType=RECRUITER&ids[0].configurationName=JOB_POSTING_VIEWERS",
                "protocol": "https",
                "host": [
                  "api",
                  "linkedin",
                  "com"
                ],
                "path": [
                  "rest",
                  "integrationConfigurations"
                ],
                "query": [
                  {
                    "key": "ids[0].integrationContext",
                    "value": "urn%3Ali%3Aorganization%3A{{org_id}}"
                  },
                  {
                    "key": "ids[0].integrationType",
                    "value": "ONE_CLICK_EXPORT"
                  },
                  {
                    "key": "ids[0].tenantType",
                    "value": "RECRUITER"
                  },
                  {
                    "key": "ids[0].configurationName",
                    "value": "JOB_POSTING_VIEWERS"
                  }
                ]
              },
              "description": "API governs who may view job postings within the One-Click Export drop-down.Customers can use this API, if they are not using ACL's.To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/integration-types#integration-configuration-keys)"
            },
            "response": [ ],
            "folders": [
              "Module 1 - Configure Customer Middleware Integrations (Partner Only ) - Not Available",
              "Configure Customer Middleware Integrations",
              "Sync Integration Configurations (Mandatory)"
            ],
            "effectiveAuth": {
              "type": "bearer",
              "bearer": {
                "token": "{{customer_access_token}}"
              }
            },
            "protocolProfileBehavior": {
              "disableBodyPruning": true
            }
          },
          {
            "name": "Sync Integration Configuration - Application Viewers (Optional)",
            "id": "509a9ea1-dad9-4fd8-9c77-f5f94c8922d9",
            "request": {
              "auth": {
                "type": "bearer",
                "bearer": {
                  "token": "{{customer_access_token}}"
                }
              },
              "method": "PUT",
              "header": [
                {
                  "key": "x-restli-method",
                  "value": "batch_update"
                },
                {
                  "key": "Content-Type",
                  "value": "application/json"
                },
                {
                  "key": "LinkedIn-Version",
                  "value": "{{linkedin_version}}"
                }
              ],
              "body": {
                "mode": "raw",
                "raw": "{\n  \"entities\": {\n    \"integrationContext=urn%3Ali%3Aorganization%3a{{org_id}}&integrationType=ONE_CLICK_EXPORT&tenantType=RECRUITER&configurationName=APPLICATION_VIEWERS\": {\n      \"configurationValue\": {\n        \"string\": \"ALL_PRODUCT_USERS\"\n      }\n    }\n  }\n}"
              },
              "url": {
                "raw": "https://api.linkedin.com/rest/integrationConfigurations?ids[0].integrationContext=urn%3Ali%3Aorganization%3A{{org_id}}&ids[0].integrationType=ONE_CLICK_EXPORT&ids[0].tenantType=RECRUITER&ids[0].configurationName=APPLICATION_VIEWERS",
                "protocol": "https",
                "host": [
                  "api",
                  "linkedin",
                  "com"
                ],
                "path": [
                  "rest",
                  "integrationConfigurations"
                ],
                "query": [
                  {
                    "key": "ids[0].integrationContext",
                    "value": "urn%3Ali%3Aorganization%3A{{org_id}}"
                  },
                  {
                    "key": "ids[0].integrationType",
                    "value": "ONE_CLICK_EXPORT"
                  },
                  {
                    "key": "ids[0].tenantType",
                    "value": "RECRUITER"
                  },
                  {
                    "key": "ids[0].configurationName",
                    "value": "APPLICATION_VIEWERS"
                  }
                ]
              },
              "description": "API governs who may view job-related data (Interview Feedback, Notes, Applications, and Stages) within the In-ATS indicator.To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/integration-types#integration-configuration-keys)"
            },
            "response": [ ],
            "folders": [
              "Module 1 - Configure Customer Middleware Integrations (Partner Only ) - Not Available",
              "Configure Customer Middleware Integrations",
              "Sync Integration Configurations (Mandatory)"
            ],
            "effectiveAuth": {
              "type": "bearer",
              "bearer": {
                "token": "{{customer_access_token}}"
              }
            },
            "protocolProfileBehavior": {
              "disableBodyPruning": true
            }
          }
        ]
      },
      "get": {
        "tags": [
          "Module 1 - Configure Customer Middleware Integrations (Partner Only ) - Not Available / Configure Customer Middleware Integrations / Sync Integration Configurations (Mandatory)"
        ],
        "summary": "Verify Customer Integrations - Configs",
        "description": "API used to retrieve the Customer Integration Configurations.To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/integration-types#verify-integration-configurations)",
        "operationId": "VerifyCustomerIntegrationsConfigs",
        "parameters": [
          {
            "name": "ids[0].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "urn%3Ali%3Aorganization%3A{{org_id}}"
              }
            }
          },
          {
            "name": "ids[0].integrationType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "ONE_CLICK_EXPORT"
              }
            }
          },
          {
            "name": "ids[0].tenantType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "RECRUITER"
              }
            }
          },
          {
            "name": "ids[0].configurationName",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "CALLBACK_URL"
              }
            }
          },
          {
            "name": "LinkedIn-Version",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "{{linkedin_version}}"
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No response examples were saved in the Postman collection; status codes and response schemas are unknown."
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ],
        "servers": [
          {
            "url": "https://api.linkedin.com"
          }
        ],
        "x-postman-warnings": [
          "No saved responses: status codes and response schemas cannot be inferred."
        ],
        "x-postman-variants": [
          {
            "name": "Verify Customer Integrations - Configs",
            "id": "703adbf3-beb9-4a49-b543-9935438fb9c7",
            "request": {
              "auth": {
                "type": "bearer",
                "bearer": {
                  "token": "{{customer_access_token}}"
                }
              },
              "method": "GET",
              "header": [
                {
                  "key": "LinkedIn-Version",
                  "value": "{{linkedin_version}}"
                }
              ],
              "url": {
                "raw": "https://api.linkedin.com/rest/integrationConfigurations?ids[0].integrationContext=urn%3Ali%3Aorganization%3A{{org_id}}&ids[0].integrationType=ONE_CLICK_EXPORT&ids[0].tenantType=RECRUITER&ids[0].configurationName=CALLBACK_URL",
                "protocol": "https",
                "host": [
                  "api",
                  "linkedin",
                  "com"
                ],
                "path": [
                  "rest",
                  "integrationConfigurations"
                ],
                "query": [
                  {
                    "key": "ids[0].integrationContext",
                    "value": "urn%3Ali%3Aorganization%3A{{org_id}}"
                  },
                  {
                    "key": "ids[0].integrationType",
                    "value": "ONE_CLICK_EXPORT"
                  },
                  {
                    "key": "ids[0].tenantType",
                    "value": "RECRUITER"
                  },
                  {
                    "key": "ids[0].configurationName",
                    "value": "CALLBACK_URL"
                  }
                ]
              },
              "description": "API used to retrieve the Customer Integration Configurations.To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/integration-types#verify-integration-configurations)"
            },
            "response": [ ],
            "folders": [
              "Module 1 - Configure Customer Middleware Integrations (Partner Only ) - Not Available",
              "Configure Customer Middleware Integrations",
              "Sync Integration Configurations (Mandatory)"
            ],
            "effectiveAuth": {
              "type": "bearer",
              "bearer": {
                "token": "{{customer_access_token}}"
              }
            },
            "protocolProfileBehavior": {
              "disableBodyPruning": true
            }
          }
        ]
      }
    },
    "/v2/atsIntegrations/integrationContext=urn:li:organization:{org_id}&integrationType=ONE_CLICK_EXPORT&tenantType=RECRUITER&dataProvider=ATS/configurations": {
      "delete": {
        "tags": [
          "Module 1 - Configure Customer Middleware Integrations (Partner Only ) - Not Available / Configure Customer Middleware Integrations / Sync Integration Configurations (Mandatory)"
        ],
        "summary": "Delete Integration Configuration - Job Posting Viewers",
        "description": "Customer can delete `JOB_POSTING_VIEWERS` Integration using this API. To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/integration-types#delete-integration-configurations)",
        "operationId": "DeleteIntegrationConfigurationJobPostingViewers",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "JOB_POSTING_VIEWERS"
              }
            }
          },
          {
            "name": "LinkedIn-Version",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "{{linkedin_version}}"
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "x-postman-invalid-json": true
              },
              "x-postman-raw-body": ""
            }
          }
        },
        "responses": {
          "default": {
            "description": "No response examples were saved in the Postman collection; status codes and response schemas are unknown."
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ],
        "servers": [
          {
            "url": "https://api.linkedin.com"
          }
        ],
        "x-postman-warnings": [
          "Body is declared as JSON but cannot be parsed, even as a Postman template. Its raw text is preserved without inventing a schema.",
          "No saved responses: status codes and response schemas cannot be inferred."
        ],
        "x-postman-variants": [
          {
            "name": "Delete Integration Configuration - Job Posting Viewers",
            "id": "d14ba6e6-4fbe-4645-a7d2-7d95b0d14f0d",
            "request": {
              "auth": {
                "type": "bearer",
                "bearer": {
                  "token": "{{customer_access_token}}"
                }
              },
              "method": "DELETE",
              "header": [
                {
                  "key": "LinkedIn-Version",
                  "value": "{{linkedin_version}}"
                },
                {
                  "key": "Content-Type",
                  "value": "application/json"
                }
              ],
              "body": {
                "mode": "raw",
                "raw": ""
              },
              "url": {
                "raw": "https://api.linkedin.com/v2/atsIntegrations/integrationContext=urn:li:organization:{{org_id}}&integrationType=ONE_CLICK_EXPORT&tenantType=RECRUITER&dataProvider=ATS/configurations?ids=JOB_POSTING_VIEWERS",
                "protocol": "https",
                "host": [
                  "api",
                  "linkedin",
                  "com"
                ],
                "path": [
                  "v2",
                  "atsIntegrations",
                  "integrationContext=urn:li:organization:{{org_id}}&integrationType=ONE_CLICK_EXPORT&tenantType=RECRUITER&dataProvider=ATS",
                  "configurations"
                ],
                "query": [
                  {
                    "key": "ids",
                    "value": "JOB_POSTING_VIEWERS"
                  }
                ]
              },
              "description": "Customer can delete `JOB_POSTING_VIEWERS` Integration using this API. To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/integration-types#delete-integration-configurations)"
            },
            "response": [ ],
            "folders": [
              "Module 1 - Configure Customer Middleware Integrations (Partner Only ) - Not Available",
              "Configure Customer Middleware Integrations",
              "Sync Integration Configurations (Mandatory)"
            ],
            "effectiveAuth": {
              "type": "bearer",
              "bearer": {
                "token": "{{customer_access_token}}"
              }
            },
            "protocolProfileBehavior": {
              "disableBodyPruning": true
            }
          }
        ]
      }
    },
    "/v2/atsIntegrations/integrationContext=urn:li:organization:{org_id}&integrationType=IN_ATS_INDICATOR&tenantType=RECRUITER&dataProvider=ATS/configurations": {
      "delete": {
        "tags": [
          "Module 1 - Configure Customer Middleware Integrations (Partner Only ) - Not Available / Configure Customer Middleware Integrations / Sync Integration Configurations (Mandatory)"
        ],
        "summary": "Delete Integration Configuration - Application Viewers",
        "description": "Customer can delete `APPLICATION_VIEWERS` Integration using this API. To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/integration-types#delete-integration-configurations)",
        "operationId": "DeleteIntegrationConfigurationApplicationViewers",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "APPLICATION_VIEWERS"
              }
            }
          },
          {
            "name": "LinkedIn-Version",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "{{linkedin_version}}"
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "x-postman-invalid-json": true
              },
              "x-postman-raw-body": ""
            }
          }
        },
        "responses": {
          "default": {
            "description": "No response examples were saved in the Postman collection; status codes and response schemas are unknown."
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ],
        "servers": [
          {
            "url": "https://api.linkedin.com"
          }
        ],
        "x-postman-warnings": [
          "Body is declared as JSON but cannot be parsed, even as a Postman template. Its raw text is preserved without inventing a schema.",
          "No saved responses: status codes and response schemas cannot be inferred."
        ],
        "x-postman-variants": [
          {
            "name": "Delete Integration Configuration - Application Viewers",
            "id": "e605c55e-0361-4681-a90b-5f5e492c09b2",
            "request": {
              "auth": {
                "type": "bearer",
                "bearer": {
                  "token": "{{customer_access_token}}"
                }
              },
              "method": "DELETE",
              "header": [
                {
                  "key": "LinkedIn-Version",
                  "value": "{{linkedin_version}}"
                },
                {
                  "key": "Content-Type",
                  "value": "application/json"
                }
              ],
              "body": {
                "mode": "raw",
                "raw": ""
              },
              "url": {
                "raw": "https://api.linkedin.com/v2/atsIntegrations/integrationContext=urn:li:organization:{{org_id}}&integrationType=IN_ATS_INDICATOR&tenantType=RECRUITER&dataProvider=ATS/configurations?ids=APPLICATION_VIEWERS",
                "protocol": "https",
                "host": [
                  "api",
                  "linkedin",
                  "com"
                ],
                "path": [
                  "v2",
                  "atsIntegrations",
                  "integrationContext=urn:li:organization:{{org_id}}&integrationType=IN_ATS_INDICATOR&tenantType=RECRUITER&dataProvider=ATS",
                  "configurations"
                ],
                "query": [
                  {
                    "key": "ids",
                    "value": "APPLICATION_VIEWERS"
                  }
                ]
              },
              "description": "Customer can delete `APPLICATION_VIEWERS` Integration using this API. To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/integration-types#delete-integration-configurations)"
            },
            "response": [ ],
            "folders": [
              "Module 1 - Configure Customer Middleware Integrations (Partner Only ) - Not Available",
              "Configure Customer Middleware Integrations",
              "Sync Integration Configurations (Mandatory)"
            ],
            "effectiveAuth": {
              "type": "bearer",
              "bearer": {
                "token": "{{customer_access_token}}"
              }
            },
            "protocolProfileBehavior": {
              "disableBodyPruning": true
            }
          }
        ]
      }
    },
    "/rest/candidates": {
      "put": {
        "tags": [
          "Module 2 - Sync data from ATS to Linkedin / Sync Candidates"
        ],
        "summary": "Sync Candidates",
        "operationId": "SyncCandidates",
        "parameters": [
          {
            "name": "ids[0].externalCandidateId",
            "in": "query",
            "schema": {
[...]
