{
  "openapi": "3.0.4",
  "info": {
    "title": "Recruiter System Connect",
    "description": "We are making updates to our collections. If you run into any issues pulling the latest changes, simply fork the collection again.",
    "version": "1.0.0"
  },
  "paths": {
    "/oauth/v2/accessToken": {
      "post": {
        "tags": [
          "Module 1 - Configure Customer Middleware Integrations (Partner Only ) / Configure Customer Middleware Integrations / Update Customer's ATSIntegration (Mandatory)"
        ],
        "summary": "Child Application Access Token",
        "description": "Updating Customer Integration by using `Child Application token`",
        "operationId": "ChildApplicationAccessToken",
        "requestBody": {
          "content": {
            "text/plain": {
              "schema": {
                "type": "object",
                "properties": {
                  "grant_type": {
                    "type": "string"
                  },
                  "client_id": {
                    "type": "string"
                  },
                  "client_secret": {
                    "type": "string"
                  }
                }
              },
              "examples": {
                "example1": {
                  "value": {
                    "grant_type": "client_credentials",
                    "client_id": "{{customer_app_client_id}}",
                    "client_secret": "{{customer_app_client_secret}}"
                  }
                }
              },
              "encoding": {
                "grant_type": {
                  "style": "form",
                  "explode": true
                },
                "client_id": {
                  "style": "form",
                  "explode": true
                },
                "client_secret": {
                  "style": "form",
                  "explode": true
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "grant_type": {
                    "type": "string"
                  },
                  "client_id": {
                    "type": "string"
                  },
                  "client_secret": {
                    "type": "string"
                  }
                }
              },
              "examples": {
                "example1": {
                  "value": {
                    "grant_type": "client_credentials",
                    "client_id": "{{customer_app_client_id}}",
                    "client_secret": "{{customer_app_client_secret}}"
                  }
                }
              },
              "encoding": {
                "grant_type": {
                  "style": "form",
                  "explode": true
                },
                "client_id": {
                  "style": "form",
                  "explode": true
                },
                "client_secret": {
                  "style": "form",
                  "explode": true
                }
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "No response examples were saved in the Postman collection; status codes and response schemas are unknown."
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          },
          { }
        ],
        "servers": [
          {
            "url": "https://www.linkedin.com"
          }
        ],
        "x-postman-warnings": [
          "No saved responses: status codes and response schemas cannot be inferred.",
          "Multiple Postman requests share this method and path. Inputs and responses are combined; x-postman-variants retains each source request and its correlations."
        ],
        "x-postman-variants": [
          {
            "name": "Child Application Access Token",
            "id": "dbcdbd1c-3a93-461c-b6f3-efa15be2d4bf",
            "request": {
              "method": "POST",
              "header": [
                {
                  "key": "Content-Type",
                  "name": "Content-Type",
                  "value": "text/plain",
                  "type": "text"
                }
              ],
              "body": {
                "mode": "urlencoded",
                "urlencoded": [
                  {
                    "key": "grant_type",
                    "value": "client_credentials",
                    "type": "text"
                  },
                  {
                    "key": "client_id",
                    "value": "{{customer_app_client_id}}",
                    "type": "text"
                  },
                  {
                    "key": "client_secret",
                    "value": "{{customer_app_client_secret}}",
                    "type": "text"
                  }
                ]
              },
              "url": "https://www.linkedin.com/oauth/v2/accessToken",
              "description": "Updating Customer Integration by using `Child Application token`"
            },
            "response": [ ],
            "folders": [
              "Module 1 - Configure Customer Middleware Integrations (Partner Only )",
              "Configure Customer Middleware Integrations",
              "Update Customer's ATSIntegration (Mandatory)"
            ],
            "effectiveAuth": {
              "type": "bearer",
              "bearer": {
                "token": "{{customer_access_token}}"
              }
            },
            "event": [
              {
                "listen": "test",
                "script": {
                  "exec": [
                    "var jsonData = JSON.parse(responseBody);",
                    "pm.globals.set(\"customer_access_token\", jsonData.access_token);"
                  ],
                  "type": "text/javascript",
                  "id": "eb97f8c3-d8a6-4e3f-ada1-1514203cf6bd"
                }
              }
            ],
            "protocolProfileBehavior": {
              "disableBodyPruning": true
            }
          },
          {
            "name": "Get Customer Application Access Token",
            "id": "c67019c0-5ce4-49fd-9e9e-ce53b35adb57",
            "request": {
              "method": "POST",
              "header": [
                {
                  "key": "Content-Type",
                  "name": "Content-Type",
                  "value": "application/x-www-form-urlencoded",
                  "type": "text"
                }
              ],
              "body": {
                "mode": "urlencoded",
                "urlencoded": [
                  {
                    "key": "grant_type",
                    "value": "client_credentials",
                    "type": "text"
                  },
                  {
                    "key": "client_id",
                    "value": "{{customer_app_client_id}}",
                    "type": "text"
                  },
                  {
                    "key": "client_secret",
                    "value": "{{customer_app_client_secret}}",
                    "type": "text"
                  }
                ]
              },
              "url": "https://www.linkedin.com/oauth/v2/accessToken"
            },
            "response": [ ],
            "folders": [ ],
            "event": [
              {
                "listen": "test",
                "script": {
                  "exec": [
                    "var jsonData = JSON.parse(responseBody);",
                    "pm.globals.set(\"customer_access_token\", jsonData.access_token);"
                  ],
                  "type": "text/javascript",
                  "id": "9e5435f8-f6e8-4e52-b0f7-10b833a3a942"
                }
              }
            ],
            "protocolProfileBehavior": {
              "disableBodyPruning": true
            }
          }
        ]
      }
    },
    "/v2/atsIntegrations": {
      "post": {
        "tags": [
          "Module 1 - Configure Customer Middleware Integrations (Partner Only ) / Configure Customer Middleware Integrations / Update Customer's ATSIntegration (Mandatory)"
        ],
        "summary": "Update Customer ATSIntegration",
        "description": "`/atsIntegrations` used to update the customer Integration. To enable `ONE_CLICK_EXPORT`, use `integrationType=ONE_CLICK_EXPORT` in the request body. Partner can update other RSC Integrations by changing `integrationType`.`ONE_CLICK_EXPORT` is Company level Integration. To know more , please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/rsc-customer-configuration#sample-request)\n\n`/atsIntegrations` used to update the customer Integration. To enable `IN_ATS_INDICATOR `, use `integrationType= IN_ATS_INDICATOR ` in the request body. Partner can update other RSC Integrations by changing `integrationType`.`IN_ATS_INDICATOR ` is Company level Integration To know more , please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/rsc-customer-configuration#sample-request)\n\n`/atsIntegrations` used to update the customer Integration. To enable `PROFILE_PLUGIN `, use `integrationType= PROFILE_PLUGIN ` in the request body. Partner can update other RSC Integrations by changing `integrationType`.`PROFILE_PLUGIN ` is Company level Integration. To know more , please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/rsc-customer-configuration#sample-request)\n\n`/atsIntegrations` used to update the customer Integration. To enable `CSA_API `, use `integrationType= CSA_API ` in the request body. Partner can update other RSC Integrations by changing `integrationType`.`CSA_API ` is Contract level Integration. To know more , please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/rsc-customer-configuration#sample-request)",
        "operationId": "UpdateCustomerATSIntegration",
        "parameters": [
          {
            "name": "ids[0].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "urn:li:organization:{{org_id}}"
              },
              "example1_2": {
                "summary": "example1",
                "value": "urn:li:organization:{{org_id}}"
              },
              "example1_3": {
                "summary": "example1",
                "value": "urn:li:organization:{{org_id}}"
              },
              "example1_4": {
                "summary": "example1",
                "value": "urn:li:organization:{{org_id}}"
              },
              "example1_5": {
                "summary": "example1",
                "value": "urn:li:contract:{{contract_id}}"
              }
            }
          },
          {
            "name": "ids[0].integrationType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "ONE_CLICK_EXPORT"
              },
              "example1_2": {
                "summary": "example1",
                "value": "ONE_CLICK_EXPORT"
              },
              "example1_3": {
                "summary": "example1",
                "value": "IN_ATS_INDICATOR"
              },
              "example1_4": {
                "summary": "example1",
                "value": "PROFILE_PLUGIN"
              },
              "example1_5": {
                "summary": "example1",
                "value": "CSA_API"
              }
            }
          },
          {
            "name": "ids[0].tenantType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "RECRUITER"
              },
              "example1_2": {
                "summary": "example1",
                "value": "RECRUITER"
              },
              "example1_3": {
                "summary": "example1",
                "value": "RECRUITER"
              },
              "example1_4": {
                "summary": "example1",
                "value": "RECRUITER"
              },
              "example1_5": {
                "summary": "example1",
                "value": "RECRUITER"
              }
            }
          },
          {
            "name": "ids[0].dataProvider",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "ATS"
              },
              "example1_2": {
                "summary": "example1",
                "value": "ATS"
              },
              "example1_3": {
                "summary": "example1",
                "value": "ATS"
              },
              "example1_4": {
                "summary": "example1",
                "value": "ATS"
              },
              "example1_5": {
                "summary": "example1",
                "value": "ATS"
              }
            }
          },
          {
            "name": "ids[1].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "urn:li:organization:{{org_id}}"
              }
            }
          },
          {
            "name": "ids[1].integrationType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "PROFILE_PLUGIN"
              }
            }
          },
          {
            "name": "ids[1].tenantType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "RECRUITER"
              }
            }
          },
          {
            "name": "ids[1].dataProvider",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "ATS"
              }
            }
          },
          {
            "name": "ids[2].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "urn:li:organization:{{org_id}}"
              }
            }
          },
          {
            "name": "ids[2].integrationType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "IN_ATS_INDICATOR"
              }
            }
          },
          {
            "name": "ids[2].tenantType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "RECRUITER"
              }
            }
          },
          {
            "name": "ids[2].dataProvider",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "ATS"
              }
            }
          },
          {
            "name": "ids[3].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "urn:li:contract:{{contract_id}}"
              }
            }
          },
          {
            "name": "ids[3].integrationType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "CSA_API"
              }
            }
          },
          {
            "name": "ids[3].tenantType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "RECRUITER"
              }
            }
          },
          {
            "name": "ids[3].dataProvider",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "ATS"
              }
            }
          },
          {
            "name": "x-restli-method",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "batch_partial_update"
              },
              "example1_2": {
                "summary": "example1",
                "value": "batch_partial_update"
              },
              "example1_3": {
                "summary": "example1",
                "value": "batch_partial_update"
              },
              "example1_4": {
                "summary": "example1",
                "value": "batch_partial_update"
              },
              "example1_5": {
                "summary": "example1",
                "value": "batch_partial_update"
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "entities": {
                    "type": "object",
                    "properties": {
                      "integrationContext=urn:li:organization:{{org_id}}&integrationType=ONE_CLICK_EXPORT&tenantType=RECRUITER&dataProvider=ATS": {
                        "type": "object",
                        "properties": {
                          "patch": {
                            "type": "object",
                            "properties": {
                              "$set": {
                                "type": "object",
                                "properties": {
                                  "integrationName": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "integrationContext=urn:li:organization:{{org_id}}&integrationType=IN_ATS_INDICATOR&tenantType=RECRUITER&dataProvider=ATS": {
                        "type": "object",
                        "properties": {
                          "patch": {
                            "type": "object",
                            "properties": {
                              "$set": {
                                "type": "object",
                                "properties": {
                                  "integrationName": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "integrationContext=urn:li:organization:{{org_id}}&integrationType=PROFILE_PLUGIN&tenantType=RECRUITER&dataProvider=ATS": {
                        "type": "object",
                        "properties": {
                          "patch": {
                            "type": "object",
                            "properties": {
                              "$set": {
                                "type": "object",
                                "properties": {
                                  "integrationName": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "integrationContext=urn:li:contract:{{contract_id}}&integrationType=CSA_API&tenantType=RECRUITER&dataProvider=ATS": {
                        "type": "object",
                        "properties": {
                          "patch": {
                            "type": "object",
                            "properties": {
                              "$set": {
                                "type": "object",
                                "properties": {
                                  "integrationName": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "example1": {
                  "value": {
                    "entities": {
                      "integrationContext=urn:li:organization:{{org_id}}&integrationType=ONE_CLICK_EXPORT&tenantType=RECRUITER&dataProvider=ATS": {
                        "patch": {
                          "$set": {
                            "integrationName": "{{customer_name}} LinkedIn Recruiter One-Click Export Integration"
                          }
                        }
                      }
                    }
                  }
                },
                "example1_2": {
                  "summary": "example1",
                  "value": {
                    "entities": {
                      "integrationContext=urn:li:organization:{{org_id}}&integrationType=ONE_CLICK_EXPORT&tenantType=RECRUITER&dataProvider=ATS": {
                        "patch": {
                          "$set": {
                            "integrationName": "{{customer_name}} LinkedIn Recruiter One-Click Export Integration"
                          }
                        }
                      }
                    }
                  }
                },
                "example1_3": {
                  "summary": "example1",
                  "value": {
                    "entities": {
                      "integrationContext=urn:li:organization:{{org_id}}&integrationType=IN_ATS_INDICATOR&tenantType=RECRUITER&dataProvider=ATS": {
                        "patch": {
                          "$set": {
                            "integrationName": "{{customer_name}} LinkedIn Recruiter ATS Indicator Integration"
                          }
                        }
                      }
                    }
                  }
                },
                "example1_4": {
                  "summary": "example1",
                  "value": {
                    "entities": {
                      "integrationContext=urn:li:organization:{{org_id}}&integrationType=PROFILE_PLUGIN&tenantType=RECRUITER&dataProvider=ATS": {
                        "patch": {
                          "$set": {
                            "integrationName": "{{customer_name}} LinkedIn Recruiter Profile Plugin Integration"
                          }
                        }
                      }
                    }
                  }
                },
                "example1_5": {
                  "summary": "example1",
                  "value": {
                    "entities": {
                      "integrationContext=urn:li:contract:{{contract_id}}&integrationType=CSA_API&tenantType=RECRUITER&dataProvider=ATS": {
                        "patch": {
                          "$set": {
                            "integrationName": "{{customer_name}} LinkedIn Recruiter CSA_API Integration"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "No response examples were saved in the Postman collection; status codes and response schemas are unknown."
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ],
        "servers": [
          {
            "url": "https://api.linkedin.com"
          }
        ],
        "x-postman-warnings": [
          "No saved responses: status codes and response schemas cannot be inferred.",
          "Multiple Postman requests share this method and path. Inputs and responses are combined; x-postman-variants retains each source request and its correlations."
        ],
        "x-postman-variants": [
          {
            "name": "Update Customer ATSIntegration",
            "id": "05e3efd3-d322-4c81-9428-2a3c174cd14a",
            "request": {
              "auth": {
                "type": "bearer",
                "bearer": {
                  "token": "{{customer_access_token}}"
                }
              },
              "method": "POST",
              "header": [
                {
                  "key": "x-restli-method",
                  "value": "batch_partial_update",
                  "type": "text"
                },
                {
                  "key": "Content-Type",
                  "name": "Content-Type",
                  "value": "application/json",
                  "type": "text"
                }
              ],
              "body": {
                "mode": "raw",
                "raw": "{\n  \"entities\": {\n    \"integrationContext=urn:li:organization:{{org_id}}&integrationType=ONE_CLICK_EXPORT&tenantType=RECRUITER&dataProvider=ATS\": {\n      \"patch\": {\n        \"$set\": {\n          \"integrationName\": \"{{customer_name}} LinkedIn Recruiter One-Click Export Integration\"\n        }\n      }\n    }\n  }\n}"
              },
              "url": {
                "raw": "https://api.linkedin.com/v2/atsIntegrations?ids[0].integrationContext=urn:li:organization:{{org_id}}&ids[0].integrationType=ONE_CLICK_EXPORT&ids[0].tenantType=RECRUITER&ids[0].dataProvider=ATS&ids[1].integrationContext=urn:li:organization:{{org_id}}&ids[1].integrationType=PROFILE_PLUGIN&ids[1].tenantType=RECRUITER&ids[1].dataProvider=ATS&ids[2].integrationContext=urn:li:organization:{{org_id}}&ids[2].integrationType=IN_ATS_INDICATOR&ids[2].tenantType=RECRUITER&ids[2].dataProvider=ATS&ids[3].integrationContext=urn:li:contract:{{contract_id}}&ids[3].integrationType=CSA_API&ids[3].tenantType=RECRUITER&ids[3].dataProvider=ATS",
                "protocol": "https",
                "host": [
                  "api",
                  "linkedin",
                  "com"
                ],
                "path": [
                  "v2",
                  "atsIntegrations"
                ],
                "query": [
                  {
                    "key": "ids[0].integrationContext",
                    "value": "urn:li:organization:{{org_id}}"
                  },
                  {
                    "key": "ids[0].integrationType",
                    "value": "ONE_CLICK_EXPORT"
                  },
                  {
                    "key": "ids[0].tenantType",
                    "value": "RECRUITER"
                  },
                  {
                    "key": "ids[0].dataProvider",
                    "value": "ATS"
                  },
                  {
                    "key": "ids[1].integrationContext",
                    "value": "urn:li:organization:{{org_id}}"
                  },
                  {
                    "key": "ids[1].integrationType",
                    "value": "PROFILE_PLUGIN"
                  },
                  {
                    "key": "ids[1].tenantType",
                    "value": "RECRUITER"
                  },
                  {
                    "key": "ids[1].dataProvider",
                    "value": "ATS"
                  },
                  {
                    "key": "ids[2].integrationContext",
                    "value": "urn:li:organization:{{org_id}}"
                  },
                  {
                    "key": "ids[2].integrationType",
                    "value": "IN_ATS_INDICATOR"
                  },
                  {
                    "key": "ids[2].tenantType",
                    "value": "RECRUITER"
                  },
                  {
                    "key": "ids[2].dataProvider",
                    "value": "ATS"
                  },
                  {
                    "key": "ids[3].integrationContext",
                    "value": "urn:li:contract:{{contract_id}}"
                  },
                  {
                    "key": "ids[3].integrationType",
                    "value": "CSA_API"
                  },
                  {
                    "key": "ids[3].tenantType",
                    "value": "RECRUITER"
                  },
                  {
                    "key": "ids[3].dataProvider",
                    "value": "ATS"
                  }
                ]
              },
              "description": "`/atsIntegrations` used to update the customer Integration. To enable `ONE_CLICK_EXPORT`, use `integrationType=ONE_CLICK_EXPORT` in the request body. Partner can update other RSC Integrations by changing `integrationType`.`ONE_CLICK_EXPORT` is Company level Integration. To know more , please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/rsc-customer-configuration#sample-request)"
            },
            "response": [ ],
            "folders": [
              "Module 1 - Configure Customer Middleware Integrations (Partner Only )",
              "Configure Customer Middleware Integrations",
              "Update Customer's ATSIntegration (Mandatory)"
            ],
            "effectiveAuth": {
              "type": "bearer",
              "bearer": {
                "token": "{{customer_access_token}}"
              }
            },
            "protocolProfileBehavior": {
              "disableBodyPruning": true
            }
          },
          {
            "name": "Update Customer ATSIntegration - ONE_CLICK_EXPORT",
            "id": "949ba530-3b3e-40f6-8135-5d03d958a2ee",
            "request": {
              "auth": {
                "type": "bearer",
                "bearer": {
                  "token": "{{customer_access_token}}"
                }
              },
              "method": "POST",
              "header": [
                {
                  "key": "x-restli-method",
                  "value": "batch_partial_update",
                  "type": "text"
                },
                {
                  "key": "Content-Type",
                  "name": "Content-Type",
                  "value": "application/json",
                  "type": "text"
                }
              ],
              "body": {
                "mode": "raw",
                "raw": "{\n  \"entities\": {\n    \"integrationContext=urn:li:organization:{{org_id}}&integrationType=ONE_CLICK_EXPORT&tenantType=RECRUITER&dataProvider=ATS\": {\n      \"patch\": {\n        \"$set\": {\n          \"integrationName\": \"{{customer_name}} LinkedIn Recruiter One-Click Export Integration\"\n        }\n      }\n    }\n  }\n}"
              },
              "url": {
                "raw": "https://api.linkedin.com/v2/atsIntegrations?ids[0].integrationContext=urn:li:organization:{{org_id}}&ids[0].integrationType=ONE_CLICK_EXPORT&ids[0].tenantType=RECRUITER&ids[0].dataProvider=ATS",
                "protocol": "https",
                "host": [
                  "api",
                  "linkedin",
                  "com"
                ],
                "path": [
                  "v2",
                  "atsIntegrations"
                ],
                "query": [
                  {
                    "key": "ids[0].integrationContext",
                    "value": "urn:li:organization:{{org_id}}"
                  },
                  {
                    "key": "ids[0].integrationType",
                    "value": "ONE_CLICK_EXPORT"
                  },
                  {
                    "key": "ids[0].tenantType",
                    "value": "RECRUITER"
                  },
                  {
                    "key": "ids[0].dataProvider",
                    "value": "ATS"
                  }
                ]
              },
              "description": "`/atsIntegrations` used to update the customer Integration. To enable `ONE_CLICK_EXPORT`, use `integrationType=ONE_CLICK_EXPORT` in the request body. Partner can update other RSC Integrations by changing `integrationType`.`ONE_CLICK_EXPORT` is Company level Integration. To know more , please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/rsc-customer-configuration#sample-request)"
            },
            "response": [ ],
            "folders": [
              "Module 1 - Configure Customer Middleware Integrations (Partner Only )",
              "Configure Customer Middleware Integrations",
              "Update Customer's ATSIntegration (Mandatory)"
            ],
            "effectiveAuth": {
              "type": "bearer",
              "bearer": {
                "token": "{{customer_access_token}}"
              }
            },
            "protocolProfileBehavior": {
              "disableBodyPruning": true
            }
          },
          {
            "name": "Update Customer ATSIntegration - IN_ATS_INDICATOR",
            "id": "1a340220-55b8-4c8c-a6a5-9d2654f8d729",
            "request": {
              "auth": {
                "type": "bearer",
                "bearer": {
                  "token": "{{customer_access_token}}"
                }
              },
              "method": "POST",
              "header": [
                {
                  "key": "x-restli-method",
                  "value": "batch_partial_update",
                  "type": "text"
                },
                {
                  "key": "Content-Type",
                  "name": "Content-Type",
                  "value": "application/json",
                  "type": "text"
                }
              ],
              "body": {
                "mode": "raw",
                "raw": "{\n  \"entities\": {\n    \"integrationContext=urn:li:organization:{{org_id}}&integrationType=IN_ATS_INDICATOR&tenantType=RECRUITER&dataProvider=ATS\": {\n      \"patch\": {\n        \"$set\": {\n          \"integrationName\": \"{{customer_name}} LinkedIn Recruiter ATS Indicator Integration\"\n        }\n      }\n    }\n  }\n}"
              },
              "url": {
                "raw": "https://api.linkedin.com/v2/atsIntegrations?ids[0].integrationContext=urn:li:organization:{{org_id}}&ids[0].integrationType=IN_ATS_INDICATOR&ids[0].tenantType=RECRUITER&ids[0].dataProvider=ATS",
                "protocol": "https",
                "host": [
                  "api",
                  "linkedin",
                  "com"
                ],
                "path": [
                  "v2",
                  "atsIntegrations"
                ],
                "query": [
                  {
                    "key": "ids[0].integrationContext",
                    "value": "urn:li:organization:{{org_id}}"
                  },
                  {
                    "key": "ids[0].integrationType",
                    "value": "IN_ATS_INDICATOR"
                  },
                  {
                    "key": "ids[0].tenantType",
                    "value": "RECRUITER"
                  },
                  {
                    "key": "ids[0].dataProvider",
                    "value": "ATS"
                  }
                ]
              },
              "description": "`/atsIntegrations` used to update the customer Integration. To enable `IN_ATS_INDICATOR `, use `integrationType= IN_ATS_INDICATOR ` in the request body. Partner can update other RSC Integrations by changing `integrationType`.`IN_ATS_INDICATOR ` is Company level Integration To know more , please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/rsc-customer-configuration#sample-request)"
            },
            "response": [ ],
            "folders": [
              "Module 1 - Configure Customer Middleware Integrations (Partner Only )",
              "Configure Customer Middleware Integrations",
              "Update Customer's ATSIntegration (Mandatory)"
            ],
            "effectiveAuth": {
              "type": "bearer",
              "bearer": {
                "token": "{{customer_access_token}}"
              }
            },
            "protocolProfileBehavior": {
              "disableBodyPruning": true
            }
          },
          {
            "name": "Update Customer ATSIntegration - PROFILE_PLUGIN",
            "id": "3265e52c-2f4b-47f7-bebb-c91559f25630",
            "request": {
              "auth": {
                "type": "bearer",
                "bearer": {
                  "token": "{{customer_access_token}}"
                }
              },
              "method": "POST",
              "header": [
                {
                  "key": "x-restli-method",
                  "value": "batch_partial_update",
                  "type": "text"
                },
                {
                  "key": "Content-Type",
                  "name": "Content-Type",
                  "value": "application/json",
                  "type": "text"
                }
              ],
              "body": {
                "mode": "raw",
                "raw": "{\n  \"entities\": {\n    \"integrationContext=urn:li:organization:{{org_id}}&integrationType=PROFILE_PLUGIN&tenantType=RECRUITER&dataProvider=ATS\": {\n      \"patch\": {\n        \"$set\": {\n          \"integrationName\": \"{{customer_name}} LinkedIn Recruiter Profile Plugin Integration\"\n        }\n      }\n    }\n  }\n}"
              },
              "url": {
                "raw": "https://api.linkedin.com/v2/atsIntegrations?ids[0].integrationContext=urn:li:organization:{{org_id}}&ids[0].integrationType=PROFILE_PLUGIN&ids[0].tenantType=RECRUITER&ids[0].dataProvider=ATS",
                "protocol": "https",
                "host": [
                  "api",
                  "linkedin",
                  "com"
                ],
                "path": [
                  "v2",
                  "atsIntegrations"
                ],
                "query": [
                  {
                    "key": "ids[0].integrationContext",
                    "value": "urn:li:organization:{{org_id}}"
                  },
                  {
                    "key": "ids[0].integrationType",
                    "value": "PROFILE_PLUGIN"
                  },
                  {
                    "key": "ids[0].tenantType",
                    "value": "RECRUITER"
                  },
                  {
                    "key": "ids[0].dataProvider",
                    "value": "ATS"
                  }
                ]
              },
              "description": "`/atsIntegrations` used to update the customer Integration. To enable `PROFILE_PLUGIN `, use `integrationType= PROFILE_PLUGIN ` in the request body. Partner can update other RSC Integrations by changing `integrationType`.`PROFILE_PLUGIN ` is Company level Integration. To know more , please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/rsc-customer-configuration#sample-request)"
            },
            "response": [ ],
            "folders": [
              "Module 1 - Configure Customer Middleware Integrations (Partner Only )",
              "Configure Customer Middleware Integrations",
              "Update Customer's ATSIntegration (Mandatory)"
            ],
            "effectiveAuth": {
              "type": "bearer",
              "bearer": {
                "token": "{{customer_access_token}}"
              }
            },
            "protocolProfileBehavior": {
              "disableBodyPruning": true
            }
          },
          {
            "name": "Update Customer ATSIntegration - CSA_API",
            "id": "300602a3-f0e7-4bab-87fc-2abddfed6ce0",
            "request": {
              "auth": {
                "type": "bearer",
                "bearer": {
                  "token": "{{customer_access_token}}"
                }
              },
              "method": "POST",
              "header": [
                {
                  "key": "x-restli-method",
                  "value": "batch_partial_update",
                  "type": "text"
                },
                {
                  "key": "Content-Type",
                  "name": "Content-Type",
                  "value": "application/json",
                  "type": "text"
                }
              ],
              "body": {
                "mode": "raw",
                "raw": "{\n  \"entities\": {\n    \"integrationContext=urn:li:contract:{{contract_id}}&integrationType=CSA_API&tenantType=RECRUITER&dataProvider=ATS\": {\n      \"patch\": {\n        \"$set\": {\n          \"integrationName\": \"{{customer_name}} LinkedIn Recruiter CSA_API Integration\"\n        }\n      }\n    }\n  }\n}"
              },
              "url": {
                "raw": "https://api.linkedin.com/v2/atsIntegrations?ids[0].integrationContext=urn:li:contract:{{contract_id}}&ids[0].integrationType=CSA_API&ids[0].tenantType=RECRUITER&ids[0].dataProvider=ATS",
                "protocol": "https",
                "host": [
                  "api",
                  "linkedin",
                  "com"
                ],
                "path": [
                  "v2",
                  "atsIntegrations"
                ],
                "query": [
                  {
                    "key": "ids[0].integrationContext",
                    "value": "urn:li:contract:{{contract_id}}"
                  },
                  {
                    "key": "ids[0].integrationType",
                    "value": "CSA_API"
                  },
                  {
                    "key": "ids[0].tenantType",
                    "value": "RECRUITER"
                  },
                  {
                    "key": "ids[0].dataProvider",
                    "value": "ATS"
                  }
                ]
              },
              "description": "`/atsIntegrations` used to update the customer Integration. To enable `CSA_API `, use `integrationType= CSA_API ` in the request body. Partner can update other RSC Integrations by changing `integrationType`.`CSA_API ` is Contract level Integration. To know more , please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/rsc-customer-configuration#sample-request)"
            },
            "response": [ ],
            "folders": [
              "Module 1 - Configure Customer Middleware Integrations (Partner Only )",
              "Configure Customer Middleware Integrations",
              "Update Customer's ATSIntegration (Mandatory)"
            ],
            "effectiveAuth": {
              "type": "bearer",
              "bearer": {
                "token": "{{customer_access_token}}"
              }
            },
            "protocolProfileBehavior": {
              "disableBodyPruning": true
            }
          }
        ]
      },
      "get": {
        "tags": [
          "Module 1 - Configure Customer Middleware Integrations (Partner Only ) / Configure Customer Middleware Integrations / Update Customer's ATSIntegration (Mandatory)",
          "Module 1 - Configure Customer Middleware Integrations (Partner Only ) / Configure Customer Middleware Integrations / Retrieve PUSH Notification Content"
        ],
        "summary": "Verify Customer's  ATSIntegrations",
        "description": "When a customer enables an integration, the onboarding status of that integration changes from `Partner Ready` to `Enabled`. When that happens, LinkedIn will send you a push notification with a unique ID.Use this endpoint with the unique notification ID to retrieve more information about the enabled integration.To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/rsc-customer-configuration#5-verify-customer-integrations-enablement)",
        "operationId": "VerifyCustomerSATSIntegrations",
        "parameters": [
          {
            "name": "ids[0].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "urn:li:organization:{{org_id}}"
              }
            }
          },
          {
            "name": "ids[0].integrationType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "IN_ATS_INDICATOR"
              }
            }
          },
          {
            "name": "ids[0].tenantType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "RECRUITER"
              }
            }
          },
          {
            "name": "ids[0].dataProvider",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "ATS"
              }
            }
          },
          {
            "name": "ids[1].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "urn:li:organization:{{org_id}}"
              }
            }
          },
          {
            "name": "ids[1].integrationType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "PROFILE_PLUGIN"
              }
            }
          },
          {
            "name": "ids[1].tenantType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "RECRUITER"
              }
            }
          },
          {
            "name": "ids[1].dataProvider",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "ATS"
              }
            }
          },
          {
            "name": "ids[2].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "urn:li:organization:{{org_id}}"
              }
            }
          },
          {
            "name": "ids[2].integrationType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "ONE_CLICK_EXPORT"
              }
            }
          },
          {
            "name": "ids[2].tenantType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "RECRUITER"
              }
            }
          },
          {
            "name": "ids[2].dataProvider",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "ATS"
              }
            }
          },
          {
            "name": "ids[3].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "urn:li:contract:{{contract_id}}"
              }
            }
          },
          {
            "name": "ids[3].integrationType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "CSA_API"
              }
            }
          },
          {
            "name": "ids[3].tenantType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "RECRUITER"
              }
            }
          },
          {
            "name": "ids[3].dataProvider",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "ATS"
              }
            }
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "request"
              }
            }
          },
          {
            "name": "requestId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "{{Enter_Request_ID_obtained_from_POST_in_CallbackURL}}"
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No response examples were saved in the Postman collection; status codes and response schemas are unknown."
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ],
        "servers": [
          {
            "url": "https://api.linkedin.com"
          }
        ],
        "x-postman-warnings": [
          "No saved responses: status codes and response schemas cannot be inferred.",
          "Multiple Postman requests share this method and path. Inputs and responses are combined; x-postman-variants retains each source request and its correlations."
        ],
        "x-postman-variants": [
          {
            "name": "Verify Customer's  ATSIntegrations",
            "id": "94fec9ab-6b3f-40f0-822d-8b5c906a7104",
            "request": {
              "auth": {
                "type": "bearer",
                "bearer": {
                  "token": "{{customer_access_token}}"
                }
              },
              "method": "GET",
              "header": [ ],
              "url": {
                "raw": "https://api.linkedin.com/v2/atsIntegrations?ids[0].integrationContext=urn:li:organization:{{org_id}}&ids[0].integrationType=IN_ATS_INDICATOR&ids[0].tenantType=RECRUITER&ids[0].dataProvider=ATS&ids[1].integrationContext=urn:li:organization:{{org_id}}&ids[1].integrationType=PROFILE_PLUGIN&ids[1].tenantType=RECRUITER&ids[1].dataProvider=ATS&ids[2].integrationContext=urn:li:organization:{{org_id}}&ids[2].integrationType=ONE_CLICK_EXPORT&ids[2].tenantType=RECRUITER&ids[2].dataProvider=ATS&ids[3].integrationContext=urn:li:contract:{{contract_id}}&ids[3].integrationType=CSA_API&ids[3].tenantType=RECRUITER&ids[3].dataProvider=ATS",
                "protocol": "https",
                "host": [
                  "api",
                  "linkedin",
                  "com"
                ],
                "path": [
                  "v2",
                  "atsIntegrations"
                ],
                "query": [
                  {
                    "key": "ids[0].integrationContext",
                    "value": "urn:li:organization:{{org_id}}"
                  },
                  {
                    "key": "ids[0].integrationType",
                    "value": "IN_ATS_INDICATOR"
                  },
                  {
                    "key": "ids[0].tenantType",
                    "value": "RECRUITER"
                  },
                  {
                    "key": "ids[0].dataProvider",
                    "value": "ATS"
                  },
                  {
                    "key": "ids[1].integrationContext",
                    "value": "urn:li:organization:{{org_id}}"
                  },
                  {
                    "key": "ids[1].integrationType",
                    "value": "PROFILE_PLUGIN"
                  },
                  {
                    "key": "ids[1].tenantType",
                    "value": "RECRUITER"
                  },
                  {
                    "key": "ids[1].dataProvider",
                    "value": "ATS"
                  },
                  {
                    "key": "ids[2].integrationContext",
                    "value": "urn:li:organization:{{org_id}}"
                  },
                  {
                    "key": "ids[2].integrationType",
                    "value": "ONE_CLICK_EXPORT"
                  },
                  {
                    "key": "ids[2].tenantType",
                    "value": "RECRUITER"
                  },
                  {
                    "key": "ids[2].dataProvider",
                    "value": "ATS"
                  },
                  {
                    "key": "ids[3].integrationContext",
                    "value": "urn:li:contract:{{contract_id}}"
                  },
                  {
                    "key": "ids[3].integrationType",
                    "value": "CSA_API"
                  },
                  {
                    "key": "ids[3].tenantType",
                    "value": "RECRUITER"
                  },
                  {
                    "key": "ids[3].dataProvider",
                    "value": "ATS"
                  }
                ]
              }
            },
            "response": [ ],
            "folders": [
              "Module 1 - Configure Customer Middleware Integrations (Partner Only )",
              "Configure Customer Middleware Integrations",
              "Update Customer's ATSIntegration (Mandatory)"
            ],
            "effectiveAuth": {
              "type": "bearer",
              "bearer": {
                "token": "{{customer_access_token}}"
              }
            },
            "protocolProfileBehavior": {
              "disableBodyPruning": true
            }
          },
          {
            "name": "GET Notification Type INTEGRATION_STATUS_CHANGE",
            "id": "e0d60588-fabb-4c44-a9c9-96cbdb7ac5ae",
            "request": {
              "auth": {
                "type": "bearer",
                "bearer": {
                  "token": "{{customer_access_token}}"
                }
              },
              "method": "GET",
              "header": [ ],
              "url": {
                "raw": "https://api.linkedin.com/v2/atsIntegrations?q=request&requestId={{Enter_Request_ID_obtained_from_POST_in_CallbackURL}}",
                "protocol": "https",
                "host": [
                  "api",
                  "linkedin",
                  "com"
                ],
                "path": [
                  "v2",
                  "atsIntegrations"
                ],
                "query": [
                  {
                    "key": "q",
                    "value": "request"
                  },
                  {
                    "key": "requestId",
                    "value": "{{Enter_Request_ID_obtained_from_POST_in_CallbackURL}}"
                  }
                ]
              },
              "description": "When a customer enables an integration, the onboarding status of that integration changes from `Partner Ready` to `Enabled`. When that happens, LinkedIn will send you a push notification with a unique ID.Use this endpoint with the unique notification ID to retrieve more information about the enabled integration.To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/rsc-customer-configuration#5-verify-customer-integrations-enablement)"
            },
            "response": [ ],
            "folders": [
              "Module 1 - Configure Customer Middleware Integrations (Partner Only )",
              "Configure Customer Middleware Integrations",
              "Retrieve PUSH Notification Content"
            ],
            "effectiveAuth": {
              "type": "bearer",
              "bearer": {
                "token": "{{customer_access_token}}"
              }
            },
            "protocolProfileBehavior": {
              "disableBodyPruning": true
            }
          }
        ]
      }
    },
    "/v2/atsIntegrations/integrationContext=urn:li:organization:{org_id}&integrationType=ONE_CLICK_EXPORT&tenantType=RECRUITER&dataProvider=ATS/configurations": {
      "put": {
        "tags": [
          "Module 1 - Configure Customer Middleware Integrations (Partner Only ) / Configure Customer Middleware Integrations / Sync Integration Configurations (Mandatory)"
        ],
        "summary": "Sync Integration Configuration - Callback URL (Mandatory)",
        "description": "Once a customer creates an integration requiring configuration, you must create the configuration using this API before they can enable the integration.`Callback URL` is mandatory for enabling Integration.To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/integration-types#upsert-integration-configurations)\n\nAPI governs who may view job postings within the One-Click Export drop-down.Customers can use this API, if they are not using ACL's.To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/integration-types#integration-configuration-keys)",
        "operationId": "SyncIntegrationConfigurationCallbackURLMandatory",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "CALLBACK_URL"
              },
              "example1_2": {
                "summary": "example1",
                "value": "JOB_POSTING_VIEWERS"
              }
            }
          },
          {
            "name": "x-restli-method",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "batch_update"
              },
              "example1_2": {
                "summary": "example1",
                "value": "batch_update"
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "entities": {
                    "type": "object",
                    "properties": {
                      "CALLBACK_URL": {
                        "type": "object",
                        "properties": {
                          "configurationValue": {
                            "type": "object",
                            "properties": {
                              "string": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      },
                      "JOB_POSTING_VIEWERS": {
                        "type": "object",
                        "properties": {
                          "configurationValue": {
                            "type": "object",
                            "properties": {
                              "string": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "example1": {
                  "value": {
                    "entities": {
                      "CALLBACK_URL": {
                        "configurationValue": {
                          "string": "<https://YourCallbackURL>"
                        }
                      }
                    }
                  }
                },
                "example1_2": {
                  "summary": "example1",
                  "value": {
                    "entities": {
                      "JOB_POSTING_VIEWERS": {
                        "configurationValue": {
                          "string": "ALL_PRODUCT_USERS"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "No response examples were saved in the Postman collection; status codes and response schemas are unknown."
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ],
        "servers": [
          {
            "url": "https://api.linkedin.com"
          }
        ],
        "x-postman-warnings": [
          "No saved responses: status codes and response schemas cannot be inferred.",
          "Multiple Postman requests share this method and path. Inputs and responses are combined; x-postman-variants retains each source request and its correlations."
        ],
        "x-postman-variants": [
          {
            "name": "Sync Integration Configuration - Callback URL (Mandatory)",
            "id": "d03dca4b-643a-42c1-ac57-6a0ab4ec1940",
            "request": {
              "auth": {
                "type": "bearer",
                "bearer": {
                  "token": "{{customer_access_token}}"
                }
              },
              "method": "PUT",
              "header": [
                {
                  "key": "x-restli-method",
                  "value": "batch_update"
                },
                {
                  "key": "Content-Type",
                  "value": "application/json"
                }
              ],
              "body": {
                "mode": "raw",
                "raw": "{\n  \"entities\": {\n    \"CALLBACK_URL\": {\n      \"configurationValue\": {\n        \"string\": \"<https://YourCallbackURL>\"\n      }\n    }\n  }\n}"
              },
              "url": {
                "raw": "https://api.linkedin.com/v2/atsIntegrations/integrationContext=urn:li:organization:{{org_id}}&integrationType=ONE_CLICK_EXPORT&tenantType=RECRUITER&dataProvider=ATS/configurations?ids=CALLBACK_URL",
                "protocol": "https",
                "host": [
                  "api",
                  "linkedin",
                  "com"
                ],
                "path": [
                  "v2",
                  "atsIntegrations",
                  "integrationContext=urn:li:organization:{{org_id}}&integrationType=ONE_CLICK_EXPORT&tenantType=RECRUITER&dataProvider=ATS",
                  "configurations"
                ],
                "query": [
                  {
                    "key": "ids",
                    "value": "CALLBACK_URL"
                  }
                ]
              },
              "description": "Once a customer creates an integration requiring configuration, you must create the configuration using this API before they can enable the integration.`Callback URL` is mandatory for enabling Integration.To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/integration-types#upsert-integration-configurations)"
            },
            "response": [ ],
            "folders": [
              "Module 1 - Configure Customer Middleware Integrations (Partner Only )",
              "Configure Customer Middleware Integrations",
              "Sync Integration Configurations (Mandatory)"
            ],
            "effectiveAuth": {
              "type": "bearer",
              "bearer": {
                "token": "{{customer_access_token}}"
              }
            },
            "protocolProfileBehavior": {
              "disableBodyPruning": true
            }
          },
          {
            "name": "Sync Integration Configuration - Job Posting Viewers (Optional)",
            "id": "314eda34-165d-4c93-928d-eb062d3af97d",
            "request": {
              "auth": {
                "type": "bearer",
                "bearer": {
                  "token": "{{customer_access_token}}"
                }
              },
              "method": "PUT",
              "header": [
                {
                  "key": "x-restli-method",
                  "value": "batch_update"
                },
                {
                  "key": "Content-Type",
                  "value": "application/json"
                }
              ],
              "body": {
                "mode": "raw",
                "raw": "{\n  \"entities\": {\n    \"JOB_POSTING_VIEWERS\": {\n      \"configurationValue\": {\n        \"string\": \"ALL_PRODUCT_USERS\"\n      }\n    }\n  }\n}"
              },
              "url": {
                "raw": "https://api.linkedin.com/v2/atsIntegrations/integrationContext=urn:li:organization:{{org_id}}&integrationType=ONE_CLICK_EXPORT&tenantType=RECRUITER&dataProvider=ATS/configurations?ids=JOB_POSTING_VIEWERS",
                "protocol": "https",
                "host": [
                  "api",
                  "linkedin",
                  "com"
                ],
                "path": [
                  "v2",
                  "atsIntegrations",
                  "integrationContext=urn:li:organization:{{org_id}}&integrationType=ONE_CLICK_EXPORT&tenantType=RECRUITER&dataProvider=ATS",
                  "configurations"
                ],
                "query": [
                  {
                    "key": "ids",
                    "value": "JOB_POSTING_VIEWERS"
                  }
                ]
              },
              "description": "API governs who may view job postings within the One-Click Export drop-down.Customers can use this API, if they are not using ACL's.To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/integration-types#integration-configuration-keys)"
            },
            "response": [ ],
            "folders": [
              "Module 1 - Configure Customer Middleware Integrations (Partner Only )",
              "Configure Customer Middleware Integrations",
              "Sync Integration Configurations (Mandatory)"
            ],
            "effectiveAuth": {
              "type": "bearer",
              "bearer": {
                "token": "{{customer_access_token}}"
              }
            },
            "protocolProfileBehavior": {
              "disableBodyPruning": true
            }
          }
        ]
      },
      "delete": {
        "tags": [
          "Module 1 - Configure Customer Middleware Integrations (Partner Only ) / Configure Customer Middleware Integrations / Sync Integration Configurations (Mandatory)"
        ],
        "summary": "Delete Integration Configuration - Job Posting Viewers",
        "description": "Customer can delete `JOB_POSTING_VIEWERS` Integration using this API. To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/integration-types#delete-integration-configurations)",
        "operationId": "DeleteIntegrationConfigurationJobPostingViewers",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "JOB_POSTING_VIEWERS"
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "examples": {
                "example1": {
                  "value": ""
                }
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "No response examples were saved in the Postman collection; status codes and response schemas are unknown."
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ],
        "servers": [
          {
            "url": "https://api.linkedin.com"
          }
        ],
        "x-postman-warnings": [
          "No saved responses: status codes and response schemas cannot be inferred."
        ],
        "x-postman-variants": [
          {
            "name": "Delete Integration Configuration - Job Posting Viewers",
            "id": "e88262b2-b4df-4b77-ba0d-218ce555c22f",
            "request": {
              "auth": {
                "type": "bearer",
                "bearer": {
                  "token": "{{customer_access_token}}"
                }
              },
              "method": "DELETE",
              "header": [ ],
              "body": {
                "mode": "raw",
                "raw": ""
              },
              "url": {
                "raw": "https://api.linkedin.com/v2/atsIntegrations/integrationContext=urn:li:organization:{{org_id}}&integrationType=ONE_CLICK_EXPORT&tenantType=RECRUITER&dataProvider=ATS/configurations?ids=JOB_POSTING_VIEWERS",
                "protocol": "https",
                "host": [
                  "api",
                  "linkedin",
                  "com"
                ],
                "path": [
                  "v2",
                  "atsIntegrations",
                  "integrationContext=urn:li:organization:{{org_id}}&integrationType=ONE_CLICK_EXPORT&tenantType=RECRUITER&dataProvider=ATS",
                  "configurations"
                ],
                "query": [
                  {
                    "key": "ids",
                    "value": "JOB_POSTING_VIEWERS"
                  }
                ]
              },
              "description": "Customer can delete `JOB_POSTING_VIEWERS` Integration using this API. To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/integration-types#delete-integration-configurations)"
            },
            "response": [ ],
            "folders": [
              "Module 1 - Configure Customer Middleware Integrations (Partner Only )",
              "Configure Customer Middleware Integrations",
              "Sync Integration Configurations (Mandatory)"
            ],
            "effectiveAuth": {
              "type": "bearer",
              "bearer": {
                "token": "{{customer_access_token}}"
              }
            },
            "protocolProfileBehavior": {
              "disableBodyPruning": true
            }
          }
        ]
      },
      "get": {
        "tags": [
          "Module 1 - Configure Customer Middleware Integrations (Partner Only ) / Configure Customer Middleware Integrations / Sync Integration Configurations (Mandatory)"
        ],
        "summary": "Verify Customer Integrations - Configs",
        "description": "API used to retrieve the Customer Integration Configurations.To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/integration-types#verify-integration-configurations)",
        "operationId": "VerifyCustomerIntegrationsConfigs",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "CALLBACK_URL"
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No response examples were saved in the Postman collection; status codes and response schemas are unknown."
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ],
        "servers": [
          {
            "url": "https://api.linkedin.com"
          }
        ],
        "x-postman-warnings": [
          "No saved responses: status codes and response schemas cannot be inferred."
        ],
        "x-postman-variants": [
          {
            "name": "Verify Customer Integrations - Configs",
            "id": "efe0db6e-30dc-4997-b553-bb8c33d02796",
            "request": {
              "auth": {
                "type": "bearer",
                "bearer": {
                  "token": "{{customer_access_token}}"
                }
              },
              "method": "GET",
              "header": [ ],
              "url": {
                "raw": "https://api.linkedin.com/v2/atsIntegrations/integrationContext=urn:li:organization:{{org_id}}&integrationType=ONE_CLICK_EXPORT&tenantType=RECRUITER&dataProvider=ATS/configurations?ids=CALLBACK_URL",
                "protocol": "https",
                "host": [
                  "api",
                  "linkedin",
                  "com"
                ],
                "path": [
                  "v2",
                  "atsIntegrations",
                  "integrationContext=urn:li:organization:{{org_id}}&integrationType=ONE_CLICK_EXPORT&tenantType=RECRUITER&dataProvider=ATS",
                  "configurations"
                ],
                "query": [
                  {
                    "key": "ids",
                    "value": "CALLBACK_URL"
                  }
                ]
              },
              "description": "API used to retrieve the Customer Integration Configurations.To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/integration-types#verify-integration-configurations)"
            },
            "response": [ ],
            "folders": [
              "Module 1 - Configure Customer Middleware Integrations (Partner Only )",
              "Configure Customer Middleware Integrations",
              "Sync Integration Configurations (Mandatory)"
            ],
            "effectiveAuth": {
              "type": "bearer",
              "bearer": {
                "token": "{{customer_access_token}}"
              }
            },
            "protocolProfileBehavior": {
              "disableBodyPruning": true
            }
          }
        ]
      }
    },
    "/v2/atsIntegrations/integrationContext=urn:li:organization:{org_id}&integrationType=IN_ATS_INDICATOR&tenantType=RECRUITER&dataProvider=ATS/configurations": {
      "put": {
        "tags": [
          "Module 1 - Configure Customer Middleware Integrations (Partner Only ) / Configure Customer Middleware Integrations / Sync Integration Configurations (Mandatory)"
        ],
        "summary": "Sync Integration Configuration - Application Viewers (Optional)",
        "description": "API governs who may view job-related data (Interview Feedback, Notes, Applications, and Stages) within the In-ATS indicator.To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/integration-types#integration-configuration-keys)",
        "operationId": "SyncIntegrationConfigurationApplicationViewersOptional",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "APPLICATION_VIEWERS"
              }
            }
          },
          {
            "name": "x-restli-method",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "batch_update"
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "entities": {
                    "type": "object",
                    "properties": {
                      "APPLICATION_VIEWERS": {
                        "type": "object",
                        "properties": {
                          "configurationValue": {
                            "type": "object",
                            "properties": {
                              "string": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "example1": {
                  "value": {
                    "entities": {
                      "APPLICATION_VIEWERS": {
                        "configurationValue": {
                          "string": "ALL_PRODUCT_USERS"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "No response examples were saved in the Postman collection; status codes and response schemas are unknown."
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ],
        "servers": [
          {
            "url": "https://api.linkedin.com"
          }
        ],
        "x-postman-warnings": [
          "No saved responses: status codes and response schemas cannot be inferred."
        ],
        "x-postman-variants": [
          {
            "name": "Sync Integration Configuration - Application Viewers (Optional)",
            "id": "7c2365fb-80ff-4b41-b70d-9bd465fcd60f",
            "request": {
              "auth": {
                "type": "bearer",
                "bearer": {
                  "token": "{{customer_access_token}}"
                }
              },
              "method": "PUT",
              "header": [
                {
                  "key": "x-restli-method",
                  "value": "batch_update"
                },
                {
                  "key": "Content-Type",
                  "value": "application/json"
                }
              ],
              "body": {
                "mode": "raw",
                "raw": "{\n  \"entities\": {\n    \"APPLICATION_VIEWERS\": {\n      \"configurationValue\": {\n        \"string\": \"ALL_PRODUCT_USERS\"\n      }\n    }\n  }\n}"
              },
              "url": {
                "raw": "https://api.linkedin.com/v2/atsIntegrations/integrationContext=urn:li:organization:{{org_id}}&integrationType=IN_ATS_INDICATOR&tenantType=RECRUITER&dataProvider=ATS/configurations?ids=APPLICATION_VIEWERS",
                "protocol": "https",
                "host": [
                  "api",
                  "linkedin",
                  "com"
                ],
                "path": [
                  "v2",
                  "atsIntegrations",
                  "integrationContext=urn:li:organization:{{org_id}}&integrationType=IN_ATS_INDICATOR&tenantType=RECRUITER&dataProvider=ATS",
                  "configurations"
                ],
                "query": [
                  {
                    "key": "ids",
                    "value": "APPLICATION_VIEWERS"
                  }
                ]
              },
              "description": "API governs who may view job-related data (Interview Feedback, Notes, Applications, and Stages) within the In-ATS indicator.To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/integration-types#integration-configuration-keys)"
            },
            "response": [ ],
            "folders": [
              "Module 1 - Configure Customer Middleware Integrations (Partner Only )",
              "Configure Customer Middleware Integrations",
              "Sync Integration Configurations (Mandatory)"
            ],
            "effectiveAuth": {
              "type": "bearer",
              "bearer": {
                "token": "{{customer_access_token}}"
              }
            },
            "protocolProfileBehavior": {
              "disableBodyPruning": true
            }
          }
        ]
      },
      "delete": {
        "tags": [
          "Module 1 - Configure Customer Middleware Integrations (Partner Only ) / Configure Customer Middleware Integrations / Sync Integration Configurations (Mandatory)"
        ],
        "summary": "Delete Integration Configuration - Application Viewers",
        "description": "Customer can delete `APPLICATION_VIEWERS` Integration using this API. To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/integration-types#delete-integration-configurations)",
        "operationId": "DeleteIntegrationConfigurationApplicationViewers",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "APPLICATION_VIEWERS"
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "examples": {
                "example1": {
                  "value": ""
                }
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "No response examples were saved in the Postman collection; status codes and response schemas are unknown."
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ],
        "servers": [
          {
            "url": "https://api.linkedin.com"
          }
        ],
        "x-postman-warnings": [
          "No saved responses: status codes and response schemas cannot be inferred."
        ],
        "x-postman-variants": [
          {
            "name": "Delete Integration Configuration - Application Viewers",
            "id": "181be437-ebef-4f7c-a404-95051474a68a",
            "request": {
              "auth": {
                "type": "bearer",
                "bearer": {
                  "token": "{{customer_access_token}}"
                }
              },
              "method": "DELETE",
              "header": [ ],
              "body": {
                "mode": "raw",
                "raw": ""
              },
              "url": {
                "raw": "https://api.linkedin.com/v2/atsIntegrations/integrationContext=urn:li:organization:{{org_id}}&integrationType=IN_ATS_INDICATOR&tenantType=RECRUITER&dataProvider=ATS/configurations?ids=APPLICATION_VIEWERS",
                "protocol": "https",
                "host": [
                  "api",
                  "linkedin",
                  "com"
                ],
                "path": [
                  "v2",
                  "atsIntegrations",
                  "integrationContext=urn:li:organization:{{org_id}}&integrationType=IN_ATS_INDICATOR&tenantType=RECRUITER&dataProvider=ATS",
                  "configurations"
                ],
                "query": [
                  {
                    "key": "ids",
                    "value": "APPLICATION_VIEWERS"
                  }
                ]
              },
              "description": "Customer can delete `APPLICATION_VIEWERS` Integration using this API. To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/integration-types#delete-integration-configurations)"
            },
            "response": [ ],
            "folders": [
              "Module 1 - Configure Customer Middleware Integrations (Partner Only )",
              "Configure Customer Middleware Integrations",
              "Sync Integration Configurations (Mandatory)"
            ],
            "effectiveAuth": {
              "type": "bearer",
              "bearer": {
                "token": "{{customer_access_token}}"
              }
            },
            "protocolProfileBehavior": {
              "disableBodyPruning": true
            }
          }
        ]
      }
    },
    "/v2/atsIntegrations/integrationContext=urn:li:organization:{org_id}&integrationType=ONE_CLICK_EXPORT&tenantType=RECRUITER&dataProvider=ATS": {
      "delete": {
        "tags": [
          "Module 1 - Configure Customer Middleware Integrations (Partner Only ) / Configure Customer Middleware Integrations / Delete ATS Integrations for Development App"
        ],
        "summary": "Delete ATS Integration ONE_CLICK_EXPORT",
        "operationId": "DeleteATSIntegrationONECLICKEXPORT",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No response examples were saved in the Postman collection; status codes and response schemas are unknown."
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ],
        "servers": [
          {
            "url": "https://api.linkedin.com"
          }
        ],
        "x-postman-warnings": [
          "No saved responses: status codes and response schemas cannot be inferred."
        ],
        "x-postman-variants": [
          {
            "name": "Delete ATS Integration ONE_CLICK_EXPORT",
            "id": "4e5816ba-bf71-4889-b944-de4e26cf83a5",
            "request": {
              "method": "DELETE",
              "header": [ ],
              "url": "https://api.linkedin.com/v2/atsIntegrations/integrationContext=urn:li:organization:{{org_id}}&integrationType=ONE_CLICK_EXPORT&tenantType=RECRUITER&dataProvider=ATS"
            },
            "response": [ ],
            "folders": [
              "Module 1 - Configure Customer Middleware Integrations (Partner Only )",
              "Configure Customer Middleware Integrations",
              "Delete ATS Integrations for Development App"
            ],
            "effectiveAuth": {
              "type": "bearer",
              "bearer": {
                "token": "{{customer_access_token}}"
              }
            },
            "protocolProfileBehavior": {
              "disableBodyPruning": true
            }
          }
        ]
      }
    },
    "/v2/atsIntegrations/integrationContext=urn:li:organization:{org_id}&integrationType=IN_ATS_INDICATOR&tenantType=RECRUITER&dataProvider=ATS": {
      "delete": {
        "tags": [
          "Module 1 - Configure Customer Middleware Integrations (Partner Only ) / Configure Customer Middleware Integrations / Delete ATS Integrations for Development App"
        ],
        "summary": "Delete ATS Integration IN_ATS_INDICATOR",
        "operationId": "DeleteATSIntegrationINATSINDICATOR",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No response examples were saved in the Postman collection; status codes and response schemas are unknown."
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ],
        "servers": [
          {
            "url": "https://api.linkedin.com"
          }
        ],
        "x-postman-warnings": [
          "No saved responses: status codes and response schemas cannot be inferred."
        ],
        "x-postman-variants": [
          {
            "name": "Delete ATS Integration IN_ATS_INDICATOR",
            "id": "96c64668-22dd-4dc1-89bc-226d95610286",
            "request": {
              "method": "DELETE",
              "header": [ ],
              "url": "https://api.linkedin.com/v2/atsIntegrations/integrationContext=urn:li:organization:{{org_id}}&integrationType=IN_ATS_INDICATOR&tenantType=RECRUITER&dataProvider=ATS"
            },
            "response": [ ],
            "folders": [
              "Module 1 - Configure Customer Middleware Integrations (Partner Only )",
              "Configure Customer Middleware Integrations",
              "Delete ATS Integrations for Development App"
            ],
            "effectiveAuth": {
              "type": "bearer",
              "bearer": {
                "token": "{{customer_access_token}}"
              }
            },
            "protocolProfileBehavior": {
              "disableBodyPruning": true
            }
          }
        ]
      }
    },
    "/v2/atsIntegrations/integrationContext=urn:li:organization:{org_id}&integrationType=PROFILE_PLUGIN&tenantType=RECRUITER&dataProvider=ATS": {
      "delete": {
        "tags": [
          "Module 1 - Configure Customer Middleware Integrations (Partner Only ) / Configure Customer Middleware Integrations / Delete ATS Integrations for Development App"
        ],
        "summary": "Delete ATS Integration PROFILE_PLUGIN",
        "operationId": "DeleteATSIntegrationPROFILEPLUGIN",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No response examples were saved in the Postman collection; status codes and response schemas are unknown."
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ],
        "servers": [
          {
            "url": "https://api.linkedin.com"
          }
        ],
        "x-postman-warnings": [
          "No saved responses: status codes and response schemas cannot be inferred."
        ],
        "x-postman-variants": [
          {
            "name": "Delete ATS Integration PROFILE_PLUGIN",
            "id": "e1ce8e16-18ba-447f-8434-6cd2b642e22c",
            "request": {
              "method": "DELETE",
              "header": [ ],
              "url": "https://api.linkedin.com/v2/atsIntegrations/integrationContext=urn:li:organization:{{org_id}}&integrationType=PROFILE_PLUGIN&tenantType=RECRUITER&dataProvider=ATS"
            },
            "response": [ ],
            "folders": [
              "Module 1 - Configure Customer Middleware Integrations (Partner Only )",
              "Configure Customer Middleware Integrations",
              "Delete ATS Integrations for Development App"
            ],
            "effectiveAuth": {
              "type": "bearer",
              "bearer": {
                "token": "{{customer_access_token}}"
              }
            },
            "protocolProfileBehavior": {
              "disableBodyPruning": true
            }
          }
        ]
      }
    },
    "/v2/atsIntegrations/integrationContext=urn:li:contract:{contract_id}&integrationType=CSA_API&tenantType=RECRUITER&dataProvider=ATS": {
      "delete": {
        "tags": [
          "Module 1 - Configure Customer Middleware Integrations (Partner Only ) / Configure Customer Middleware Integrations / Delete ATS Integrations for Development App"
        ],
        "summary": "Delete ATS Integration CSA_API",
        "operationId": "DeleteATSIntegrationCSAAPI",
        "parameters": [
          {
            "name": "contract_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No response examples were saved in the Postman collection; status codes and response schemas are unknown."
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ],
        "servers": [
          {
            "url": "https://api.linkedin.com"
          }
        ],
        "x-postman-warnings": [
          "No saved responses: status codes and response schemas cannot be inferred."
        ],
        "x-postman-variants": [
          {
            "name": "Delete ATS Integration CSA_API",
            "id": "2b4e4072-6019-4607-909c-075ab919b94c",
            "request": {
              "method": "DELETE",
              "header": [ ],
              "url": "https://api.linkedin.com/v2/atsIntegrations/integrationContext=urn:li:contract:{{contract_id}}&integrationType=CSA_API&tenantType=RECRUITER&dataProvider=ATS"
            },
            "response": [ ],
            "folders": [
              "Module 1 - Configure Customer Middleware Integrations (Partner Only )",
              "Configure Customer Middleware Integrations",
              "Delete ATS Integrations for Development App"
            ],
            "effectiveAuth": {
              "type": "bearer",
              "bearer": {
                "token": "{{customer_access_token}}"
              }
            },
            "protocolProfileBehavior": {
              "disableBodyPruning": true
            }
          }
        ]
      }
    },
    "/v2/simpleJobPostings": {
      "post": {
        "tags": [
          "Module 2 - Sync data from ATS to Linkedin / Sync Jobs"
        ],
        "summary": "Create Public Job",
        "description": "This call is for Syncing PUBLIC Jobs to LinkedIn from ATS. `availability` field set to `PUBLIC`. Please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/job-postings/api/job-posting-api-schema#recruiter-system-connect-extension-schema)\n\nThis call is for Syncing PUBLIC Jobs to LinkedIn from ATS. `availability` field set to `PRIVATE_TO_ATS_INTEGRATION`. Please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/job-postings/api/job-posting-api-schema#recruiter-system-connect-extension-schema)",
        "operationId": "CreatePublicJob",
        "parameters": [
          {
            "name": "x-restli-method",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "batch_create"
              },
              "example1_2": {
                "summary": "example1",
                "value": "batch_create"
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "x-postman-invalid-json": true
              },
              "x-postman-raw-body": "{\n    \"elements\": [\n        {\n            \"integrationContext\": \"urn:li:organization:{{org_id}}\",\n            \"externalJobPostingId\": \"{{public_externalJobPostingId}}\",\n            \"title\": \"Technical Lead- Test\",\n            \"description\": \"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.\",\n            \"location\": \"San Francisco, CA\",\n            \"availability\": \"PUBLIC\",\n            \"jobPostingOperationType\":\"CREATE\",            \n            \"industries\" : [\n            \"urn:li:industry:94\",\n            \"urn:li:industry:127\"\n         ],\n            \"companyApplyUrl\": \"http://localhost:5000/jobs\",\n            \"listedAt\": {{$timestamp}}000,\n            \"companyJobCode\":\"RR\",\n            \"skillsDescription\":\"TECH\",\n            \"requisitionOwnerFirstName\":\"KANIKA\",\n            \"requisitionOwnerLastName\":\"VATS\",\n            \"requisitionOwnerEmail\":\"kvats@linkedin.com\",\n            \"sourceDomain\":\"www.linkedin.com/careers\",\n            \"categories\":[\"eng\"],\n            \"employmentStatus\":\"FULL_TIME\",\n            \"expireAt\":{{$timestamp}}000\n        }\n    ]\n}"
            }
          }
        },
        "responses": {
          "default": {
            "description": "No response examples were saved in the Postman collection; status codes and response schemas are unknown."
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ],
        "servers": [
          {
            "url": "https://api.linkedin.com"
          }
        ],
        "x-postman-warnings": [
          "Body is declared as JSON but cannot be parsed, even as a Postman template. Its raw text is preserved without inventing a schema.",
          "No saved responses: status codes and response schemas cannot be inferred.",
          "Multiple Postman requests share this method and path. Inputs and responses are combined; x-postman-variants retains each source request and its correlations."
        ],
        "x-postman-variants": [
          {
            "name": "Create Public Job",
            "id": "a3bacbae-3475-49ac-a8c2-92ffcb4c75a3",
            "request": {
              "auth": {
                "type": "bearer",
                "bearer": {
                  "token": "{{customer_access_token}}"
                }
              },
              "method": "POST",
              "header": [
                {
                  "key": "x-restli-method",
                  "value": "batch_create"
                },
                {
[...]
