{
  "openapi": "3.0.4",
  "info": {
    "title": "Recruiter System Connect (Versioned)",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.linkedin.com"
    }
  ],
  "paths": {
    "/rest/integrations": {
      "get": {
        "summary": "Verify Customer's  ATSIntegrations",
        "operationId": "VerifyCustomerSATSIntegrations",
        "parameters": [
          {
            "name": "ids[0].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].integrationType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].tenantType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].dataProvider",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[1].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[1].integrationType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[1].tenantType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[1].dataProvider",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[2].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[2].integrationType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[2].tenantType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[2].dataProvider",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[3].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[3].integrationType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[3].tenantType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[3].dataProvider",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LinkedIn-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "summary": "Update Customer ATSIntegration - CSA_API",
        "description": "`/atsIntegrations` used to update the customer Integration. To enable `CSA_API `, use `integrationType= CSA_API ` in the request body. Partner can update other RSC Integrations by changing `integrationType`.`CSA_API ` is Contract level Integration. To know more , please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/rsc-customer-configuration#sample-request)",
        "operationId": "UpdateCustomerATSIntegrationCSAAPI",
        "parameters": [
          {
            "name": "ids[0].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].integrationType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].tenantType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-restli-method",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LinkedIn-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "entities"
                ],
                "type": "object",
                "properties": {
                  "entities": {
                    "required": [
                      "integrationContext=urn:li:contract:{{contract_id}}&integrationType=CSA_API&tenantType=RECRUITER"
                    ],
                    "type": "object",
                    "properties": {
                      "integrationContext=urn:li:contract:{{contract_id}}&integrationType=CSA_API&tenantType=RECRUITER": {
                        "required": [
                          "patch"
                        ],
                        "type": "object",
                        "properties": {
                          "patch": {
                            "required": [
                              "$set"
                            ],
                            "type": "object",
                            "properties": {
                              "$set": {
                                "required": [
                                  "integrationName"
                                ],
                                "type": "object",
                                "properties": {
                                  "integrationName": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Delete ATS Integration CSA_API",
        "operationId": "DeleteATSIntegrationCSAAPI",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LinkedIn-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Restli-Protocol-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/ret/integrations": {
      "post": {
        "summary": "Update Customer ATSIntegration",
        "description": "`/atsIntegrations` used to update the customer Integration. To enable `ONE_CLICK_EXPORT`, use `integrationType=ONE_CLICK_EXPORT` in the request body. Partner can update other RSC Integrations by changing `integrationType`.`ONE_CLICK_EXPORT` is Company level Integration. To know more , please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/rsc-customer-configuration#sample-request)",
        "operationId": "UpdateCustomerATSIntegration",
        "parameters": [
          {
            "name": "ids[0].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].integrationType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].tenantType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].dataProvider",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[1].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[1].integrationType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[1].tenantType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[1].dataProvider",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[2].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[2].integrationType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[2].tenantType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[2].dataProvider",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[3].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[3].integrationType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[3].tenantType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[3].dataProvider",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-restli-method",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LinkedIn-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "entities"
                ],
                "type": "object",
                "properties": {
                  "entities": {
                    "required": [
                      "integrationContext=urn:li:organization:{{org_id}}&integrationType=ONE_CLICK_EXPORT&tenantType=RECRUITER",
                      "integrationContext=urn:li:organization:{{org_id}}&integrationType=IN_ATS_INDICATOR&tenantType=RECRUITER",
                      "integrationContext=urn:li:organization:{{org_id}}&integrationType=PROFILE_PLUGIN&tenantType=RECRUITER",
                      "integrationContext=urn:li:contract:{{contract_id}}&integrationType=CSA_API&tenantType=RECRUITER"
                    ],
                    "type": "object",
                    "properties": {
                      "integrationContext=urn:li:organization:{{org_id}}&integrationType=ONE_CLICK_EXPORT&tenantType=RECRUITER": {
                        "required": [
                          "patch"
                        ],
                        "type": "object",
                        "properties": {
                          "patch": {
                            "required": [
                              "$set"
                            ],
                            "type": "object",
                            "properties": {
                              "$set": {
                                "required": [
                                  "integrationName"
                                ],
                                "type": "object",
                                "properties": {
                                  "integrationName": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "integrationContext=urn:li:organization:{{org_id}}&integrationType=IN_ATS_INDICATOR&tenantType=RECRUITER": {
                        "required": [
                          "patch"
                        ],
                        "type": "object",
                        "properties": {
                          "patch": {
                            "required": [
                              "$set"
                            ],
                            "type": "object",
                            "properties": {
                              "$set": {
                                "required": [
                                  "integrationName"
                                ],
                                "type": "object",
                                "properties": {
                                  "integrationName": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "integrationContext=urn:li:organization:{{org_id}}&integrationType=PROFILE_PLUGIN&tenantType=RECRUITER": {
                        "required": [
                          "patch"
                        ],
                        "type": "object",
                        "properties": {
                          "patch": {
                            "required": [
                              "$set"
                            ],
                            "type": "object",
                            "properties": {
                              "$set": {
                                "required": [
                                  "integrationName"
                                ],
                                "type": "object",
                                "properties": {
                                  "integrationName": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "integrationContext=urn:li:contract:{{contract_id}}&integrationType=CSA_API&tenantType=RECRUITER": {
                        "required": [
                          "patch"
                        ],
                        "type": "object",
                        "properties": {
                          "patch": {
                            "required": [
                              "$set"
                            ],
                            "type": "object",
                            "properties": {
                              "$set": {
                                "required": [
                                  "integrationName"
                                ],
                                "type": "object",
                                "properties": {
                                  "integrationName": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/rest/integrationConfigurations": {
      "put": {
        "summary": "Sync Integration Configuration - Application Viewers (Optional)",
        "description": "API governs who may view job-related data (Interview Feedback, Notes, Applications, and Stages) within the In-ATS indicator.To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/integration-types#integration-configuration-keys)",
        "operationId": "SyncIntegrationConfigurationApplicationViewersOptional",
        "parameters": [
          {
            "name": "ids[0].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].integrationType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].tenantType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].configurationName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-restli-method",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LinkedIn-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "entities"
                ],
                "type": "object",
                "properties": {
                  "entities": {
                    "required": [
                      "integrationContext=urn%3Ali%3Aorganization%3a{{org_id}}&integrationType=ONE_CLICK_EXPORT&tenantType=RECRUITER&configurationName=APPLICATION_VIEWERS"
                    ],
                    "type": "object",
                    "properties": {
                      "integrationContext=urn%3Ali%3Aorganization%3a{{org_id}}&integrationType=ONE_CLICK_EXPORT&tenantType=RECRUITER&configurationName=APPLICATION_VIEWERS": {
                        "required": [
                          "configurationValue"
                        ],
                        "type": "object",
                        "properties": {
                          "configurationValue": {
                            "required": [
                              "string"
                            ],
                            "type": "object",
                            "properties": {
                              "string": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "get": {
        "summary": "Verify Customer Integrations - Configs",
        "description": "API used to retrieve the Customer Integration Configurations.To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/integration-types#verify-integration-configurations)",
        "operationId": "VerifyCustomerIntegrationsConfigs",
        "parameters": [
          {
            "name": "ids[0].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].integrationType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].tenantType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].configurationName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LinkedIn-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v2/atsIntegrations/integrationContext=urn:li:organization:{org_id}&integrationType=ONE_CLICK_EXPORT&tenantType=RECRUITER&dataProvider=ATS/configurations": {
      "delete": {
        "summary": "Delete Integration Configuration - Job Posting Viewers",
        "description": "Customer can delete `JOB_POSTING_VIEWERS` Integration using this API. To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/integration-types#delete-integration-configurations)",
        "operationId": "DeleteIntegrationConfigurationJobPostingViewers",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LinkedIn-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v2/atsIntegrations/integrationContext=urn:li:organization:{org_id}&integrationType=IN_ATS_INDICATOR&tenantType=RECRUITER&dataProvider=ATS/configurations": {
      "delete": {
        "summary": "Delete Integration Configuration - Application Viewers",
        "description": "Customer can delete `APPLICATION_VIEWERS` Integration using this API. To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/integration-types#delete-integration-configurations)",
        "operationId": "DeleteIntegrationConfigurationApplicationViewers",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LinkedIn-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/rest/candidates": {
      "put": {
        "summary": "Sync Candidates -- restli 2.0.0  + query tunnelling",
        "operationId": "SyncCandidatesRestli200QueryTunnelling",
        "parameters": [
          {
            "name": "x-restli-method",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LinkedIn-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Restli-Protocol-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HTTP-Method-Override",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/mixed; boundary=xyz": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "get": {
        "summary": "Sync Candidates -- retrieve Candidate",
        "operationId": "SyncCandidatesRetrieveCandidate",
        "parameters": [
          {
            "name": "ids[0].externalCandidateId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LinkedIn-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Delete Candidates - query tunnelling",
        "operationId": "DeleteCandidatesQueryTunnelling",
        "parameters": [
          {
            "name": "LinkedIn-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HTTP-Method-Override",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/rest/candidateNotes": {
      "put": {
        "summary": "Sync Candidate Notes - restli 2.0.0 + query tunenlling",
        "operationId": "SyncCandidateNotesRestli200QueryTunenlling",
        "parameters": [
          {
            "name": "x-restli-method",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LinkedIn-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HTTP-Method-Override",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Restli-Protocol-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/mixed; boundary=xyz": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Delete Candidate Notes - query tunnelling",
        "operationId": "DeleteCandidateNotesQueryTunnelling",
        "parameters": [
          {
            "name": "LinkedIn-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HTTP-Method-Override",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/rest/jobRequisitions": {
      "put": {
        "summary": "Create Job Requisitions - restli 2.0.0 + query tunnelling",
        "description": "This call is for Syncing PUBLIC Jobs to LinkedIn from ATS. `availability` field set to `PUBLIC`. Please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/job-postings/api/job-posting-api-schema#recruiter-system-connect-extension-schema)",
        "operationId": "CreateJobRequisitionsRestli200QueryTunnelling",
        "parameters": [
          {
            "name": "x-restli-method",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LinkedIn-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HTTP-Method-Override",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Restli-Protocol-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/mixed; boundary=xyz": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Delete JobRequisitions - query tunneling",
        "operationId": "DeleteJobRequisitionsQueryTunneling",
        "parameters": [
          {
            "name": "X-HTTP-Method-Override",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LinkedIn-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/rest/jobRequisitionStages": {
      "put": {
        "summary": "Create Job Requisition Stages  - restli 2.0.0 + query tunnelling",
        "operationId": "CreateJobRequisitionStagesRestli200QueryTunnelling",
        "parameters": [
          {
            "name": "x-restli-method",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LinkedIn-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HTTP-Method-Override",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Restli-Protocol-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/mixed; boundary=xyz": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Delete JobRequisitionStages - query tunneling",
        "operationId": "DeleteJobRequisitionStagesQueryTunneling",
        "parameters": [
          {
            "name": "X-HTTP-Method-Override",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LinkedIn-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/rest/atsApplications": {
      "put": {
        "summary": "Sync Job Applications- restli 2.0.0 + query tunnelling",
        "operationId": "SyncJobApplicationsRestli200QueryTunnelling",
        "parameters": [
          {
            "name": "x-restli-method",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LinkedIn-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HTTP-Method-Override",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Restli-Protocol-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/mixed; boundary=xyz": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Delete Applications - query tunnelling",
        "operationId": "DeleteApplicationsQueryTunnelling",
        "parameters": [
          {
            "name": "X-HTTP-Method-Override",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "linkedin-version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/rest/applicationStage": {
      "put": {
        "summary": "Sync Application Stages - restli 2.0.0 + query tunenlling",
        "operationId": "SyncApplicationStagesRestli200QueryTunenlling",
        "parameters": [
          {
            "name": "x-restli-method",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LinkedIn-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HTTP-Method-Override",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Restli-Protocol-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/mixed; boundary=xyz": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Delete Application Stages - query tunneling",
        "operationId": "DeleteApplicationStagesQueryTunneling",
        "parameters": [
          {
            "name": "LinkedIn-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HTTP-Method-Override",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/rest/applicationNotes": {
      "put": {
        "summary": "Sync Application Notes - restli 2.0.0 + query tunenlling",
        "operationId": "SyncApplicationNotesRestli200QueryTunenlling",
        "parameters": [
          {
            "name": "x-restli-method",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LinkedIn-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HTTP-Method-Override",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Restli-Protocol-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/mixed; boundary=xyz": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Delete Application Notes - query tunneling",
        "operationId": "DeleteApplicationNotesQueryTunneling",
        "parameters": [
          {
            "name": "LinkedIn-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HTTP-Method-Override",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/rest/applicationInterviewFeedbacks": {
      "put": {
        "summary": "Sync ApplicationInterviewFeedback - restli 2.0.0 + query tunnelling",
        "operationId": "SyncApplicationInterviewFeedbackRestli200QueryTunnelling",
        "parameters": [
          {
            "name": "x-restli-method",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LinkedIn-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HTTP-Method-Override",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Restli-Protocol-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/mixed; boundary=xyz": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Delete  Application Interview Feedback - query tunneling",
        "operationId": "DeleteApplicationInterviewFeedbackQueryTunneling",
        "parameters": [
          {
            "name": "X-HTTP-Method-Override",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LinkedIn-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/rest/attachments": {
      "put": {
        "summary": "Sync Attachments - restli 2.0.0 + query tunnelling",
        "operationId": "SyncAttachmentsRestli200QueryTunnelling",
        "parameters": [
          {
            "name": "x-restli-method",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LinkedIn-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HTTP-Method-Override",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Restli-Protocol-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/mixed; boundary=xyz": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Delete Attachment - query tunnelling",
        "operationId": "DeleteAttachmentQueryTunnelling",
        "parameters": [
          {
            "name": "LinkedIn-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HTTP-Method-Override",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/rest/exportedCandidates": {
      "get": {
        "summary": "GET Notification Type EXPORT_CANDIDATE_PROFILE",
        "operationId": "GETNotificationTypeEXPORTCANDIDATEPROFILE",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requestId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Linkedin-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/rest/mailStubs": {
      "get": {
        "summary": "Retrieve InMail Stub Profiles",
        "description": "InMail Stub Profile API allows you to retrieve basic profile data of LinkedIn members that have replied to InMails sent from Recruiter seat holders.To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/recruiter-prospect-interactions/inmail-stub-profiles)",
        "operationId": "RetrieveInMailStubProfiles",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contract",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "createdDateStart",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "createdDateEnd",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "owners",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "linkedin-version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/rest/seatsV2": {
      "get": {
        "summary": "Retrieve Recruiter Seatholders",
        "description": "`/seats` used to retrieve the details of Contract Seat holders including name, email Id and unique ID.To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/recruiter-prospect-interactions/recruiter-seatholders#seats-deprecation-set-for-april-1-2022)",
        "operationId": "RetrieveRecruiterSeatholders",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contracts",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "linkedin-version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/rest/entityAcls": {
      "put": {
        "summary": "Upsert Entity ACL",
        "operationId": "UpsertEntityACL",
        "parameters": [
          {
            "name": "ids[0].entityAclId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].dataProvider",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].entityType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].entityId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-restli-method",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LinkedIn-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "get": {
        "summary": "Retrieve Entity ACL",
        "operationId": "RetrieveEntityACL",
        "parameters": [
          {
            "name": "dataProvider",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entityType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entityId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LinkedIn-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Delete Entity ACL",
        "operationId": "DeleteEntityACL",
        "parameters": [
          {
            "name": "ids[0].entityAclId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].dataProvider",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].entityId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].entityType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LinkedIn-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/rest/entityAclAssignees": {
      "put": {
        "summary": "Upsert Entity ACL Assignees",
        "operationId": "UpsertEntityACLAssignees",
        "parameters": [
          {
            "name": "ids[0].entityAclId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].dataProvider",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].assignee",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].entityType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-restli-method",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-RestLi-Protocol-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LinkedIn-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "entities"
                ],
                "type": "object",
                "properties": {
                  "entities": {
                    "required": [
                      "dataProvider=ATS&integrationContext=urn:li:organization:{{org_id}}&entityAclId={{entity_acl_id}}&assignee=urn:li:person:{{person_id}}"
                    ],
                    "type": "object",
                    "properties": {
                      "dataProvider=ATS&integrationContext=urn:li:organization:{{org_id}}&entityAclId={{entity_acl_id}}&assignee=urn:li:person:{{person_id}}": {
                        "required": [
                          "externalCreatedAt",
                          "externalLastModifiedAt"
                        ],
                        "type": "object",
                        "properties": {
                          "externalCreatedAt": {
                            "type": "integer"
                          },
                          "externalLastModifiedAt": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Delete Entity ACL Assignees",
        "operationId": "DeleteEntityACLAssignees",
        "parameters": [
          {
            "name": "ids[0].entityAclId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].dataProvider",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].assignee",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].entityType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LinkedIn-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v2/atsEntityAclAssignees": {
      "get": {
        "summary": "Retrieve Entity ACL Assignees",
        "operationId": "RetrieveEntityACLAssignees",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assignee",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataProvider",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LinkedIn-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/oauth/v2/accessToken": {
      "post": {
        "summary": "Get Customer Application Access Token",
        "operationId": "GetCustomerApplicationAccessToken",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "grant_type": {
                    "type": "string"
                  },
                  "client_id": {
                    "type": "string"
                  },
                  "client_secret": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    }
  },
  "components": { }
}