{
  "openapi": "3.0.4",
  "info": {
    "title": "Talent CRM Connect",
    "description": "CRM Connect synchronizes candidate information between your Candidate Relationship Management system and LinkedIn Recruiter. With CRM Connect, LinkedIn Recruiter users will be able to export LinkedIn member profiles to your external CRM System and view member profiles directly within the CRM. Users will also be able to view CRM recruiting activity from within LinkedIn Recruiter.\n\nThe following features will be available with CRM Connect:\n\n- In-CRM Indicator\n    \n- One-Click Export\n    \n- Profile Widget\n    \n- CRM tab in LinkedIn Recruiter\n    \n\nWe are making updates to our collections. If you run into any issues pulling the latest changes, simply fork the collection again.\n\nFor more details, please check the [Talent CRM Connect Overiew](https://learn.microsoft.com/en-us/linkedin/talent/crm-connect/crm-connect-overview)",
    "version": "1.0.0"
  },
  "paths": {
    "/oauth/v2/accessToken": {
      "post": {
        "tags": [
          "Module 1 - Customer Onboarding / Configure Customer Integrations / Update Customer's ATSIntegration (Mandatory)"
        ],
        "summary": "Child Application Access Token",
        "description": "Updating Customer Integration by using `Child Application token`",
        "operationId": "ChildApplicationAccessToken",
        "requestBody": {
          "content": {
            "text/plain": {
              "schema": {
                "type": "object",
                "properties": {
                  "grant_type": {
                    "type": "string"
                  },
                  "client_id": {
                    "type": "string"
                  },
                  "client_secret": {
                    "type": "string"
                  }
                }
              },
              "examples": {
                "example1": {
                  "value": {
                    "grant_type": "client_credentials",
                    "client_id": "{{customer_app_client_id}}",
                    "client_secret": "{{customer_app_client_secret}}"
                  }
                }
              },
              "encoding": {
                "grant_type": {
                  "style": "form",
                  "explode": true
                },
                "client_id": {
                  "style": "form",
                  "explode": true
                },
                "client_secret": {
                  "style": "form",
                  "explode": true
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "grant_type": {
                    "type": "string"
                  },
                  "client_id": {
                    "type": "string"
                  },
                  "client_secret": {
                    "type": "string"
                  }
                }
              },
              "examples": {
                "example1": {
                  "value": {
                    "grant_type": "client_credentials",
                    "client_id": "{{customer_app_client_id}}",
                    "client_secret": "{{customer_app_client_secret}}"
                  }
                },
                "example1_2": {
                  "summary": "example1",
                  "value": {
                    "grant_type": "client_credentials",
                    "client_id": "{{customer_app_client_id}}",
                    "client_secret": "{{customer_app_client_secret}}"
                  }
                }
              },
              "encoding": {
                "grant_type": {
                  "style": "form",
                  "explode": true
                },
                "client_id": {
                  "style": "form",
                  "explode": true
                },
                "client_secret": {
                  "style": "form",
                  "explode": true
                }
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "No response examples were saved in the Postman collection; status codes and response schemas are unknown."
          }
        },
        "security": [
          {
            "oauth2Auth": [ ]
          },
          {
            "bearerAuth": [ ]
          }
        ],
        "servers": [
          {
            "url": "https://www.linkedin.com"
          }
        ],
        "x-postman-warnings": [
          "No saved responses: status codes and response schemas cannot be inferred.",
          "Multiple Postman requests share this method and path. Inputs and responses are combined; x-postman-variants retains each source request and its correlations."
        ],
        "x-postman-variants": [
          {
            "name": "Child Application Access Token",
            "id": "f37760cb-3864-45c8-9613-73b08d61121d",
            "request": {
              "method": "POST",
              "header": [
                {
                  "key": "Content-Type",
                  "name": "Content-Type",
                  "value": "text/plain",
                  "type": "text"
                }
              ],
              "body": {
                "mode": "urlencoded",
                "urlencoded": [
                  {
                    "key": "grant_type",
                    "value": "client_credentials",
                    "type": "text"
                  },
                  {
                    "key": "client_id",
                    "value": "{{customer_app_client_id}}",
                    "type": "text"
                  },
                  {
                    "key": "client_secret",
                    "value": "{{customer_app_client_secret}}",
                    "type": "text"
                  }
                ]
              },
              "url": "https://www.linkedin.com/oauth/v2/accessToken",
              "description": "Updating Customer Integration by using `Child Application token`"
            },
            "response": [ ],
            "folders": [
              "Module 1 - Customer Onboarding",
              "Configure Customer Integrations",
              "Update Customer's ATSIntegration (Mandatory)"
            ],
            "effectiveAuth": {
              "type": "oauth2",
              "oauth2": {
                "client_authentication": "body",
                "clientSecret": "{{client_secret}}",
                "clientId": "{{client_id}}",
                "accessTokenUrl": "https://www.linkedin.com/oauth/v2/accessToken",
                "grant_type": "client_credentials",
                "tokenName": "tcrm-access-token",
                "addTokenTo": "header"
              }
            },
            "event": [
              {
                "listen": "test",
                "script": {
                  "exec": [
                    "var jsonData = JSON.parse(responseBody);",
                    "pm.globals.set(\"customer_access_token\", jsonData.access_token);"
                  ],
                  "type": "text/javascript",
                  "id": "eb97f8c3-d8a6-4e3f-ada1-1514203cf6bd"
                }
              }
            ],
            "protocolProfileBehavior": {
              "disableBodyPruning": true
            }
          },
          {
            "name": "Get Customer Application Access Token Copy",
            "id": "409ac2ec-9725-418b-b9a6-ff1df417d364",
            "request": {
              "method": "POST",
              "header": [
                {
                  "key": "Content-Type",
                  "value": "application/x-www-form-urlencoded"
                }
              ],
              "body": {
                "mode": "urlencoded",
                "urlencoded": [
                  {
                    "key": "grant_type",
                    "value": "client_credentials",
                    "type": "text"
                  },
                  {
                    "key": "client_id",
                    "value": "{{customer_app_client_id}}",
                    "type": "text"
                  },
                  {
                    "key": "client_secret",
                    "value": "{{customer_app_client_secret}}",
                    "type": "text"
                  }
                ]
              },
              "url": "https://www.linkedin.com/oauth/v2/accessToken"
            },
            "response": [ ],
            "folders": [ ],
            "effectiveAuth": {
              "type": "oauth2",
              "oauth2": {
                "client_authentication": "body",
                "clientSecret": "{{client_secret}}",
                "clientId": "{{client_id}}",
                "accessTokenUrl": "https://www.linkedin.com/oauth/v2/accessToken",
                "grant_type": "client_credentials",
                "tokenName": "tcrm-access-token",
                "addTokenTo": "header"
              }
            },
            "event": [
              {
                "listen": "test",
                "script": {
                  "exec": [
                    "var jsonData = JSON.parse(responseBody);",
                    "pm.globals.set(\"customer_access_token\", jsonData.access_token);"
                  ],
                  "type": "text/javascript",
                  "id": "9e5435f8-f6e8-4e52-b0f7-10b833a3a942"
                }
              }
            ],
            "protocolProfileBehavior": {
              "disableBodyPruning": true
            }
          },
          {
            "name": "Get Customer Application Access Token",
            "id": "b4541dd6-3547-47f3-881f-6c3de4183523",
            "request": {
              "auth": {
                "type": "bearer",
                "bearer": {
                  "token": "{{customer_access_token}}"
                }
              },
              "method": "POST",
              "header": [
                {
                  "key": "Content-Type",
                  "value": "application/x-www-form-urlencoded"
                }
              ],
              "body": {
                "mode": "urlencoded",
                "urlencoded": [
                  {
                    "key": "grant_type",
                    "value": "client_credentials",
                    "type": "text"
                  },
                  {
                    "key": "client_id",
                    "value": "{{customer_app_client_id}}",
                    "type": "text"
                  },
                  {
                    "key": "client_secret",
                    "value": "{{customer_app_client_secret}}",
                    "type": "text"
                  }
                ]
              },
              "url": "https://www.linkedin.com/oauth/v2/accessToken"
            },
            "response": [ ],
            "folders": [ ],
            "effectiveAuth": {
              "type": "bearer",
              "bearer": {
                "token": "{{customer_access_token}}"
              }
            },
            "event": [
              {
                "listen": "test",
                "script": {
                  "id": "9e5435f8-f6e8-4e52-b0f7-10b833a3a942",
                  "exec": [
                    "var jsonData = JSON.parse(responseBody);",
                    "pm.globals.set(\"customer_access_token\", jsonData.access_token);"
                  ],
                  "type": "text/javascript",
                  "packages": { }
                }
              }
            ],
            "protocolProfileBehavior": {
              "disableBodyPruning": true
            }
          }
        ]
      }
    },
    "/v2/atsIntegrations": {
      "post": {
        "tags": [
          "Module 1 - Customer Onboarding / Configure Customer Integrations / Update Customer's ATSIntegration (Mandatory)"
        ],
        "summary": "Update Customer ATSIntegration",
        "description": "`/atsIntegrations` used to update the customer Integration. To enable `ONE_CLICK_EXPORT`, use `integrationType=ONE_CLICK_EXPORT` in the request body. Partner can update other RSC Integrations by changing `integrationType`.`ONE_CLICK_EXPORT` is Company level Integration. To know more , please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/rsc-customer-configuration#sample-request)\n\n`/atsIntegrations` used to update the customer Integration. To enable `IN_ATS_INDICATOR `, use `integrationType= IN_ATS_INDICATOR ` in the request body. Partner can update other RSC Integrations by changing `integrationType`.`IN_ATS_INDICATOR ` is Company level Integration To know more , please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/rsc-customer-configuration#sample-request)\n\n`/atsIntegrations` used to update the customer Integration. To enable `PROFILE_PLUGIN `, use `integrationType= PROFILE_PLUGIN ` in the request body. Partner can update other RSC Integrations by changing `integrationType`.`PROFILE_PLUGIN ` is Company level Integration. To know more , please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/rsc-customer-configuration#sample-request)\n\n`/atsIntegrations` used to update the customer Integration. To enable `CSA_API `, use `integrationType= CSA_API ` in the request body. Partner can update other RSC Integrations by changing `integrationType`.`CSA_API ` is Contract level Integration. To know more , please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/rsc-customer-configuration#sample-request)",
        "operationId": "UpdateCustomerATSIntegration",
        "parameters": [
          {
            "name": "ids[0].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "urn:li:organization:{{org_id}}"
              },
              "example1_2": {
                "summary": "example1",
                "value": "urn:li:organization:{{org_id}}"
              },
              "example1_3": {
                "summary": "example1",
                "value": "urn:li:organization:{{org_id}}"
              },
              "example1_4": {
                "summary": "example1",
                "value": "urn:li:organization:{{org_id}}"
              },
              "example1_5": {
                "summary": "example1",
                "value": "urn:li:contract:{{contract_id}}"
              }
            }
          },
          {
            "name": "ids[0].integrationType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "ONE_CLICK_EXPORT"
              },
              "example1_2": {
                "summary": "example1",
                "value": "CRM_ONE_CLICK_EXPORT"
              },
              "example1_3": {
                "summary": "example1",
                "value": "IN_CRM_INDICATOR"
              },
              "example1_4": {
                "summary": "example1",
                "value": "CRM_PROFILE_PLUGIN"
              },
              "example1_5": {
                "summary": "example1",
                "value": "CRM_CSA_API"
              }
            }
          },
          {
            "name": "ids[0].tenantType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "RECRUITER"
              },
              "example1_2": {
                "summary": "example1",
                "value": "RECRUITER"
              },
              "example1_3": {
                "summary": "example1",
                "value": "RECRUITER"
              },
              "example1_4": {
                "summary": "example1",
                "value": "RECRUITER"
              },
              "example1_5": {
                "summary": "example1",
                "value": "RECRUITER"
              }
            }
          },
          {
            "name": "ids[0].dataProvider",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "ATS"
              },
              "example1_2": {
                "summary": "example1",
                "value": "ATS"
              },
              "example1_3": {
                "summary": "example1",
                "value": "ATS"
              },
              "example1_4": {
                "summary": "example1",
                "value": "ATS"
              },
              "example1_5": {
                "summary": "example1",
                "value": "ATS"
              }
            }
          },
          {
            "name": "ids[1].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "urn:li:organization:{{org_id}}"
              }
            }
          },
          {
            "name": "ids[1].integrationType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "PROFILE_PLUGIN"
              }
            }
          },
          {
            "name": "ids[1].tenantType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "RECRUITER"
              }
            }
          },
          {
            "name": "ids[1].dataProvider",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "ATS"
              }
            }
          },
          {
            "name": "ids[2].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "urn:li:organization:{{org_id}}"
              }
            }
          },
          {
            "name": "ids[2].integrationType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "IN_ATS_INDICATOR"
              }
            }
          },
          {
            "name": "ids[2].tenantType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "RECRUITER"
              }
            }
          },
          {
            "name": "ids[2].dataProvider",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "ATS"
              }
            }
          },
          {
            "name": "ids[3].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "urn:li:contract:{{contract_id}}"
              }
            }
          },
          {
            "name": "ids[3].integrationType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "CSA_API"
              }
            }
          },
          {
            "name": "ids[3].tenantType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "RECRUITER"
              }
            }
          },
          {
            "name": "ids[3].dataProvider",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "ATS"
              }
            }
          },
          {
            "name": "x-restli-method",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "batch_partial_update"
              },
              "example1_2": {
                "summary": "example1",
                "value": "batch_partial_update"
              },
              "example1_3": {
                "summary": "example1",
                "value": "batch_partial_update"
              },
              "example1_4": {
                "summary": "example1",
                "value": "batch_partial_update"
              },
              "example1_5": {
                "summary": "example1",
                "value": "batch_partial_update"
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "entities": {
                    "type": "object",
                    "properties": {
                      "integrationContext=urn:li:organization:{{org_id}}&integrationType=ONE_CLICK_EXPORT&tenantType=RECRUITER&dataProvider=ATS": {
                        "type": "object",
                        "properties": {
                          "patch": {
                            "type": "object",
                            "properties": {
                              "$set": {
                                "type": "object",
                                "properties": {
                                  "integrationName": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "integrationContext=urn:li:organization:{{org_id}}&integrationType=CRM_ONE_CLICK_EXPORT&tenantType=RECRUITER&dataProvider=ATS": {
                        "type": "object",
                        "properties": {
                          "patch": {
                            "type": "object",
                            "properties": {
                              "$set": {
                                "type": "object",
                                "properties": {
                                  "integrationName": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "integrationContext=urn:li:organization:{{org_id}}&integrationType=CRM_IN_ATS_INDICATOR&tenantType=RECRUITER&dataProvider=ATS": {
                        "type": "object",
                        "properties": {
                          "patch": {
                            "type": "object",
                            "properties": {
                              "$set": {
                                "type": "object",
                                "properties": {
                                  "integrationName": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "integrationContext=urn:li:organization:{{org_id}}&integrationType=CRM_PROFILE_PLUGIN&tenantType=RECRUITER&dataProvider=ATS": {
                        "type": "object",
                        "properties": {
                          "patch": {
                            "type": "object",
                            "properties": {
                              "$set": {
                                "type": "object",
                                "properties": {
                                  "integrationName": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "integrationContext=urn:li:contract:{{contract_id}}&integrationType=CRM_CSA_API&tenantType=RECRUITER&dataProvider=ATS": {
                        "type": "object",
                        "properties": {
                          "patch": {
                            "type": "object",
                            "properties": {
                              "$set": {
                                "type": "object",
                                "properties": {
                                  "integrationName": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "example1": {
                  "value": {
                    "entities": {
                      "integrationContext=urn:li:organization:{{org_id}}&integrationType=ONE_CLICK_EXPORT&tenantType=RECRUITER&dataProvider=ATS": {
                        "patch": {
                          "$set": {
                            "integrationName": "{{customer_name}} LinkedIn Recruiter One-Click Export Integration"
                          }
                        }
                      }
                    }
                  }
                },
                "example1_2": {
                  "summary": "example1",
                  "value": {
                    "entities": {
                      "integrationContext=urn:li:organization:{{org_id}}&integrationType=CRM_ONE_CLICK_EXPORT&tenantType=RECRUITER&dataProvider=ATS": {
                        "patch": {
                          "$set": {
                            "integrationName": "{{customer_name}} LinkedIn Recruiter CRM-One-Click Export Integration"
                          }
                        }
                      }
                    }
                  }
                },
                "example1_3": {
                  "summary": "example1",
                  "value": {
                    "entities": {
                      "integrationContext=urn:li:organization:{{org_id}}&integrationType=CRM_IN_ATS_INDICATOR&tenantType=RECRUITER&dataProvider=ATS": {
                        "patch": {
                          "$set": {
                            "integrationName": "{{customer_name}} LinkedIn Recruiter CRM ATS Indicator Integration"
                          }
                        }
                      }
                    }
                  }
                },
                "example1_4": {
                  "summary": "example1",
                  "value": {
                    "entities": {
                      "integrationContext=urn:li:organization:{{org_id}}&integrationType=CRM_PROFILE_PLUGIN&tenantType=RECRUITER&dataProvider=ATS": {
                        "patch": {
                          "$set": {
                            "integrationName": "{{customer_name}} LinkedIn Recruiter CRM Profile Plugin Integration"
                          }
                        }
                      }
                    }
                  }
                },
                "example1_5": {
                  "summary": "example1",
                  "value": {
                    "entities": {
                      "integrationContext=urn:li:contract:{{contract_id}}&integrationType=CRM_CSA_API&tenantType=RECRUITER&dataProvider=ATS": {
                        "patch": {
                          "$set": {
                            "integrationName": "{{customer_name}} LinkedIn Recruiter CRM_CSA_API Integration"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "No response examples were saved in the Postman collection; status codes and response schemas are unknown."
          }
        },
        "security": [
          {
            "oauth2Auth": [ ]
          }
        ],
        "servers": [
          {
            "url": "https://api.linkedin.com"
          }
        ],
        "x-postman-warnings": [
          "No saved responses: status codes and response schemas cannot be inferred.",
          "Multiple Postman requests share this method and path. Inputs and responses are combined; x-postman-variants retains each source request and its correlations."
        ],
        "x-postman-variants": [
          {
            "name": "Update Customer ATSIntegration",
            "id": "124962e9-ef24-45d5-8d4e-3dd980cffb11",
            "request": {
              "method": "POST",
              "header": [
                {
                  "key": "x-restli-method",
                  "value": "batch_partial_update",
                  "type": "text"
                },
                {
                  "key": "Content-Type",
                  "name": "Content-Type",
                  "value": "application/json",
                  "type": "text"
                }
              ],
              "body": {
                "mode": "raw",
                "raw": "{\n  \"entities\": {\n    \"integrationContext=urn:li:organization:{{org_id}}&integrationType=ONE_CLICK_EXPORT&tenantType=RECRUITER&dataProvider=ATS\": {\n      \"patch\": {\n        \"$set\": {\n          \"integrationName\": \"{{customer_name}} LinkedIn Recruiter One-Click Export Integration\"\n        }\n      }\n    }\n  }\n}"
              },
              "url": {
                "raw": "https://api.linkedin.com/v2/atsIntegrations?ids[0].integrationContext=urn:li:organization:{{org_id}}&ids[0].integrationType=ONE_CLICK_EXPORT&ids[0].tenantType=RECRUITER&ids[0].dataProvider=ATS&ids[1].integrationContext=urn:li:organization:{{org_id}}&ids[1].integrationType=PROFILE_PLUGIN&ids[1].tenantType=RECRUITER&ids[1].dataProvider=ATS&ids[2].integrationContext=urn:li:organization:{{org_id}}&ids[2].integrationType=IN_ATS_INDICATOR&ids[2].tenantType=RECRUITER&ids[2].dataProvider=ATS&ids[3].integrationContext=urn:li:contract:{{contract_id}}&ids[3].integrationType=CSA_API&ids[3].tenantType=RECRUITER&ids[3].dataProvider=ATS",
                "protocol": "https",
                "host": [
                  "api",
                  "linkedin",
                  "com"
                ],
                "path": [
                  "v2",
                  "atsIntegrations"
                ],
                "query": [
                  {
                    "key": "ids[0].integrationContext",
                    "value": "urn:li:organization:{{org_id}}"
                  },
                  {
                    "key": "ids[0].integrationType",
                    "value": "ONE_CLICK_EXPORT"
                  },
                  {
                    "key": "ids[0].tenantType",
                    "value": "RECRUITER"
                  },
                  {
                    "key": "ids[0].dataProvider",
                    "value": "ATS"
                  },
                  {
                    "key": "ids[1].integrationContext",
                    "value": "urn:li:organization:{{org_id}}"
                  },
                  {
                    "key": "ids[1].integrationType",
                    "value": "PROFILE_PLUGIN"
                  },
                  {
                    "key": "ids[1].tenantType",
                    "value": "RECRUITER"
                  },
                  {
                    "key": "ids[1].dataProvider",
                    "value": "ATS"
                  },
                  {
                    "key": "ids[2].integrationContext",
                    "value": "urn:li:organization:{{org_id}}"
                  },
                  {
                    "key": "ids[2].integrationType",
                    "value": "IN_ATS_INDICATOR"
                  },
                  {
                    "key": "ids[2].tenantType",
                    "value": "RECRUITER"
                  },
                  {
                    "key": "ids[2].dataProvider",
                    "value": "ATS"
                  },
                  {
                    "key": "ids[3].integrationContext",
                    "value": "urn:li:contract:{{contract_id}}"
                  },
                  {
                    "key": "ids[3].integrationType",
                    "value": "CSA_API"
                  },
                  {
                    "key": "ids[3].tenantType",
                    "value": "RECRUITER"
                  },
                  {
                    "key": "ids[3].dataProvider",
                    "value": "ATS"
                  }
                ]
              },
              "description": "`/atsIntegrations` used to update the customer Integration. To enable `ONE_CLICK_EXPORT`, use `integrationType=ONE_CLICK_EXPORT` in the request body. Partner can update other RSC Integrations by changing `integrationType`.`ONE_CLICK_EXPORT` is Company level Integration. To know more , please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/rsc-customer-configuration#sample-request)"
            },
            "response": [ ],
            "folders": [
              "Module 1 - Customer Onboarding",
              "Configure Customer Integrations",
              "Update Customer's ATSIntegration (Mandatory)"
            ],
            "effectiveAuth": {
              "type": "oauth2",
              "oauth2": {
                "client_authentication": "body",
                "clientSecret": "{{client_secret}}",
                "clientId": "{{client_id}}",
                "accessTokenUrl": "https://www.linkedin.com/oauth/v2/accessToken",
                "grant_type": "client_credentials",
                "tokenName": "tcrm-access-token",
                "addTokenTo": "header"
              }
            },
            "protocolProfileBehavior": {
              "disableBodyPruning": true
            }
          },
          {
            "name": "Update Customer ATSIntegration - CRM_ONE_CLICK_EXPORT",
            "id": "42c15f46-e4fa-49ee-9b56-546e340449c1",
            "request": {
              "method": "POST",
              "header": [
                {
                  "key": "x-restli-method",
                  "value": "batch_partial_update",
                  "type": "text"
                },
                {
                  "key": "Content-Type",
                  "value": "application/json",
                  "type": "text"
                }
              ],
              "body": {
                "mode": "raw",
                "raw": "{\n  \"entities\": {\n    \"integrationContext=urn:li:organization:{{org_id}}&integrationType=CRM_ONE_CLICK_EXPORT&tenantType=RECRUITER&dataProvider=ATS\": {\n      \"patch\": {\n        \"$set\": {\n          \"integrationName\": \"{{customer_name}} LinkedIn Recruiter CRM-One-Click Export Integration\"\n        }\n      }\n    }\n  }\n}"
              },
              "url": {
                "raw": "https://api.linkedin.com/v2/atsIntegrations?ids[0].integrationContext=urn:li:organization:{{org_id}}&ids[0].integrationType=CRM_ONE_CLICK_EXPORT&ids[0].tenantType=RECRUITER&ids[0].dataProvider=ATS",
                "protocol": "https",
                "host": [
                  "api",
                  "linkedin",
                  "com"
                ],
                "path": [
                  "v2",
                  "atsIntegrations"
                ],
                "query": [
                  {
                    "key": "ids[0].integrationContext",
                    "value": "urn:li:organization:{{org_id}}"
                  },
                  {
                    "key": "ids[0].integrationType",
                    "value": "CRM_ONE_CLICK_EXPORT"
                  },
                  {
                    "key": "ids[0].tenantType",
                    "value": "RECRUITER"
                  },
                  {
                    "key": "ids[0].dataProvider",
                    "value": "ATS"
                  }
                ]
              },
              "description": "`/atsIntegrations` used to update the customer Integration. To enable `ONE_CLICK_EXPORT`, use `integrationType=ONE_CLICK_EXPORT` in the request body. Partner can update other RSC Integrations by changing `integrationType`.`ONE_CLICK_EXPORT` is Company level Integration. To know more , please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/rsc-customer-configuration#sample-request)"
            },
            "response": [ ],
            "folders": [
              "Module 1 - Customer Onboarding",
              "Configure Customer Integrations",
              "Update Customer's ATSIntegration (Mandatory)"
            ],
            "effectiveAuth": {
              "type": "oauth2",
              "oauth2": {
                "client_authentication": "body",
                "clientSecret": "{{client_secret}}",
                "clientId": "{{client_id}}",
                "accessTokenUrl": "https://www.linkedin.com/oauth/v2/accessToken",
                "grant_type": "client_credentials",
                "tokenName": "tcrm-access-token",
                "addTokenTo": "header"
              }
            },
            "protocolProfileBehavior": {
              "disableBodyPruning": true
            }
          },
          {
            "name": "Update Customer ATSIntegration - IN_CRM_INDICATOR",
            "id": "b2fb9ce0-7055-4a0b-9d71-6255b8949e29",
            "request": {
              "method": "POST",
              "header": [
                {
                  "key": "x-restli-method",
                  "value": "batch_partial_update",
                  "type": "text"
                },
                {
                  "key": "Content-Type",
                  "value": "application/json",
                  "type": "text"
                }
              ],
              "body": {
                "mode": "raw",
                "raw": "{\n  \"entities\": {\n    \"integrationContext=urn:li:organization:{{org_id}}&integrationType=CRM_IN_ATS_INDICATOR&tenantType=RECRUITER&dataProvider=ATS\": {\n      \"patch\": {\n        \"$set\": {\n          \"integrationName\": \"{{customer_name}} LinkedIn Recruiter CRM ATS Indicator Integration\"\n        }\n      }\n    }\n  }\n}"
              },
              "url": {
                "raw": "https://api.linkedin.com/v2/atsIntegrations?ids[0].integrationContext=urn:li:organization:{{org_id}}&ids[0].integrationType=IN_CRM_INDICATOR&ids[0].tenantType=RECRUITER&ids[0].dataProvider=ATS",
                "protocol": "https",
                "host": [
                  "api",
                  "linkedin",
                  "com"
                ],
                "path": [
                  "v2",
                  "atsIntegrations"
                ],
                "query": [
                  {
                    "key": "ids[0].integrationContext",
                    "value": "urn:li:organization:{{org_id}}"
                  },
                  {
                    "key": "ids[0].integrationType",
                    "value": "IN_CRM_INDICATOR"
                  },
                  {
                    "key": "ids[0].tenantType",
                    "value": "RECRUITER"
                  },
                  {
                    "key": "ids[0].dataProvider",
                    "value": "ATS"
                  }
                ]
              },
              "description": "`/atsIntegrations` used to update the customer Integration. To enable `IN_ATS_INDICATOR `, use `integrationType= IN_ATS_INDICATOR ` in the request body. Partner can update other RSC Integrations by changing `integrationType`.`IN_ATS_INDICATOR ` is Company level Integration To know more , please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/rsc-customer-configuration#sample-request)"
            },
            "response": [ ],
            "folders": [
              "Module 1 - Customer Onboarding",
              "Configure Customer Integrations",
              "Update Customer's ATSIntegration (Mandatory)"
            ],
            "effectiveAuth": {
              "type": "oauth2",
              "oauth2": {
                "client_authentication": "body",
                "clientSecret": "{{client_secret}}",
                "clientId": "{{client_id}}",
                "accessTokenUrl": "https://www.linkedin.com/oauth/v2/accessToken",
                "grant_type": "client_credentials",
                "tokenName": "tcrm-access-token",
                "addTokenTo": "header"
              }
            },
            "protocolProfileBehavior": {
              "disableBodyPruning": true
            }
          },
          {
            "name": "Update Customer ATSIntegration - CRM_ PROFILE_PLUGIN",
            "id": "9b3ce970-8a61-4180-8120-144e8aa97083",
            "request": {
              "method": "POST",
              "header": [
                {
                  "key": "x-restli-method",
                  "value": "batch_partial_update",
                  "type": "text"
                },
                {
                  "key": "Content-Type",
                  "value": "application/json",
                  "type": "text"
                }
              ],
              "body": {
                "mode": "raw",
                "raw": "{\n  \"entities\": {\n    \"integrationContext=urn:li:organization:{{org_id}}&integrationType=CRM_PROFILE_PLUGIN&tenantType=RECRUITER&dataProvider=ATS\": {\n      \"patch\": {\n        \"$set\": {\n          \"integrationName\": \"{{customer_name}} LinkedIn Recruiter CRM Profile Plugin Integration\"\n        }\n      }\n    }\n  }\n}"
              },
              "url": {
                "raw": "https://api.linkedin.com/v2/atsIntegrations?ids[0].integrationContext=urn:li:organization:{{org_id}}&ids[0].integrationType=CRM_PROFILE_PLUGIN&ids[0].tenantType=RECRUITER&ids[0].dataProvider=ATS",
                "protocol": "https",
                "host": [
                  "api",
                  "linkedin",
                  "com"
                ],
                "path": [
                  "v2",
                  "atsIntegrations"
                ],
                "query": [
                  {
                    "key": "ids[0].integrationContext",
                    "value": "urn:li:organization:{{org_id}}"
                  },
                  {
                    "key": "ids[0].integrationType",
                    "value": "CRM_PROFILE_PLUGIN"
                  },
                  {
                    "key": "ids[0].tenantType",
                    "value": "RECRUITER"
                  },
                  {
                    "key": "ids[0].dataProvider",
                    "value": "ATS"
                  }
                ]
              },
              "description": "`/atsIntegrations` used to update the customer Integration. To enable `PROFILE_PLUGIN `, use `integrationType= PROFILE_PLUGIN ` in the request body. Partner can update other RSC Integrations by changing `integrationType`.`PROFILE_PLUGIN ` is Company level Integration. To know more , please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/rsc-customer-configuration#sample-request)"
            },
            "response": [ ],
            "folders": [
              "Module 1 - Customer Onboarding",
              "Configure Customer Integrations",
              "Update Customer's ATSIntegration (Mandatory)"
            ],
            "effectiveAuth": {
              "type": "oauth2",
              "oauth2": {
                "client_authentication": "body",
                "clientSecret": "{{client_secret}}",
                "clientId": "{{client_id}}",
                "accessTokenUrl": "https://www.linkedin.com/oauth/v2/accessToken",
                "grant_type": "client_credentials",
                "tokenName": "tcrm-access-token",
                "addTokenTo": "header"
              }
            },
            "protocolProfileBehavior": {
              "disableBodyPruning": true
            }
          },
          {
            "name": "Update Customer ATSIntegration - CRM_CSA_API",
            "id": "19d52a0f-ab59-4559-9aab-1145ab1d63f1",
            "request": {
              "method": "POST",
              "header": [
                {
                  "key": "x-restli-method",
                  "value": "batch_partial_update",
                  "type": "text"
                },
                {
                  "key": "Content-Type",
                  "value": "application/json",
                  "type": "text"
                }
              ],
              "body": {
                "mode": "raw",
                "raw": "{\n  \"entities\": {\n    \"integrationContext=urn:li:contract:{{contract_id}}&integrationType=CRM_CSA_API&tenantType=RECRUITER&dataProvider=ATS\": {\n      \"patch\": {\n        \"$set\": {\n          \"integrationName\": \"{{customer_name}} LinkedIn Recruiter CRM_CSA_API Integration\"\n        }\n      }\n    }\n  }\n}"
              },
              "url": {
                "raw": "https://api.linkedin.com/v2/atsIntegrations?ids[0].integrationContext=urn:li:contract:{{contract_id}}&ids[0].integrationType=CRM_CSA_API&ids[0].tenantType=RECRUITER&ids[0].dataProvider=ATS",
                "protocol": "https",
                "host": [
                  "api",
                  "linkedin",
                  "com"
                ],
                "path": [
                  "v2",
                  "atsIntegrations"
                ],
                "query": [
                  {
                    "key": "ids[0].integrationContext",
                    "value": "urn:li:contract:{{contract_id}}"
                  },
                  {
                    "key": "ids[0].integrationType",
                    "value": "CRM_CSA_API"
                  },
                  {
                    "key": "ids[0].tenantType",
                    "value": "RECRUITER"
                  },
                  {
                    "key": "ids[0].dataProvider",
                    "value": "ATS"
                  }
                ]
              },
              "description": "`/atsIntegrations` used to update the customer Integration. To enable `CSA_API `, use `integrationType= CSA_API ` in the request body. Partner can update other RSC Integrations by changing `integrationType`.`CSA_API ` is Contract level Integration. To know more , please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/rsc-customer-configuration#sample-request)"
            },
            "response": [ ],
            "folders": [
              "Module 1 - Customer Onboarding",
              "Configure Customer Integrations",
              "Update Customer's ATSIntegration (Mandatory)"
            ],
            "effectiveAuth": {
              "type": "oauth2",
              "oauth2": {
                "client_authentication": "body",
                "clientSecret": "{{client_secret}}",
                "clientId": "{{client_id}}",
                "accessTokenUrl": "https://www.linkedin.com/oauth/v2/accessToken",
                "grant_type": "client_credentials",
                "tokenName": "tcrm-access-token",
                "addTokenTo": "header"
              }
            },
            "protocolProfileBehavior": {
              "disableBodyPruning": true
            }
          }
        ]
      },
      "get": {
        "tags": [
          "Module 1 - Customer Onboarding / Configure Customer Integrations / Update Customer's ATSIntegration (Mandatory)",
          "Module 1 - Customer Onboarding / Configure Customer Integrations / Retrieve PUSH Notification Content"
        ],
        "summary": "Verify Customer's  ATSIntegrations",
        "description": "When a customer enables an integration, the onboarding status of that integration changes from `Partner Ready` to `Enabled`. When that happens, LinkedIn will send you a push notification with a unique ID.Use this endpoint with the unique notification ID to retrieve more information about the enabled integration.To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/rsc-customer-configuration#5-verify-customer-integrations-enablement)",
        "operationId": "VerifyCustomerSATSIntegrations",
        "parameters": [
          {
            "name": "ids[0].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "urn:li:organization:{{org_id}}"
              }
            }
          },
          {
            "name": "ids[0].integrationType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "IN_CRM_INDICATOR"
              }
            }
          },
          {
            "name": "ids[0].tenantType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "RECRUITER"
              }
            }
          },
          {
            "name": "ids[0].dataProvider",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "ATS"
              }
            }
          },
          {
            "name": "ids[1].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "urn:li:organization:{{org_id}}"
              }
            }
          },
          {
            "name": "ids[1].integrationType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "CRM_PROFILE_PLUGIN"
              }
            }
          },
          {
            "name": "ids[1].tenantType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "RECRUITER"
              }
            }
          },
          {
            "name": "ids[1].dataProvider",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "ATS"
              }
            }
          },
          {
            "name": "ids[2].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "urn:li:organization:{{org_id}}"
              }
            }
          },
          {
            "name": "ids[2].integrationType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "CRM_ONE_CLICK_EXPORT"
              }
            }
          },
          {
            "name": "ids[2].tenantType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "RECRUITER"
              }
            }
          },
          {
            "name": "ids[2].dataProvider",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "ATS"
              }
            }
          },
          {
            "name": "ids[3].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "urn:li:contract:{{contract_id}}"
              }
            }
          },
          {
            "name": "ids[3].integrationType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "CRM_CSA_API"
              }
            }
          },
          {
            "name": "ids[3].tenantType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "RECRUITER"
              }
            }
          },
          {
            "name": "ids[3].dataProvider",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "ATS"
              }
            }
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "request"
              }
            }
          },
          {
            "name": "requestId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "{{Enter_Request_ID_obtained_from_POST_in_CallbackURL}}"
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No response examples were saved in the Postman collection; status codes and response schemas are unknown."
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          },
          {
            "oauth2Auth": [ ]
          }
        ],
        "servers": [
          {
            "url": "https://api.linkedin.com"
          }
        ],
        "x-postman-warnings": [
          "No saved responses: status codes and response schemas cannot be inferred.",
          "Multiple Postman requests share this method and path. Inputs and responses are combined; x-postman-variants retains each source request and its correlations."
        ],
        "x-postman-variants": [
          {
            "name": "Verify Customer's  ATSIntegrations",
            "id": "47f7dd12-beb4-4671-abcc-8614f4b2228f",
            "request": {
              "auth": {
                "type": "bearer",
                "bearer": {
                  "token": "{{customer_access_token}}"
                }
              },
              "method": "GET",
              "header": [ ],
              "url": {
                "raw": "https://api.linkedin.com/v2/atsIntegrations?ids[0].integrationContext=urn:li:organization:{{org_id}}&ids[0].integrationType=IN_CRM_INDICATOR&ids[0].tenantType=RECRUITER&ids[0].dataProvider=ATS&ids[1].integrationContext=urn:li:organization:{{org_id}}&ids[1].integrationType=CRM_PROFILE_PLUGIN&ids[1].tenantType=RECRUITER&ids[1].dataProvider=ATS&ids[2].integrationContext=urn:li:organization:{{org_id}}&ids[2].integrationType=CRM_ONE_CLICK_EXPORT&ids[2].tenantType=RECRUITER&ids[2].dataProvider=ATS&ids[3].integrationContext=urn:li:contract:{{contract_id}}&ids[3].integrationType=CRM_CSA_API&ids[3].tenantType=RECRUITER&ids[3].dataProvider=ATS",
                "protocol": "https",
                "host": [
                  "api",
                  "linkedin",
                  "com"
                ],
                "path": [
                  "v2",
                  "atsIntegrations"
                ],
                "query": [
                  {
                    "key": "ids[0].integrationContext",
                    "value": "urn:li:organization:{{org_id}}"
                  },
                  {
                    "key": "ids[0].integrationType",
                    "value": "IN_CRM_INDICATOR"
                  },
                  {
                    "key": "ids[0].tenantType",
                    "value": "RECRUITER"
                  },
                  {
                    "key": "ids[0].dataProvider",
                    "value": "ATS"
                  },
                  {
                    "key": "ids[1].integrationContext",
                    "value": "urn:li:organization:{{org_id}}"
                  },
                  {
                    "key": "ids[1].integrationType",
                    "value": "CRM_PROFILE_PLUGIN"
                  },
                  {
                    "key": "ids[1].tenantType",
                    "value": "RECRUITER"
                  },
                  {
                    "key": "ids[1].dataProvider",
                    "value": "ATS"
                  },
                  {
                    "key": "ids[2].integrationContext",
                    "value": "urn:li:organization:{{org_id}}"
                  },
                  {
                    "key": "ids[2].integrationType",
                    "value": "CRM_ONE_CLICK_EXPORT"
                  },
                  {
                    "key": "ids[2].tenantType",
                    "value": "RECRUITER"
                  },
                  {
                    "key": "ids[2].dataProvider",
                    "value": "ATS"
                  },
                  {
                    "key": "ids[3].integrationContext",
                    "value": "urn:li:contract:{{contract_id}}"
                  },
                  {
                    "key": "ids[3].integrationType",
                    "value": "CRM_CSA_API"
                  },
                  {
                    "key": "ids[3].tenantType",
                    "value": "RECRUITER"
                  },
                  {
                    "key": "ids[3].dataProvider",
                    "value": "ATS"
                  }
                ]
              }
            },
            "response": [ ],
            "folders": [
              "Module 1 - Customer Onboarding",
              "Configure Customer Integrations",
              "Update Customer's ATSIntegration (Mandatory)"
            ],
            "effectiveAuth": {
              "type": "bearer",
              "bearer": {
                "token": "{{customer_access_token}}"
              }
            },
            "protocolProfileBehavior": {
              "disableBodyPruning": true
            }
          },
          {
            "name": "GET Notification Type INTEGRATION_STATUS_CHANGE",
            "id": "38b3eecb-1f81-41e4-91eb-0a0751020f5d",
            "request": {
              "method": "GET",
              "header": [ ],
              "url": {
                "raw": "https://api.linkedin.com/v2/atsIntegrations?q=request&requestId={{Enter_Request_ID_obtained_from_POST_in_CallbackURL}}",
                "protocol": "https",
                "host": [
                  "api",
                  "linkedin",
                  "com"
                ],
                "path": [
                  "v2",
                  "atsIntegrations"
                ],
                "query": [
                  {
                    "key": "q",
                    "value": "request"
                  },
                  {
                    "key": "requestId",
                    "value": "{{Enter_Request_ID_obtained_from_POST_in_CallbackURL}}"
                  }
                ]
              },
              "description": "When a customer enables an integration, the onboarding status of that integration changes from `Partner Ready` to `Enabled`. When that happens, LinkedIn will send you a push notification with a unique ID.Use this endpoint with the unique notification ID to retrieve more information about the enabled integration.To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/rsc-customer-configuration#5-verify-customer-integrations-enablement)"
            },
            "response": [ ],
            "folders": [
              "Module 1 - Customer Onboarding",
              "Configure Customer Integrations",
              "Retrieve PUSH Notification Content"
            ],
            "effectiveAuth": {
              "type": "oauth2",
              "oauth2": {
                "client_authentication": "body",
                "clientSecret": "{{client_secret}}",
                "clientId": "{{client_id}}",
                "accessTokenUrl": "https://www.linkedin.com/oauth/v2/accessToken",
                "grant_type": "client_credentials",
                "tokenName": "tcrm-access-token",
                "addTokenTo": "header"
              }
            },
            "protocolProfileBehavior": {
              "disableBodyPruning": true
            }
          }
        ]
      }
    },
    "/v2/atsIntegrations/integrationContext=urn:li:organization:{org_id}&integrationType=CRM_ONE_CLICK_EXPORT&tenantType=RECRUITER&dataProvider=ATS/configurations": {
      "put": {
        "tags": [
          "Module 1 - Customer Onboarding / Configure Customer Integrations / Sync Integration Configurations (Mandatory)"
        ],
        "summary": "Sync Integration Configuration - Callback URL (Mandatory)",
        "description": "Once a customer creates an integration requiring configuration, you must create the configuration using this API before they can enable the integration.`Callback URL` is mandatory for enabling Integration.To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/integration-types#upsert-integration-configurations)\n\nAPI governs who may view job postings within the One-Click Export drop-down.Customers can use this API, if they are not using ACL's.To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/integration-types#integration-configuration-keys)",
        "operationId": "SyncIntegrationConfigurationCallbackURLMandatory",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "CALLBACK_URL"
              },
              "example1_2": {
                "summary": "example1",
                "value": "JOB_POSTING_VIEWERS"
              }
            }
          },
          {
            "name": "x-restli-method",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "batch_update"
              },
              "example1_2": {
                "summary": "example1",
                "value": "batch_update"
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "entities": {
                    "type": "object",
                    "properties": {
                      "CALLBACK_URL": {
                        "type": "object",
                        "properties": {
                          "configurationValue": {
                            "type": "object",
                            "properties": {
                              "string": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      },
                      "JOB_POSTING_VIEWERS": {
                        "type": "object",
                        "properties": {
                          "configurationValue": {
                            "type": "object",
                            "properties": {
                              "string": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "example1": {
                  "value": {
                    "entities": {
                      "CALLBACK_URL": {
                        "configurationValue": {
                          "string": "<https://YourCallbackURL>"
                        }
                      }
                    }
                  }
                },
                "example1_2": {
                  "summary": "example1",
                  "value": {
                    "entities": {
                      "JOB_POSTING_VIEWERS": {
                        "configurationValue": {
                          "string": "ALL_PRODUCT_USERS"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "No response examples were saved in the Postman collection; status codes and response schemas are unknown."
          }
        },
        "security": [
          {
            "oauth2Auth": [ ]
          }
        ],
        "servers": [
          {
            "url": "https://api.linkedin.com"
          }
        ],
        "x-postman-warnings": [
          "No saved responses: status codes and response schemas cannot be inferred.",
          "Multiple Postman requests share this method and path. Inputs and responses are combined; x-postman-variants retains each source request and its correlations."
        ],
        "x-postman-variants": [
          {
            "name": "Sync Integration Configuration - Callback URL (Mandatory)",
            "id": "0eb35f02-68d2-489b-8876-f47edd3dad2e",
            "request": {
              "method": "PUT",
              "header": [
                {
                  "key": "x-restli-method",
                  "value": "batch_update"
                },
                {
                  "key": "Content-Type",
                  "value": "application/json"
                }
              ],
              "body": {
                "mode": "raw",
                "raw": "{\n  \"entities\": {\n    \"CALLBACK_URL\": {\n      \"configurationValue\": {\n        \"string\": \"<https://YourCallbackURL>\"\n      }\n    }\n  }\n}"
              },
              "url": {
                "raw": "https://api.linkedin.com/v2/atsIntegrations/integrationContext=urn:li:organization:{{org_id}}&integrationType=CRM_ONE_CLICK_EXPORT&tenantType=RECRUITER&dataProvider=ATS/configurations?ids=CALLBACK_URL",
                "protocol": "https",
                "host": [
                  "api",
                  "linkedin",
                  "com"
                ],
                "path": [
                  "v2",
                  "atsIntegrations",
                  "integrationContext=urn:li:organization:{{org_id}}&integrationType=CRM_ONE_CLICK_EXPORT&tenantType=RECRUITER&dataProvider=ATS",
                  "configurations"
                ],
                "query": [
                  {
                    "key": "ids",
                    "value": "CALLBACK_URL"
                  }
                ]
              },
              "description": "Once a customer creates an integration requiring configuration, you must create the configuration using this API before they can enable the integration.`Callback URL` is mandatory for enabling Integration.To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/integration-types#upsert-integration-configurations)"
            },
            "response": [ ],
            "folders": [
              "Module 1 - Customer Onboarding",
              "Configure Customer Integrations",
              "Sync Integration Configurations (Mandatory)"
            ],
            "effectiveAuth": {
              "type": "oauth2",
              "oauth2": {
                "client_authentication": "body",
                "clientSecret": "{{client_secret}}",
                "clientId": "{{client_id}}",
                "accessTokenUrl": "https://www.linkedin.com/oauth/v2/accessToken",
                "grant_type": "client_credentials",
                "tokenName": "tcrm-access-token",
                "addTokenTo": "header"
              }
            },
            "protocolProfileBehavior": {
              "disableBodyPruning": true
            }
          },
          {
            "name": "Sync Integration Configuration - Job Posting Viewers (Optional)",
            "id": "370a1f65-721d-47a1-8325-e20c5881ce16",
            "request": {
              "method": "PUT",
              "header": [
                {
                  "key": "x-restli-method",
                  "value": "batch_update"
                },
                {
                  "key": "Content-Type",
                  "value": "application/json"
                }
              ],
              "body": {
                "mode": "raw",
                "raw": "{\n  \"entities\": {\n    \"JOB_POSTING_VIEWERS\": {\n      \"configurationValue\": {\n        \"string\": \"ALL_PRODUCT_USERS\"\n      }\n    }\n  }\n}"
              },
              "url": {
                "raw": "https://api.linkedin.com/v2/atsIntegrations/integrationContext=urn:li:organization:{{org_id}}&integrationType=CRM_ONE_CLICK_EXPORT&tenantType=RECRUITER&dataProvider=ATS/configurations?ids=JOB_POSTING_VIEWERS",
                "protocol": "https",
                "host": [
                  "api",
                  "linkedin",
                  "com"
                ],
                "path": [
                  "v2",
                  "atsIntegrations",
                  "integrationContext=urn:li:organization:{{org_id}}&integrationType=CRM_ONE_CLICK_EXPORT&tenantType=RECRUITER&dataProvider=ATS",
                  "configurations"
                ],
                "query": [
                  {
                    "key": "ids",
                    "value": "JOB_POSTING_VIEWERS"
                  }
                ]
              },
              "description": "API governs who may view job postings within the One-Click Export drop-down.Customers can use this API, if they are not using ACL's.To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/integration-types#integration-configuration-keys)"
            },
            "response": [ ],
            "folders": [
              "Module 1 - Customer Onboarding",
              "Configure Customer Integrations",
              "Sync Integration Configurations (Mandatory)"
            ],
            "effectiveAuth": {
              "type": "oauth2",
              "oauth2": {
                "client_authentication": "body",
                "clientSecret": "{{client_secret}}",
                "clientId": "{{client_id}}",
                "accessTokenUrl": "https://www.linkedin.com/oauth/v2/accessToken",
                "grant_type": "client_credentials",
                "tokenName": "tcrm-access-token",
                "addTokenTo": "header"
              }
            },
            "protocolProfileBehavior": {
              "disableBodyPruning": true
            }
          }
        ]
      },
      "get": {
        "tags": [
          "Module 1 - Customer Onboarding / Configure Customer Integrations / Sync Integration Configurations (Mandatory)"
        ],
        "summary": "Verify Customer Integrations - Configs",
        "description": "API used to retrieve the Customer Integration Configurations.To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/integration-types#verify-integration-configurations)",
        "operationId": "VerifyCustomerIntegrationsConfigs",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "CALLBACK_URL"
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No response examples were saved in the Postman collection; status codes and response schemas are unknown."
          }
        },
        "security": [
          {
            "oauth2Auth": [ ]
          }
        ],
        "servers": [
          {
            "url": "https://api.linkedin.com"
          }
        ],
        "x-postman-warnings": [
          "No saved responses: status codes and response schemas cannot be inferred."
        ],
        "x-postman-variants": [
          {
            "name": "Verify Customer Integrations - Configs",
            "id": "852cc47e-fcf8-4e12-8e52-1d23c556972f",
            "request": {
              "method": "GET",
              "header": [ ],
              "url": {
                "raw": "https://api.linkedin.com/v2/atsIntegrations/integrationContext=urn:li:organization:{{org_id}}&integrationType=CRM_ONE_CLICK_EXPORT&tenantType=RECRUITER&dataProvider=ATS/configurations?ids=CALLBACK_URL",
                "protocol": "https",
                "host": [
                  "api",
                  "linkedin",
                  "com"
                ],
                "path": [
                  "v2",
                  "atsIntegrations",
                  "integrationContext=urn:li:organization:{{org_id}}&integrationType=CRM_ONE_CLICK_EXPORT&tenantType=RECRUITER&dataProvider=ATS",
                  "configurations"
                ],
                "query": [
                  {
                    "key": "ids",
                    "value": "CALLBACK_URL"
                  }
                ]
              },
              "description": "API used to retrieve the Customer Integration Configurations.To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/integration-types#verify-integration-configurations)"
            },
            "response": [ ],
            "folders": [
              "Module 1 - Customer Onboarding",
              "Configure Customer Integrations",
              "Sync Integration Configurations (Mandatory)"
            ],
            "effectiveAuth": {
              "type": "oauth2",
              "oauth2": {
                "client_authentication": "body",
                "clientSecret": "{{client_secret}}",
                "clientId": "{{client_id}}",
                "accessTokenUrl": "https://www.linkedin.com/oauth/v2/accessToken",
                "grant_type": "client_credentials",
                "tokenName": "tcrm-access-token",
                "addTokenTo": "header"
              }
            },
            "protocolProfileBehavior": {
              "disableBodyPruning": true
            }
          }
        ]
      }
    },
    "/v2/atsIntegrations/integrationContext=urn:li:organization:{org_id}&integrationType=IN_CRM_INDICATOR&tenantType=RECRUITER&dataProvider=ATS/configurations": {
      "put": {
        "tags": [
          "Module 1 - Customer Onboarding / Configure Customer Integrations / Sync Integration Configurations (Mandatory)"
        ],
        "summary": "Sync Integration Configuration - Application Viewers (Optional)",
        "description": "API governs who may view job-related data (Interview Feedback, Notes, Applications, and Stages) within the In-ATS indicator.To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/integration-types#integration-configuration-keys)",
        "operationId": "SyncIntegrationConfigurationApplicationViewersOptional",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "APPLICATION_VIEWERS"
              }
            }
          },
          {
            "name": "x-restli-method",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "batch_update"
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "entities": {
                    "type": "object",
                    "properties": {
                      "APPLICATION_VIEWERS": {
                        "type": "object",
                        "properties": {
                          "configurationValue": {
                            "type": "object",
                            "properties": {
                              "string": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "example1": {
                  "value": {
                    "entities": {
                      "APPLICATION_VIEWERS": {
                        "configurationValue": {
                          "string": "ALL_PRODUCT_USERS"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "No response examples were saved in the Postman collection; status codes and response schemas are unknown."
          }
        },
        "security": [
          {
            "oauth2Auth": [ ]
          }
        ],
        "servers": [
          {
            "url": "https://api.linkedin.com"
          }
        ],
        "x-postman-warnings": [
          "No saved responses: status codes and response schemas cannot be inferred."
        ],
        "x-postman-variants": [
          {
            "name": "Sync Integration Configuration - Application Viewers (Optional)",
            "id": "bc7cd760-7afb-4e1a-a8e1-2710e58fe5c2",
            "request": {
              "method": "PUT",
              "header": [
                {
                  "key": "x-restli-method",
                  "value": "batch_update"
                },
                {
                  "key": "Content-Type",
                  "value": "application/json"
                }
              ],
              "body": {
                "mode": "raw",
                "raw": "{\n  \"entities\": {\n    \"APPLICATION_VIEWERS\": {\n      \"configurationValue\": {\n        \"string\": \"ALL_PRODUCT_USERS\"\n      }\n    }\n  }\n}"
              },
              "url": {
                "raw": "https://api.linkedin.com/v2/atsIntegrations/integrationContext=urn:li:organization:{{org_id}}&integrationType=IN_CRM_INDICATOR&tenantType=RECRUITER&dataProvider=ATS/configurations?ids=APPLICATION_VIEWERS",
                "protocol": "https",
                "host": [
                  "api",
                  "linkedin",
                  "com"
                ],
                "path": [
                  "v2",
                  "atsIntegrations",
                  "integrationContext=urn:li:organization:{{org_id}}&integrationType=IN_CRM_INDICATOR&tenantType=RECRUITER&dataProvider=ATS",
                  "configurations"
                ],
                "query": [
                  {
                    "key": "ids",
                    "value": "APPLICATION_VIEWERS"
                  }
                ]
              },
              "description": "API governs who may view job-related data (Interview Feedback, Notes, Applications, and Stages) within the In-ATS indicator.To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/integration-types#integration-configuration-keys)"
            },
            "response": [ ],
            "folders": [
              "Module 1 - Customer Onboarding",
              "Configure Customer Integrations",
              "Sync Integration Configurations (Mandatory)"
            ],
            "effectiveAuth": {
              "type": "oauth2",
              "oauth2": {
                "client_authentication": "body",
                "clientSecret": "{{client_secret}}",
                "clientId": "{{client_id}}",
                "accessTokenUrl": "https://www.linkedin.com/oauth/v2/accessToken",
                "grant_type": "client_credentials",
                "tokenName": "tcrm-access-token",
                "addTokenTo": "header"
              }
            },
            "protocolProfileBehavior": {
              "disableBodyPruning": true
            }
          }
        ]
      }
    },
    "/v2/atsIntegrations/integrationContext=urn:li:organization:{org_id}&integrationType=ONE_CLICK_EXPORT&tenantType=RECRUITER&dataProvider=ATS/configurations": {
      "delete": {
        "tags": [
          "Module 1 - Customer Onboarding / Configure Customer Integrations / Sync Integration Configurations (Mandatory)"
        ],
        "summary": "Delete Integration Configuration - Job Posting Viewers",
        "description": "Customer can delete `JOB_POSTING_VIEWERS` Integration using this API. To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/integration-types#delete-integration-configurations)",
        "operationId": "DeleteIntegrationConfigurationJobPostingViewers",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "JOB_POSTING_VIEWERS"
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "examples": {
                "example1": {
                  "value": ""
                }
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "No response examples were saved in the Postman collection; status codes and response schemas are unknown."
          }
        },
        "security": [
          {
            "oauth2Auth": [ ]
          }
        ],
        "servers": [
          {
            "url": "https://api.linkedin.com"
          }
        ],
        "x-postman-warnings": [
          "No saved responses: status codes and response schemas cannot be inferred."
        ],
        "x-postman-variants": [
          {
            "name": "Delete Integration Configuration - Job Posting Viewers",
            "id": "840b721c-23f2-4d98-b4bf-484e78cd7c2c",
            "request": {
              "method": "DELETE",
              "header": [ ],
              "body": {
                "mode": "raw",
                "raw": ""
              },
              "url": {
                "raw": "https://api.linkedin.com/v2/atsIntegrations/integrationContext=urn:li:organization:{{org_id}}&integrationType=ONE_CLICK_EXPORT&tenantType=RECRUITER&dataProvider=ATS/configurations?ids=JOB_POSTING_VIEWERS",
                "protocol": "https",
                "host": [
                  "api",
                  "linkedin",
                  "com"
                ],
                "path": [
                  "v2",
                  "atsIntegrations",
                  "integrationContext=urn:li:organization:{{org_id}}&integrationType=ONE_CLICK_EXPORT&tenantType=RECRUITER&dataProvider=ATS",
                  "configurations"
                ],
                "query": [
                  {
                    "key": "ids",
                    "value": "JOB_POSTING_VIEWERS"
                  }
                ]
              },
              "description": "Customer can delete `JOB_POSTING_VIEWERS` Integration using this API. To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/integration-types#delete-integration-configurations)"
            },
            "response": [ ],
            "folders": [
              "Module 1 - Customer Onboarding",
              "Configure Customer Integrations",
              "Sync Integration Configurations (Mandatory)"
            ],
            "effectiveAuth": {
              "type": "oauth2",
              "oauth2": {
                "client_authentication": "body",
                "clientSecret": "{{client_secret}}",
                "clientId": "{{client_id}}",
                "accessTokenUrl": "https://www.linkedin.com/oauth/v2/accessToken",
                "grant_type": "client_credentials",
                "tokenName": "tcrm-access-token",
                "addTokenTo": "header"
              }
            },
            "protocolProfileBehavior": {
              "disableBodyPruning": true
            }
          }
        ]
      }
    },
    "/v2/atsIntegrations/integrationContext=urn:li:organization:{org_id}&integrationType=IN_ATS_INDICATOR&tenantType=RECRUITER&dataProvider=ATS/configurations": {
      "delete": {
        "tags": [
          "Module 1 - Customer Onboarding / Configure Customer Integrations / Sync Integration Configurations (Mandatory)"
        ],
        "summary": "Delete Integration Configuration - Application Viewers",
        "description": "Customer can delete `APPLICATION_VIEWERS` Integration using this API. To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/integration-types#delete-integration-configurations)",
        "operationId": "DeleteIntegrationConfigurationApplicationViewers",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "example1": {
                "value": "APPLICATION_VIEWERS"
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "examples": {
                "example1": {
                  "value": ""
                }
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "No response examples were saved in the Postman collection; status codes and response schemas are unknown."
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ],
        "servers": [
          {
            "url": "https://api.linkedin.com"
          }
        ],
        "x-postman-warnings": [
          "No saved responses: status codes and response schemas cannot be inferred."
        ],
        "x-postman-variants": [
          {
            "name": "Delete Integration Configuration - Application Viewers",
            "id": "8099d023-aa0c-407f-ad5b-7bedfc75012d",
            "request": {
              "auth": {
                "type": "bearer",
                "bearer": {
                  "token": "{{customer_access_token}}"
                }
              },
              "method": "DELETE",
              "header": [ ],
              "body": {
                "mode": "raw",
                "raw": ""
              },
              "url": {
                "raw": "https://api.linkedin.com/v2/atsIntegrations/integrationContext=urn:li:organization:{{org_id}}&integrationType=IN_ATS_INDICATOR&tenantType=RECRUITER&dataProvider=ATS/configurations?ids=APPLICATION_VIEWERS",
                "protocol": "https",
                "host": [
                  "api",
                  "linkedin",
                  "com"
                ],
                "path": [
                  "v2",
                  "atsIntegrations",
                  "integrationContext=urn:li:organization:{{org_id}}&integrationType=IN_ATS_INDICATOR&tenantType=RECRUITER&dataProvider=ATS",
                  "configurations"
                ],
                "query": [
                  {
                    "key": "ids",
                    "value": "APPLICATION_VIEWERS"
                  }
                ]
              },
              "description": "Customer can delete `APPLICATION_VIEWERS` Integration using this API. To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/integration-types#delete-integration-configurations)"
            },
            "response": [ ],
            "folders": [
              "Module 1 - Customer Onboarding",
              "Configure Customer Integrations",
              "Sync Integration Configurations (Mandatory)"
            ],
            "effectiveAuth": {
              "type": "bearer",
              "bearer": {
                "token": "{{customer_access_token}}"
              }
            },
            "protocolProfileBehavior": {
              "disableBodyPruning": true
            }
          }
        ]
      }
    },
    "/v2/atsIntegrations/integrationContext=urn:li:organization:{org_id}&integrationType=ONE_CLICK_EXPORT&tenantType=RECRUITER&dataProvider=ATS": {
      "delete": {
        "tags": [
          "Module 1 - Customer Onboarding / Configure Customer Integrations / Delete ATS Integrations for Development App"
        ],
        "summary": "Delete ATS Integration CRM_ONE_CLICK_EXPORT",
        "operationId": "DeleteATSIntegrationCRMONECLICKEXPORT",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No response examples were saved in the Postman collection; status codes and response schemas are unknown."
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ],
        "servers": [
          {
            "url": "https://api.linkedin.com"
          }
        ],
        "x-postman-warnings": [
          "No saved responses: status codes and response schemas cannot be inferred."
        ],
        "x-postman-variants": [
          {
            "name": "Delete ATS Integration CRM_ONE_CLICK_EXPORT",
            "id": "4370ef4f-120a-45b1-b440-068985e13301",
            "request": {
              "auth": {
                "type": "bearer",
                "bearer": {
                  "token": "{{customer_access_token}}"
                }
              },
              "method": "DELETE",
              "header": [ ],
              "url": "https://api.linkedin.com/v2/atsIntegrations/integrationContext=urn:li:organization:{{org_id}}&integrationType=ONE_CLICK_EXPORT&tenantType=RECRUITER&dataProvider=ATS"
            },
            "response": [ ],
            "folders": [
              "Module 1 - Customer Onboarding",
              "Configure Customer Integrations",
              "Delete ATS Integrations for Development App"
            ],
            "effectiveAuth": {
              "type": "bearer",
              "bearer": {
                "token": "{{customer_access_token}}"
              }
            },
            "protocolProfileBehavior": {
              "disableBodyPruning": true
            }
          }
        ]
      }
    },
    "/v2/atsIntegrations/integrationContext=urn:li:organization:{org_id}&integrationType=IN_ATS_INDICATOR&tenantType=RECRUITER&dataProvider=ATS": {
      "delete": {
        "tags": [
          "Module 1 - Customer Onboarding / Configure Customer Integrations / Delete ATS Integrations for Development App"
        ],
        "summary": "Delete ATS Integration IN_ATS_INDICATOR",
        "operationId": "DeleteATSIntegrationINATSINDICATOR",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No response examples were saved in the Postman collection; status codes and response schemas are unknown."
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ],
        "servers": [
          {
            "url": "https://api.linkedin.com"
          }
        ],
        "x-postman-warnings": [
          "No saved responses: status codes and response schemas cannot be inferred."
        ],
        "x-postman-variants": [
          {
            "name": "Delete ATS Integration IN_ATS_INDICATOR",
            "id": "35890f77-ec0c-4e75-9c2b-ab3b373d4922",
            "request": {
              "auth": {
                "type": "bearer",
                "bearer": {
                  "token": "{{customer_access_token}}"
                }
              },
              "method": "DELETE",
              "header": [ ],
              "url": "https://api.linkedin.com/v2/atsIntegrations/integrationContext=urn:li:organization:{{org_id}}&integrationType=IN_ATS_INDICATOR&tenantType=RECRUITER&dataProvider=ATS"
            },
            "response": [ ],
            "folders": [
              "Module 1 - Customer Onboarding",
              "Configure Customer Integrations",
              "Delete ATS Integrations for Development App"
            ],
            "effectiveAuth": {
              "type": "bearer",
              "bearer": {
                "token": "{{customer_access_token}}"
              }
            },
            "protocolProfileBehavior": {
              "disableBodyPruning": true
            }
          }
        ]
      }
    },
    "/v2/atsIntegrations/integrationContext=urn:li:organization:{org_id}&integrationType=PROFILE_PLUGIN&tenantType=RECRUITER&dataProvider=ATS": {
      "delete": {
        "tags": [
          "Module 1 - Customer Onboarding / Configure Customer Integrations / Delete ATS Integrations for Development App"
        ],
        "summary": "Delete ATS Integration PROFILE_PLUGIN",
        "operationId": "DeleteATSIntegrationPROFILEPLUGIN",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No response examples were saved in the Postman collection; status codes and response schemas are unknown."
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ],
        "servers": [
          {
            "url": "https://api.linkedin.com"
          }
        ],
        "x-postman-warnings": [
          "No saved responses: status codes and response schemas cannot be inferred."
        ],
        "x-postman-variants": [
          {
            "name": "Delete ATS Integration PROFILE_PLUGIN",
            "id": "8bb596b1-1a04-4a19-a13f-b7fb0f3cda2c",
            "request": {
              "auth": {
                "type": "bearer",
                "bearer": {
                  "token": "{{customer_access_token}}"
                }
              },
              "method": "DELETE",
              "header": [ ],
              "url": "https://api.linkedin.com/v2/atsIntegrations/integrationContext=urn:li:organization:{{org_id}}&integrationType=PROFILE_PLUGIN&tenantType=RECRUITER&dataProvider=ATS"
            },
            "response": [ ],
            "folders": [
              "Module 1 - Customer Onboarding",
              "Configure Customer Integrations",
              "Delete ATS Integrations for Development App"
            ],
            "effectiveAuth": {
              "type": "bearer",
              "bearer": {
                "token": "{{customer_access_token}}"
              }
            },
            "protocolProfileBehavior": {
              "disableBodyPruning": true
            }
          }
        ]
      }
    },
    "/v2/atsIntegrations/integrationContext=urn:li:contract:{contract_id}&integrationType=CAS_PROFILE&tenantType=RECRUITER&dataProvider=ATS": {
      "delete": {
        "tags": [
          "Module 1 - Customer Onboarding / Configure Customer Integrations / Delete ATS Integrations for Development App"
        ],
        "summary": "Delete ATS Integration CSA_PROFILE",
        "operationId": "DeleteATSIntegrationCSAPROFILE",
        "parameters": [
          {
            "name": "contract_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No response examples were saved in the Postman collection; status codes and response schemas are unknown."
          }
        },
        "security": [
          {
            "oauth2Auth": [ ]
          }
        ],
        "servers": [
[...]
