{
  "openapi": "3.0.4",
  "info": {
    "title": "Merged OpenAPI",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.linkedin.com"
    },
    {
      "url": "https://{{baseUrl}}"
    }
  ],
  "paths": {
    "/learning-activity-reports/v2/learningActivityReports": {
      "get": {
        "summary": "Learning Activity Reports",
        "description": "Learning Activity Reports API\n\nThis resource represents LinkedIn Learning activity reports like course completions, seconds of content viewed and learner logins. You can use these methods to aggregate activity data by account, group, individual or content.\n\nDocumentation: [https://docs.microsoft.com/en-us/linkedin/learning/reference/learning-activity-reports-reference#definitions](https://docs.microsoft.com/en-us/linkedin/learning/reference/learning-activity-reports-reference#definitionsParameters)\n\n*Access to LinkedIn Learning APIs is available to members of our [Partner Program](https://learning.linkedin.com/partners) and organizations that have purchased LinkedIn Learning site licenses.*",
        "operationId": "LearningActivityReportsLearningActivityReports",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "startedAt",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "timeOffset.unit",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeOffset.duration",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "aggregationCriteria.primary",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "aggregationCriteria.secondary",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contentSource",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortBy.engagementMetricType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortBy.engagementMetricQualifier",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locale.language",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assetType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contentSource",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referer",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LearningActivityReportsLearningActivityReports200Response"
                }
              }
            }
          }
        }
      }
    },
    "/learning-content/v2/learningAssets/{assetUrn}": {
      "get": {
        "summary": "Learning Assets by Individual Asset URN",
        "description": "To retrieve an individual learning asset, given an URN, issue a GET request to the following endpoint:\nGET https://api.linkedin.com/v2/learningAssets/{URN}\n\nThe URN types supported by this endpoint are \"urn:li:lyndaCourse\", \"urn:li:lyndaChapter\", and \"urn:li:lyndaVideo\".\n\n\nDocumentation: https://docs.microsoft.com/en-us/linkedin/learning/integrations/retrieve-an-individual-learning-object#learningassets-get\n\n*Access to LinkedIn Learning APIs is available to members of our [Partner Program](https://learning.linkedin.com/partners) and organizations that have purchased LinkedIn Learning site licenses.*",
        "operationId": "LearningContentLearningAssetsByIndividualAssetUrn",
        "parameters": [
          {
            "name": "assetUrn",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "targetLocale.language",
            "in": "query",
            "description": "The locale language the API will use to try to localize the learning asset. The value of this parameter should be de, en, es, fr, or ja. These values correspond to the locales \"de_DE\", \"en_US\", \"es_ES\", \"fr_FR\", and \"ja_JP\".",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "targetLocale.country",
            "in": "query",
            "description": "The locale country the API will use to try to localize the learning asset. The value of this parameter should be DE, US, ES, FR, or JP. These values correspond to the locales \"de_DE\", \"en_US\", \"es_ES\", \"fr_FR\", and \"ja_JP\". ",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expandDepth",
            "in": "query",
            "description": "The number of levels in the learning asset hierarchy to include asset details. Default is 1. ",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "includeRetired",
            "in": "query",
            "description": "Whether to include retired learning assets. The value of this parameter should be true or false.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "referer",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/LearningContentLearningAssetsByIndividualAssetUrn200PlainResponse"
                }
              }
            }
          }
        }
      }
    },
    "/learning-content/v2/learningAssets": {
      "get": {
        "summary": "Learning Assets by Locale and Type",
        "description": "To retrieve a page of learning assets, given some criteria, issue a GET call to the following endpoint:\nGET https://api.linkedin.com/v2/learningAssets?q=localeAndType\n\nDocumentation: https://docs.microsoft.com/en-us/linkedin/learning/integrations/locale-and-type-api#learningassets-localeandtype-finder\n\n*Access to LinkedIn Learning APIs is available to members of our [Partner Program](https://learning.linkedin.com/partners) and organizations that have purchased LinkedIn Learning site licenses.*",
        "operationId": "LearningContentLearningAssetsByLocaleAndType",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "The value of this parameter should always be: localeAndType.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceLocale.language",
            "in": "query",
            "description": "The locale language of the learning assets. The value of this parameter should be de, en, es, fr, or ja. These values correspond to the locales \"de_DE\", \"en_US\", \"es_ES\", \"fr_FR\", and \"ja_JP\".",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceLocale.country",
            "in": "query",
            "description": "The locale country of the learning assets. The value of this parameter should be DE, US, ES, FR, or JP. These values correspond to the locales \"de_DE\", \"en_US\", \"es_ES\", \"fr_FR\", and \"ja_JP\".",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expandDepth",
            "in": "query",
            "description": "The number of levels in the learning asset hierarchy to include asset details. This parameter is optional; please see the Specifying the level of asset details section for an explanation with examples.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "includeRetired",
            "in": "query",
            "description": "Whether to include retired learning assets. The value of this parameter should be true or false. ",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "The start index of learning assets for the page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "The number of learning assets to include in the page. Please choose a reasonable value if overriding the default; the API will return an error if the requested page exceeds the 2 MB response size limit of the framework.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "assetType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referer",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/LearningContentLearningAssetsByLocaleAndType200PlainResponse"
                }
              }
            }
          }
        }
      }
    },
    "/learning-content/v2/learningClassifications": {
      "get": {
        "summary": "Learning Classifications by Keyword",
        "description": "To retrieve learning classifications for a keyboard, use a GET request supplied with a keyword to receive all of the classifications for that keyword. [https://api.linkedin.com/v2/learningClassifications?q=keyword&keyword=business](https://api.linkedin.com/v2/learningClassifications/{URN})\n\nDocumentation: [https://docs.microsoft.com/en-us/linkedin/learning/reference/learningclassifications#keyword](https://docs.microsoft.com/en-us/linkedin/learning/reference/learningclassifications#keyword)\n\n*Access to LinkedIn Learning APIs is available to members of our [Partner Program](https://learning.linkedin.com/partners) and organizations that have purchased LinkedIn Learning site licenses.*",
        "operationId": "LearningContentLearningClassificationsByKeyword",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "The value of this parameter should always be keyword.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "The keyword string to search learning classifications. The search results will include only learning classifications matching this keyword string, as determined by LinkedIn Learning's relevance algorithm. The value of this parameter is case-insensitive.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceLocale.country",
            "in": "query",
            "description": "The locale country the API will use to try to localize the learning classification. The value of this parameter should be DE, US, ES, FR, or JP. These values correspond to the locales \"de_DE\", \"en_US\", \"es_ES\", \"fr_FR\", and \"ja_JP\". ",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceLocale.language",
            "in": "query",
            "description": "The locale language the API will use to try to localize the learning classification. The value of this parameter should be de, en, es, fr, or ja. These values correspond to the locales \"de_DE\", \"en_US\", \"es_ES\", \"fr_FR\", and \"ja_JP\".",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "The start index of learning classifications for the page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "The number of learning classifications to include in the page. The maximum supported count is 100 classifications per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "referer",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Learning Classifications by Keyword",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LearningContentLearningClassificationsByKeywordDefaultResponse"
                }
              }
            }
          }
        }
      }
    },
    "/learning-content/v2/learningClassifications/{categoryUrn}": {
      "get": {
        "summary": "Learning Classifications by Category Urn",
        "description": "To retrieve an individual learning classification, given an URN, issue a GET request to the following endpoint:\nGET https://api.linkedin.com/v2/learningClassifications/{URN}\n\nThe URN types supported by this endpoint are \"urn:li:lyndaCategory\" and \"urn:li:skill\".\n\nDocumentation: https://docs.microsoft.com/en-us/linkedin/learning/integrations/retrieve-an-individual-learning-object#learningclassifications-get\n\n*Access to LinkedIn Learning APIs is available to members of our [Partner Program](https://learning.linkedin.com/partners) and organizations that have purchased LinkedIn Learning site licenses.*",
        "operationId": "LearningContentLearningClassificationsByCategoryUrn",
        "parameters": [
          {
            "name": "categoryUrn",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "targetLocale.language",
            "in": "query",
            "description": "The locale language the API will use to try to localize the learning classification. The value of this parameter should be de, en, es, fr, or ja. These values correspond to the locales \"de_DE\", \"en_US\", \"es_ES\", \"fr_FR\", and \"ja_JP\".",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "targetLocale.country",
            "in": "query",
            "description": "The locale country the API will use to try to localize the learning classification. The value of this parameter should be DE, US, ES, FR, or JP. These values correspond to the locales \"de_DE\", \"en_US\", \"es_ES\", \"fr_FR\", and \"ja_JP\". ",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referer",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LearningContentLearningClassificationsByCategoryUrn200Response"
                }
              }
            }
          }
        }
      }
    },
    "/apply-connect/v2/provisionedApplications": {
      "post": {
        "summary": "Provision Customer Application",
        "operationId": "ApplyConnectProvisionCustomerApplication",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplyConnectProvisionCustomerApplicationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": [
          { }
        ]
      },
      "get": {
        "summary": "Get App by uniqueForeignID",
        "operationId": "ApplyConnectGetAppByUniqueForeignId",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uniqueForeignId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/apply-connect/v2/atsIntegrations": {
      "post": {
        "summary": "Sync Customer Integrations",
        "operationId": "ApplyConnectSyncCustomerIntegrations",
        "parameters": [
          {
            "name": "ids[0].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].integrationType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].tenantType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].dataProvider",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-restli-method",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplyConnectSyncCustomerIntegrationsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": [
          { }
        ]
      },
      "get": {
        "summary": "Verify Integrations",
        "operationId": "ApplyConnectVerifyIntegrations",
        "parameters": [
          {
            "name": "ids[0].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].integrationType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].tenantType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].dataProvider",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/apply-connect/v2/simpleJobPostings": {
      "post": {
        "summary": "Sync Jobs",
        "operationId": "ApplyConnectSyncJobs",
        "parameters": [
          {
            "name": "x-restli-method",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplyConnectSyncJobsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/apply-connect/v2/simpleJobPostingTasks": {
      "post": {
        "summary": "Check Job Operation Task Status",
        "operationId": "ApplyConnectCheckJobOperationTaskStatus",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HTTP-Method-Override",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/ApplyConnectCheckJobOperationTaskStatusXWwwFormUrlencodedRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/apply-connect/v2/jobPostingStatus": {
      "post": {
        "summary": "Check Job Posting Status",
        "operationId": "ApplyConnectCheckJobPostingStatus",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HTTP-Method-Override",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/ApplyConnectCheckJobPostingStatusXWwwFormUrlencodedRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/apply-connect/ambry": {
      "get": {
        "summary": "Get Resume/Cover Letter",
        "operationId": "ApplyConnectGetResumeCoverLetter",
        "parameters": [
          {
            "name": "x-li-ambry-ep",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/apply-connect/v2/jobApplicationLifecycleActions": {
      "post": {
        "summary": "Sync Job Application Feedback Signals",
        "operationId": "ApplyConnectSyncJobApplicationFeedbackSignals",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-RestLi-Method",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-RestLi-Protocol-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplyConnectSyncJobApplicationFeedbackSignalsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/job-posting/v2/simpleJobPostings": {
      "post": {
        "summary": "Close apply connect job posting",
        "description": "In order to update a job posting, you can just re-post the job with any changed information and `jobPostingOperationType` field value set as `CLOSE` .Please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/job-postings/api/sync-jobs-onsite-apply#apply-connect-jobs-lifecycle)",
        "operationId": "JobPostingCloseApplyConnectJobPosting",
        "parameters": [
          {
            "name": "x-restli-method",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobPostingCloseApplyConnectJobPostingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/job-posting/v2/simpleJobPostingTasks": {
      "get": {
        "summary": "Check close apply connect job operation status",
        "description": "`/SimpleJobPostingTasks` used to track the Status of Jobs. To learn more please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/job-postings/api/check-job-taskstatus)\n\nTo test and view the Jobs that you successfully posted , use https://www.linkedin.com/jobs/view/ { jobPosting ID }\njobPosting ID can be get from the response of /SimpleJobpostingtask\n\neg:https://www.linkedin.com/jobs/view/2722131308/",
        "operationId": "JobPostingCheckCloseApplyConnectJobOperationStatus",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/job-posting/v2/atsIntegrations": {
      "post": {
        "summary": "Update Customer Integrations",
        "operationId": "JobPostingUpdateCustomerIntegrations",
        "parameters": [
          {
            "name": "ids[0].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].integrationType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].tenantType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].dataProvider",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobPostingUpdateCustomerIntegrationsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "get": {
        "summary": "Check Customer Integration",
        "operationId": "JobPostingCheckCustomerIntegration",
        "parameters": [
          {
            "name": "ids[0].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].integrationType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].tenantType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].dataProvider",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/parent-application-management/v2/provisionedApplications": {
      "post": {
        "summary": "Provision Child Application",
        "description": "Use this API Endpoint when partner wants to create a child application for any of mutual customer. Refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/provisioning-api#create-application) for more information.",
        "operationId": "ParentApplicationManagementProvisionChildApplication",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ParentApplicationManagementProvisionChildApplicationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "get": {
        "summary": "Get Child Application",
        "description": "Use this API Endpoint when partner wants to fetch a child application for any of our mutual customer. Refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/provisioning-api#get-application) for more information.",
        "operationId": "ParentApplicationManagementGetChildApplication",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uniqueForeignId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/parent-application-management/v2/provisionedApplications/%7Bcustomer_application_urn%7D": {
      "post": {
        "summary": "Update OAuth2.0 Authorized CallBack URL for Child Application",
        "description": "Use this API Endpoint when partner wants to update OAuth2.0 Authorized CallBack URL for child application for any of mutual customer. Refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/provisioning-api#update-application) for more information.",
        "operationId": "ParentApplicationManagementUpdateOAuth20AuthorizedCallBackUrlForChildApplication",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ParentApplicationManagementUpdateOAuth20AuthorizedCallBackUrlForChildApplicationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/recruiter-system-connect/oauth/v2/accessToken": {
      "post": {
        "summary": "Get Customer Application Access Token",
        "operationId": "RecruiterSystemConnectGetCustomerApplicationAccessToken",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/RecruiterSystemConnectGetCustomerApplicationAccessTokenXWwwFormUrlencodedRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/recruiter-system-connect/v2/atsIntegrations": {
      "post": {
        "summary": "Update Customer ATSIntegration - CSA_API",
        "description": "`/atsIntegrations` used to update the customer Integration. To enable `CSA_API `, use `integrationType= CSA_API ` in the request body. Partner can update other RSC Integrations by changing `integrationType`.`CSA_API ` is Contract level Integration. To know more , please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/rsc-customer-configuration#sample-request)",
        "operationId": "RecruiterSystemConnectUpdateCustomerAtsIntegrationCsaapi",
        "parameters": [
          {
            "name": "ids[0].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].integrationType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].tenantType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].dataProvider",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-restli-method",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecruiterSystemConnectUpdateCustomerAtsIntegrationCsaapiRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "get": {
        "summary": "GET Notification Type INTEGRATION_STATUS_CHANGE",
        "description": "When a customer enables an integration, the onboarding status of that integration changes from `Partner Ready` to `Enabled`. When that happens, LinkedIn will send you a push notification with a unique ID.Use this endpoint with the unique notification ID to retrieve more information about the enabled integration.To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/rsc-customer-configuration#5-verify-customer-integrations-enablement)",
        "operationId": "RecruiterSystemConnectGetNotificationTypeIntegrationstatuschange",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requestId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/recruiter-system-connect/v2/atsIntegrations/integrationContext=urn:li:organization:{orgId}&integrationType=ONE_CLICK_EXPORT&tenantType=RECRUITER&dataProvider=ATS/configurations": {
      "put": {
        "summary": "Sync Integration Configuration - Job Posting Viewers (Optional)",
        "description": "API governs who may view job postings within the One-Click Export drop-down.Customers can use this API, if they are not using ACL's.To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/integration-types#integration-configuration-keys)",
        "operationId": "RecruiterSystemConnectSyncIntegrationConfigurationJobPostingViewersOptional",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-restli-method",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecruiterSystemConnectSyncIntegrationConfigurationJobPostingViewersOptionalRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Delete Integration Configuration - Job Posting Viewers",
        "description": "Customer can delete `JOB_POSTING_VIEWERS` Integration using this API. To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/integration-types#delete-integration-configurations)",
        "operationId": "RecruiterSystemConnectDeleteIntegrationConfigurationJobPostingViewers",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "get": {
        "summary": "Verify Customer Integrations - Configs",
        "description": "API used to retrieve the Customer Integration Configurations.To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/integration-types#verify-integration-configurations)",
        "operationId": "RecruiterSystemConnectVerifyCustomerIntegrationsConfigs",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/recruiter-system-connect/v2/atsIntegrations/integrationContext=urn:li:organization:{orgId}&integrationType=IN_ATS_INDICATOR&tenantType=RECRUITER&dataProvider=ATS/configurations": {
      "put": {
        "summary": "Sync Integration Configuration - Application Viewers (Optional)",
        "description": "API governs who may view job-related data (Interview Feedback, Notes, Applications, and Stages) within the In-ATS indicator.To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/integration-types#integration-configuration-keys)",
        "operationId": "RecruiterSystemConnectSyncIntegrationConfigurationApplicationViewersOptional",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-restli-method",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecruiterSystemConnectSyncIntegrationConfigurationApplicationViewersOptionalRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Delete Integration Configuration - Application Viewers",
        "description": "Customer can delete `APPLICATION_VIEWERS` Integration using this API. To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/integration-types#delete-integration-configurations)",
        "operationId": "RecruiterSystemConnectDeleteIntegrationConfigurationApplicationViewers",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/recruiter-system-connect/v2/atsIntegrations/integrationContext=urn:li:organization:%7Borg_id%7D&integrationType=ONE_CLICK_EXPORT&tenantType=RECRUITER&dataProvider=ATS": {
      "delete": {
        "summary": "Delete ATS Integration ONE_CLICK_EXPORT",
        "operationId": "RecruiterSystemConnectDeleteAtsIntegrationOneclickexport",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/recruiter-system-connect/v2/atsIntegrations/integrationContext=urn:li:organization:%7Borg_id%7D&integrationType=IN_ATS_INDICATOR&tenantType=RECRUITER&dataProvider=ATS": {
      "delete": {
        "summary": "Delete ATS Integration IN_ATS_INDICATOR",
        "operationId": "RecruiterSystemConnectDeleteAtsIntegrationInatsindicator",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/recruiter-system-connect/v2/atsIntegrations/integrationContext=urn:li:organization:%7Borg_id%7D&integrationType=PROFILE_PLUGIN&tenantType=RECRUITER&dataProvider=ATS": {
      "delete": {
        "summary": "Delete ATS Integration PROFILE_PLUGIN",
        "operationId": "RecruiterSystemConnectDeleteAtsIntegrationProfileplugin",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/recruiter-system-connect/v2/atsIntegrations/integrationContext=urn:li:contract:%7Bcontract_id%7D&integrationType=CSA_API&tenantType=RECRUITER&dataProvider=ATS": {
      "delete": {
        "summary": "Delete ATS Integration CSA_API",
        "operationId": "RecruiterSystemConnectDeleteAtsIntegrationCsaapi",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/recruiter-system-connect/v2/simpleJobPostings": {
      "post": {
        "summary": "Create Private Job",
        "description": "This call is for Syncing PUBLIC Jobs to LinkedIn from ATS. `availability` field set to `PRIVATE_TO_ATS_INTEGRATION`. Please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/job-postings/api/job-posting-api-schema#recruiter-system-connect-extension-schema)",
        "operationId": "RecruiterSystemConnectCreatePrivateJob",
        "parameters": [
          {
            "name": "x-restli-method",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecruiterSystemConnectCreatePrivateJobRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/recruiter-system-connect/v2/simpleJobPostingTasks": {
      "get": {
        "summary": "Get Private Job Creation Task Status",
        "description": "/SimpleJobPostingTasks used to track the Status of Jobs. To learn more please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/job-postings/api/check-job-taskstatus)\n\nCustomers can check Private Jobs from One-Click export dropdown in Recruiter as Private Jobs won't shows up in UI",
        "operationId": "RecruiterSystemConnectGetPrivateJobCreationTaskStatus",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/recruiter-system-connect/v2/atsCandidates": {
      "put": {
        "summary": "Sync Candidates",
        "description": "Customers can use `/atsCandidates` to sync candidates. Use your candidate identifier while syncing candidates via API. To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/sync-candidates#sync-candidates-1)",
        "operationId": "RecruiterSystemConnectSyncCandidates",
        "parameters": [
          {
            "name": "ids[0].atsCandidateId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].dataProvider",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-restli-method",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecruiterSystemConnectSyncCandidatesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "get": {
        "summary": "Sync Candidates - Retrieve Candidate Matches",
        "description": "Once customer Sync the candidates, customers can retrieve candidate details, which will include any algorithmic and user-supplied matches with LinkedIn members.\nCandidate Match can be two types:\n1.`matchedMembers`\n2.`manualMatchedMember`\nTo know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/sync-candidates#retrieve-candidate-matches)",
        "operationId": "RecruiterSystemConnectSyncCandidatesRetrieveCandidateMatches",
        "parameters": [
          {
            "name": "ids[0].atsCandidateId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].dataProvider",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "summary": "One Click Export - Attach Person URN",
        "description": "API used to attach a Person URN to a candidate.To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/sync-candidates#attach-person-urn-to-candidate)",
        "operationId": "RecruiterSystemConnectOneClickExportAttachPersonUrn",
        "parameters": [
          {
            "name": "ids[0].atsCandidateId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].dataProvider",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-restli-method",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecruiterSystemConnectOneClickExportAttachPersonUrnRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Sync Candidates - Delete",
        "description": "Delete on the `/atsCandidates` endpoint to deletes records. To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/rsc-data-deletion#delete-candidates)",
        "operationId": "RecruiterSystemConnectSyncCandidatesDelete",
        "parameters": [
          {
            "name": "ids[0].atsCandidateId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].dataProvider",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/recruiter-system-connect/v2/atsCandidates/atsCandidateId={candidateId}&dataProvider=ATS&integrationContext=urn:li:organization:{orgId}/notes": {
      "put": {
        "summary": "Sync Candidate Notes",
        "description": "Customer can use `/atsCandidates` endpoint to create and update candidate notes.To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/sync-candidate-notes)",
        "operationId": "RecruiterSystemConnectSyncCandidateNotes",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-restli-method",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "candidateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecruiterSystemConnectSyncCandidateNotesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Sync Candidate Notes - Delete Note",
        "description": "DELETE on `/atsCandidates/{CandidateIdentifier}/notes `endpoint to delete candidate notes.To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/rsc-data-deletion#delete-candidate-notes)",
        "operationId": "RecruiterSystemConnectSyncCandidateNotesDeleteNote",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "candidateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/recruiter-system-connect/v2/atsApplications": {
      "put": {
        "summary": "Sync Job Applications",
        "description": "`/atsApplications` to Sync Job Applications.Use Customer job application identifier when syncing via the API.To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/sync-applications)",
        "operationId": "RecruiterSystemConnectSyncJobApplications",
        "parameters": [
          {
            "name": "ids[0].atsJobApplicationId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].dataProvider",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-restli-method",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecruiterSystemConnectSyncJobApplicationsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Sync Job Applications - Delete",
        "description": "DELETE on `/atsApplications` endpoint to delete Application records. To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/rsc-data-deletion#delete-applications)",
        "operationId": "RecruiterSystemConnectSyncJobApplicationsDelete",
        "parameters": [
          {
            "name": "ids[0].atsJobApplicationId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].dataProvider",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/recruiter-system-connect/v2/hireMediaUrl": {
      "post": {
        "summary": "Create Upload Resume URL",
        "description": "`/hireMediaUrl` to create signed URL from LinkedIn and then use for uploading the file. please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/sync-applications#resume-upload)",
        "operationId": "RecruiterSystemConnectCreateUploadResumeUrl",
        "parameters": [
          {
            "name": "x-restli-method",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-RestLi-Protocol-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecruiterSystemConnectCreateUploadResumeUrlRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/recruiter-system-connect/v2/atsApplications/atsJobApplicationId={applicationId}&dataProvider=ATS&integrationContext=urn:li:organization:{orgId}/resumes": {
      "put": {
        "summary": "Sync Job Applications Resume",
        "description": "`/atsApplications` to Sync Job Applications.Use Customer job application identifier when syncing via the API.To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/sync-applications)",
        "operationId": "RecruiterSystemConnectSyncJobApplicationsResume",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-restli-method",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecruiterSystemConnectSyncJobApplicationsResumeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/recruiter-system-connect/v2/atsApplications/atsJobApplicationId={applicationId}&dataProvider=ATS&integrationContext=urn:li:organization:{orgId}/notes": {
      "put": {
        "summary": "Sync Job Application Notes",
        "description": "`/atsApplications` to create or update Application Notes.To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/sync-application-notes)",
        "operationId": "RecruiterSystemConnectSyncJobApplicationNotes",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-restli-method",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecruiterSystemConnectSyncJobApplicationNotesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Sync Job Application Notes - Delete",
        "description": "DELETE on the endpoint `/atsApplications/{JobApplicationIdentifier}/notes` to delete application notes. To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/rsc-data-deletion#delete-application-notes)",
        "operationId": "RecruiterSystemConnectSyncJobApplicationNotesDelete",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/recruiter-system-connect/v2/atsApplications/atsJobApplicationId={applicationId}&dataProvider=ATS&integrationContext=urn:li:organization:{orgId}/interviewFeedback": {
      "put": {
        "summary": "Sync Application Interview Feedback",
        "description": "Endpoint to create and update application interview feedbacK. To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/sync-application-interview-feedback)",
        "operationId": "RecruiterSystemConnectSyncApplicationInterviewFeedback",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecruiterSystemConnectSyncApplicationInterviewFeedbackRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Sync Application Interview Feedback - Delete",
        "description": "DELETE on the endpoint `/atsApplications/{JobApplicationIdentifier}/interviewFeedback` to delete interviews.To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/rsc-data-deletion#delete-application-interview-feedback)",
        "operationId": "RecruiterSystemConnectSyncApplicationInterviewFeedbackDelete",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/recruiter-system-connect/v2/atsApplications/atsJobApplicationId={applicationId}&dataProvider=ATS&integrationContext=urn:li:organization:{orgId}/stages": {
      "put": {
        "summary": "Sync Application Stages",
        "operationId": "RecruiterSystemConnectSyncApplicationStages",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-restli-method",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecruiterSystemConnectSyncApplicationStagesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Sync Application Stages - Delete",
        "description": "DELETE on the endpoint `/atsApplications/{JobApplicationIdentifier}/stages` to delete Job Application Stages.To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/rsc-data-deletion#delete-application-stages)",
        "operationId": "RecruiterSystemConnectSyncApplicationStagesDelete",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/recruiter-system-connect/v2/exportedCandidates": {
      "get": {
        "summary": "GET Notification Type EXPORT_CANDIDATE_PROFILE",
        "description": "When the callback URL has received a notification event of `EXPORT_CANDIDATE_PROFILE` type after `One_Click_Export`, you should then make an API call to retrieve the limited profile information of the exported candidate.To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/retrieve-exported-candidates#retrieving-exported-candidate-information)",
        "operationId": "RecruiterSystemConnectGetNotificationTypeExportcandidateprofile",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requestId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/recruiter-system-connect/v2/seatsV2": {
      "get": {
        "summary": "Retrieve Recruiter Seatholders",
        "description": "`/seats` used to retrieve the details of Contract Seat holders including name, email Id and unique ID.To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/recruiter-prospect-interactions/recruiter-seatholders#seats-deprecation-set-for-april-1-2022)",
        "operationId": "RecruiterSystemConnectRetrieveRecruiterSeatholders",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "active",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contracts",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/recruiter-system-connect/v2/conversationEvents": {
      "get": {
        "summary": "Retrieve InMail History",
        "description": "InMail History API allows you to retrieve InMail activity, both sent and received, that occurred on a given LinkedIn Recruiter contract.To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/recruiter-prospect-interactions/inmail-history#api-endpoint)",
        "operationId": "RecruiterSystemConnectRetrieveInMailHistory",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "viewer",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeRange.end",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeRange.start",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "threadUrn",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/recruiter-system-connect/v2/mailStubs": {
      "get": {
        "summary": "Retrieve InMail Stub Profiles",
        "description": "InMail Stub Profile API allows you to retrieve basic profile data of LinkedIn members that have replied to InMails sent from Recruiter seat holders.To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/recruiter-prospect-interactions/inmail-stub-profiles)",
        "operationId": "RecruiterSystemConnectRetrieveInMailStubProfiles",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contract",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "createdDateStart",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "createdDateEnd",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "owners",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/recruiter-system-connect/v2/prospectNotes": {
      "get": {
        "summary": "Retrieve Prospect Notes",
        "description": "Prospect Notes API allows you to retrieve notes that were created about prospects on a given Recruiter contract.To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/recruiter-prospect-interactions/prospect-notes)",
        "operationId": "RecruiterSystemConnectRetrieveProspectNotes",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contract",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cutoffDate",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "beforeDate",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "owners",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/recruiter-system-connect/v2/me": {
      "get": {
        "summary": "GET Person ID - With 3 legged OAuth Flow - r_liteprofile permission",
        "operationId": "RecruiterSystemConnectGetPersonIdWith3LeggedOAuthFlowRLiteprofilePermission",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/recruiter-system-connect/v2/atsEntityAcls": {
      "put": {
        "summary": "Upsert Entity ACL",
        "description": "Visibility of your customer's synced entities within LinkedIn products will depend on the ACLs you sync using `/atsEntityAcls`.To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/sync-acls#sync-entity-acls)",
        "operationId": "RecruiterSystemConnectUpsertEntityAcl",
        "parameters": [
          {
            "name": "ids[0].atsEntityAclId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].dataProvider",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].atsEntityType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].atsEntityId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-restli-method",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecruiterSystemConnectUpsertEntityAclRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "get": {
        "summary": "Retrieve Entity ACL",
        "description": "API used to retrieve the details of already Sync ACL.To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/sync-acls#retrieve-entity-acls)",
        "operationId": "RecruiterSystemConnectRetrieveEntityAcl",
        "parameters": [
          {
            "name": "atsEntityId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "atsEntityType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataProvider",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Delete Entity ACL",
        "description": "Endpoint used to delete already Synced ACL.To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/sync-acls#delete-entity-acls)",
        "operationId": "RecruiterSystemConnectDeleteEntityAcl",
        "parameters": [
          {
            "name": "ids[0].atsEntityAclId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].dataProvider",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].atsEntityId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].atsEntityType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/recruiter-system-connect/v2/atsEntityAclAssignees": {
      "put": {
        "summary": "Upsert Entity ACL Assignees",
        "description": "Endpoint to create and update ACL entities for assignees. To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/sync-acls#upsert-entity-acl-assignees)",
        "operationId": "RecruiterSystemConnectUpsertEntityAclAssignees",
        "parameters": [
          {
            "name": "ids[0].atsEntityAclId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].dataProvider",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].assignee",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].atsEntityType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-restli-method",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-RestLi-Protocol-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecruiterSystemConnectUpsertEntityAclAssigneesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "get": {
        "summary": "Retrieve Entity ACL Assignees",
        "description": "Endpoint to retrieve details of already synced ACL Assignees. To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/sync-acls#retrieve-entity-acl-assignee)",
        "operationId": "RecruiterSystemConnectRetrieveEntityAclAssignees",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assignee",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataProvider",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Delete Entity ACL Assignees",
        "description": "Endpoint to delete already synced ACL Assignees. To know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/sync-acls#delete-entity-acl-assignees)",
        "operationId": "RecruiterSystemConnectDeleteEntityAclAssignees",
        "parameters": [
          {
            "name": "ids[0].atsEntityAclId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].dataProvider",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].integrationContext",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].assignee",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[0].atsEntityType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/linkedin-live-events/v2/me": {
      "get": {
        "summary": "/me",
        "operationId": "LinkedinLiveEventsMe3",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/linkedin-live-events/v2/contentAccess/(entity:(member:urn%3Ali%3Aperson%3A{abcde}),featureType:LIVE_VIDEO)": {
      "get": {
        "summary": "/contentAccess",
        "operationId": "LinkedinLiveEventsContentAccess3",
        "parameters": [
          {
            "name": "X-RestLi-Protocol-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "abcde",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/linkedin-live-events/v2/liveAssetActions": {
      "post": {
        "summary": "/liveAssetActions end",
        "operationId": "LinkedinLiveEventsLiveAssetActionsEnd4",
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-RestLi-Method",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-RestLi-Protocol-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkedinLiveEventsLiveAssetActionsEnd4Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/linkedin-live-events/v2/assets/{abcde12345}": {
      "get": {
        "summary": "/assets?projection=(recipes) get",
        "operationId": "LinkedinLiveEventsAssetsProjectionRecipesGet2",
        "parameters": [
          {
            "name": "abcde12345",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projection",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/linkedin-live-events/v2/ugcPosts": {
      "post": {
        "summary": "/ugcPosts",
        "operationId": "LinkedinLiveEventsUgcPosts3",
        "parameters": [
          {
            "name": "X-RestLi-Method",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-RestLi-Protocol-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkedinLiveEventsUgcPosts3Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/linkedin-live-events/v2/organizationAcls": {
      "get": {
        "summary": "/organizationAcls",
        "operationId": "LinkedinLiveEventsOrganizationAcls2",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projection",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/linkedin-live-events/v2/contentAccess/(entity:(company:urn%3Ali%3Aorganization%3A{value12345}),admin:(member:urn%3Ali%3Aperson%3A{abcde}),featureType:LIVE_VIDEO)": {
      "get": {
        "summary": "/contentAccess",
        "operationId": "LinkedinLiveEventsContentAccess4",
        "parameters": [
          {
            "name": "X-RestLi-Protocol-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "value12345",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "abcde",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/linkedin-live-events/v2/liveVideos": {
      "get": {
        "summary": "/liveVideos?q=author",
        "operationId": "LinkedinLiveEventsLiveVideosQAuthor2",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "author",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-RestLi-Protocol-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "summary": "/liveVideos",
        "operationId": "LinkedinLiveEventsLiveVideos3",
        "parameters": [
          {
            "name": "X-RestLi-Protocol-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkedinLiveEventsLiveVideos3Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/linkedin-live-events/v2/assets": {
      "post": {
        "summary": "/assets (optional announcement image)",
        "operationId": "LinkedinLiveEventsAssetsOptionalAnnouncementImage2",
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-RestLi-Protocol-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkedinLiveEventsAssetsOptionalAnnouncementImage2Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/linkedin-live-events/v2/liveVideos/{value123456789}": {
      "post": {
        "summary": "/liveVideos",
        "operationId": "LinkedinLiveEventsLiveVideos4",
        "parameters": [
          {
            "name": "value123456789",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-RestLi-Protocol-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkedinLiveEventsLiveVideos4Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/compliance-events/v2/memberComplianceAuthorizations": {
      "post": {
        "summary": "Opt in a member to be regulated",
        "operationId": "ComplianceEventsOptInAMemberToBeRegulated",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ComplianceEventsOptInAMemberToBeRegulatedRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "get": {
        "summary": "Check a member's regulation status",
        "operationId": "ComplianceEventsCheckAMemberSRegulationStatus",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/compliance-events/v2/memberComplianceAuthorizations/developerApplication=urn:li:developerApplication:%7Bdeveloper_application_id%7D&member=urn:li:person:%7Bperson_id%7D": {
      "delete": {
        "summary": "Opt out a member from being regulated",
        "description": "Opt out a member from being regulated on LinkedIn.\n\n**Note:** A member will not opt out of Compliance authorization due to access token expiration. The only ways an opt out can happen are:\n* Application invokes the DELETE API mentioned above\n* The regulated member removes the application's authorization through LinkedIn's Privacy Setting page. This can be found under the [Third Parties section](https://www.linkedin.com/psettings/permitted-services).\n\n\nTo know more, please [refer](https://docs.microsoft.com/en-us/linkedin/compliance/integrations/compliance-events/?context=linkedin/compliance/context#sample-get-response).",
        "operationId": "ComplianceEventsOptOutAMemberFromBeingRegulated",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/compliance-events/v2/complianceEvents": {
      "get": {
        "summary": "Retrieve compliance events for a regulated member",
        "description": "Once the member has authorized to be regulated, the compliance events for the member can be retrieved using the `/v2/complianceEvents` API. \n\nTo know more on the response schema, refer [here](https://docs.microsoft.com/en-us/linkedin/compliance/integrations/compliance-events/?context=linkedin/compliance/context#compliance-events-schema).\n\nTo know more, please refer [here](https://docs.microsoft.com/en-us/linkedin/compliance/integrations/compliance-events/?context=linkedin/compliance/context#compliance-events).",
        "operationId": "ComplianceEventsRetrieveComplianceEventsForARegulatedMember",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projection",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startTime",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/reporting-roi/adAnalytics": {
      "get": {
        "summary": "Ad Metrics By Ad Account + Campaign Group + Campaign",
        "operationId": "ReportingRoiAdMetricsByAdAccountCampaignGroupCampaign",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pivots",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dateRange",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accounts",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeGranularity",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LinkedIn-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Restli-Protocol-Version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
[...]
